#eventos
  = image_tag "mobile/eventos/banner.jpg", {:class => "image-centered", :width => "100%"}
  %br
  = image_tag "mobile/titulos/eventos.png", {:class => "image-centered", :width => "100%"}
  .contengo-eventos
    - @eventos.each do |e|
      = link_to m_evento_path(e) do
        = image_tag(e.photo(:normal))