#main
  #productos
    #single-producto
      .marca
        - if @producto.activo?
          - unless @producto.marca.logo_file_size.nil?
            = image_tag @producto.foto.url(:normal), :id => "prod", :class => "le_producto", :itemprop => 'image'
          .info
            %span.precio{:itemprop => "price"}
              #{number_to_currency(@producto.precio, :precision => 0)}
            %span.marcab
              =@producto.marca.marca
            %span.producto
              %p{:itemprop => "name"}
                =@producto.nombre
          .contenidos{:itemprop => "description"}
            - unless @producto.descripcion.nil? || @producto.descripcion.size < 5
              #tab3.tabdesc
                .descripcion
                  =@producto.descripcion.html_safe
            - unless @producto.usos.nil? || @producto.usos.size < 5
              #tab3.tabdesc
                .descripcion
                  =@producto.usos.html_safe
        - else
          %h1.text-center
            Producto descontinuado :(
          .text-center
            = link_to "Coninuar... ", m_home_path, {:class => "btn btn-default"}

