%ul#redes
	%li
		%a.yt{:href => "/"}
	%li
		%a.fb{:href => "/"}
	%li
		%a.tw{:href => "/"}
	%li
		%a.it{:href => "/"}
	%li
		%a.pi{:href => "/"}
%ul#subfooter
	%li.aviso Aviso privacidad
	%li Contacto
	%li Tiendas
	.clearfix