%ul#redes
	%li
		%a.yt{:href => "https://www.youtube.com/user/SephoraMex", :target => "_blank"}
	%li
		%a.fb{:href => "https://www.facebook.com/SephoraMX", :target => "_blank"}
	%li
		%a.tw{:href => "https://twitter.com/SephoraMX", :target => "_blank"}
	%li
		%a.it{:href => "http://instagram.com/sephoramx", :target => "_blank"}
	%li
		%a.pi{:href => "http://www.pinterest.com/sephoramx/", :target => "_blank"}
%ul#subfooter
	%li.aviso Aviso privacidad
	%li= link_to "Contacto", "mailto:contacto@sephora.com.mx", {:target => "_blank"}
	%li= link_to "Tiendas", m_tiendas_path
	.clearfix