#main{:view=>"catalogo"}
	#contengo_catalogo.container_24
		.blank
			=link_to "regresar", :marcjacobs
		%iframe{:height => "780", :src => "https://docs.google.com/a/outofthebox.mx/file/d/1INIaADYA5et4Q9CT8oV3bOAkM-G1QzKlF47EIHeEsSZ7orFOeNu51g64h05J/view?usp=drive_web", :style => "border: none;", :width => "100%"}