#main{:view=>"look"}
	.content.container_24
		#izquierda.grid_10
		#centro.grid_4
			.menu_ppal
				=image_tag("marcjacobs/marc_logo_black.png", alt: "Edit Entry", class: "logo")
				%ul.menu
					%li
						=link_to "ojos",marc_ojos_path
					%li
						=link_to "rostro",marc_rostro_path
					%li
						=link_to "labios",marc_labios_path
					%li
						=link_to "uñas",marc_unas_path
					%li.upperLine
						=link_to "favoritos",marc_favs_path
					%li
						=link_to "obtén el look",marc_look_path, {:class=>"selected"}
					%li
						=link_to "descarga el catálogo","#"
			.clearfix
		#derecha.grid_10
			.producto.video1
				%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "229", :src => "http://www.youtube.com/embed/xmGG-e2iwv4", :title => "YouTube video player", :width => "390"}
				.mensaje
					.info
						%h1
							GET THE LOOK
						%p
							Encuentra tu estilo y aprende cómo crear este icónico look de Marc Jacobs Beauty: The Vamp.
					.irA
			=image_tag("marcjacobs/frase_looks.jpg", alt: "Edit Entry", class: "logo")
		.clearfix