=image_tag 'atelier/main_landing.jpg'
=image_tag 'atelier/banner_txt.jpg'
.table.full.atelier-menu
  .tcell.t25
    =link_to "Collection<br/>Azur".html_safe, collectionazur_path
  .tcell.t25
    =link_to "Collection<br/>Originale".html_safe, collectionoriginale_path
  .tcell.t25
    =link_to "Collection<br/>Matiéres Absolues".html_safe, collectionmatiere_path
  .tcell.t25
    =link_to "Collection<br/>Métal".html_safe, collectionmetal_path
