= image_tag 'masks/mask_party/Banner.png', width: 747, height: 322
%ul.mascarillas_menu
  %li=link_to image_tag('masks/mask_party/boton1.png', height: 45), mascarillashidratantes_path
  %li=link_to image_tag('masks/mask_party/boton-2.png', height: 45), mascarillasantiedad_path
  %li=link_to image_tag('masks/mask_party/boton-3.png', height: 45), mascarillasmultibeneficio_path
  
