.eventos.e3
  .foto_evento
    =image_tag 'eventos/imgeventos/noviembre/1min.png'
  .info_cont_evento
    .titulo_evento
      1 Amazing Minute Stand
    .sub_evento
      Descubre cómo un minuto al día puede cambiar tu piel con clarisonic. ¡Prepárate para lucir la piel más limpia y hermosa que nunca!
    .evento_cont
      %span{:class=>'evento_bold'} Sephora Antara
      Noviembre 15 y 16
      %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=1%20Amazing%20Minute%20Stand&field108=Antara'}
        .reserva_evento
    .evento_cont
      %span{:class=>'evento_bold'} Sephora Angelópolis
      Noviembre 28 y 30
      %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=1%20Amazing%20Minute%20Stand&field108=Angelopolis'}
        .reserva_evento
%hr