#basecontorno
  .wrap
    .header.table.full
      .tcell.t50
        =link_to image_tag('basecontorno/home/logo.png', class: 'logo'), root_path
      .tcell.t50
        %ul.menu
          %li=link_to "Foundation", basecontorno_foundation_path
          %li=link_to "Contour", basecontorno_contour_path
    #girl
      .table.full
        %a.tcell.t50#izq{href: basecontorno_foundation_path}
          = image_tag 'basecontorno/home/foundation_txt.png', class: 'foundation'
          = image_tag 'basecontorno/home/senalador_izq.png', class: 'line-foundation'
        %a.tcell.t50#der{href: basecontorno_contour_path}
          = image_tag 'basecontorno/home/contour_txt.png', class: 'contour'
          = image_tag 'basecontorno/home/senalador_der.png', class: 'line-contour'
  .footer
    .wrap
      .table.full
        .tcell.t50
          =link_to image_tag('basecontorno/home/web_footer.png', class: 'footer-logo'), root_path
        .tcell.t50
          =image_tag 'basecontorno/home/lineas_footer.png', class: 'lines'
          %ul.social
            %li=link_to image_tag('basecontorno/home/fb.png'), 'https://www.facebook.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/tw.png'), 'https://twitter.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/yt.png'), 'http://www.youtube.com/SephoraMex', target: :blank
            %li=link_to image_tag('basecontorno/home/ig.png'), 'https://instagram.com/sephoramx/', target: :blank