#basecontorno
  .wrap
    .header.table.full
      .tcell.t50
        =link_to image_tag('basecontorno/home/logo.png', class: 'logo'), root_path
      .tcell.t50
        %ul.menu
          %li=link_to "Foundation", basecontorno_foundation_path
          %li=link_to "Contour", basecontorno_contour_path
  .content.contour
    .wrap
      .table.full
        .tcell.t50.first-content
          =image_tag 'basecontorno/contour/contour_titulo.png', class: 'inner-title'
          %h3
            RESALTA TU BELLEZA COMO UNA
            %b PRO.
          %p
            Perfecciona tu rostro dominando el
            %b arte de usar las sombras y la luz
            para esculpir, definir y resaltar tus facciones. Al aplicar tonos obscuros en las zonas que quieres profundizar y tonos luminosos para
            %b agregar dimensión
            , definirás mejillas, nariz y la forma de tu rostro.
          = image_tag 'basecontorno/contour/contour_musthave_txt.png', class: 'must'
          .table.full.products
            - ['811999021200', '689304184595', '094800348776'].each do |upc|
              - prod = Producto.find_by_upc(upc)
              .tcell.t33
                %a.prod{href: producto_ver_path(prod.slug)}
                  .img
                    =image_tag prod.foto.url(:chico)
                  %p
                    %b=prod.marca.marca
                  %p=prod.nombre
          .table.full
            =link_to "Explora Toda La Categoría >", "http://www.sephora.com.mx/categoria/contorno?utm_source=SitioWeb&utm_medium=Micrositio&utm_campaign=Contour", class: 'explore'
        .tcell.t50
          =image_tag 'basecontorno/contour/contour_modelo.png'
    .table.full.black
      =image_tag 'basecontorno/contour/concerns_pleca.png'
    .concern.table.full
      .wrap
        .tcell.t30
        .tcell.t70.second-content
          %h3 ¡CONOCEMOS TU PREOCUPACIÓN Y SABEMOS CÓMO SOLUCIONARLA!
          %h4
            Cada tipo de rostro es diferente
            %br
            y conocemos la técnica especial para ti
          %p
            ¡Identifica tu tipo de rostro y aprende a contornearlo
            %br
            con los tips de nuestros expertos!
          =link_to image_tag('basecontorno/contour/comienza_btn.png'), basecontorno_contour_concern_path, class: 'link'
    .table.full.brown2
      =image_tag 'basecontorno/contour/contour_bff_pleca.png'
    .wrap
      .table.full.third-content
        .tcell.t50
          =image_tag 'basecontorno/contour/contour_brocahas_txt.png', class: 'title'
          .table.full.products
            - ['811999021224','94800348806','3378872074977'].each do |upc|
              - prod = Producto.find_by_upc(upc)
              .tcell.t33
                %a.prod{href: producto_ver_path(prod.slug)}
                  .img
                    =image_tag prod.foto.url(:chico)
                  %p
                    %b=prod.marca.marca
                  %p=prod.nombre
          .table.full.explorit
            =link_to "Explora Todas Nuestras Bases >", "http://www.sephora.com.mx/categoria/brochas-y-aplicadores-brochas?utm_source=SitioWeb&utm_medium=Micrositio&utm_campaign=ContourBrochasuu", class: 'explore'
        .tcell.t50
          =image_tag 'basecontorno/contour/bronzers_txt.png', class: 'title'
          .table.full.products
            - ['3346470419469', '651986701636', '877231001959'].each do |upc|
              - prod = Producto.find_by_upc(upc)
              .tcell.t33
                %a.prod{href: producto_ver_path(prod.slug)}
                  .img
                    =image_tag prod.foto.url(:chico)
                  %p
                    %b=prod.marca.marca
                  %p=prod.nombre
          .table.full.explorit
            =link_to "Explora Todos Nuestros Bronzers e Iluminadores >", "http://www.sephora.com.mx/categoria/bronzer?utm_source=SitioWeb&utm_medium=Micrositio&utm_campaign=Bronzer", class: 'explore'
    .table.full.black
      =image_tag 'basecontorno/contour/protips_pleca.png'
    .wrap
      .table.full.fourth-section
        .tcell.t33
          =image_tag 'basecontorno/contour/contour_tip1.png'
        .tcell.t33
          =image_tag 'basecontorno/contour/contour_tip2.png', class: 'level'
        .tcell.t33
          =image_tag 'basecontorno/contour/contour_tip3.png'
  .footer
    .wrap
      .table.full
        .tcell.t50  
          =link_to image_tag('basecontorno/home/web_footer.png', class: 'footer-logo'), root_path
        .tcell.t50  
          =image_tag 'basecontorno/home/lineas_footer.png', class: 'lines'
          %ul.social
            %li=link_to image_tag('basecontorno/home/fb.png'), 'https://www.facebook.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/tw.png'), 'https://twitter.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/yt.png'), 'http://www.youtube.com/SephoraMex', target: :blank
            %li=link_to image_tag('basecontorno/home/ig.png'), 'https://instagram.com/sephoramx/', target: :blank
