#basecontorno
  .wrap
    .header.table.full
      .tcell.t50
        =link_to image_tag('basecontorno/home/logo.png', class: 'logo'), root_path
      .tcell.t50
        %ul.menu
          %li=link_to "Foundation", basecontorno_foundation_path
          %li=link_to "Contour", basecontorno_contour_path
  .content.contour_concern
    .wrap
      %p=image_tag 'basecontorno/contour/concern/contour_concern_txt.png'
      %p=image_tag 'basecontorno/contour/concern/instrucciones.png'
      .faces
        .table.full
          .tcell.t50
            %p=image_tag 'basecontorno/contour/concern/ovalado_facechart.jpg'
            %p=image_tag 'basecontorno/contour/concern/ovalado_txt.jpg'
          .tcell.t50
            %p=image_tag 'basecontorno/contour/concern/redondo_facechart.jpg'
            %p=image_tag 'basecontorno/contour/concern/redondo_txt.jpg'
        .table.full
          .tcell.t50
            %p=image_tag 'basecontorno/contour/concern/cuadrado_facechart.jpg'
            %p=image_tag 'basecontorno/contour/concern/cuadrado_txt.jpg'
          .tcell.t50
            %p=image_tag 'basecontorno/contour/concern/corazon_facechart.jpg'
            %p=image_tag 'basecontorno/contour/concern/corazon_txt.jpg'
  .footer
    .wrap
      .table.full
        .tcell.t50  
          =link_to image_tag('basecontorno/home/web_footer.png', class: 'footer-logo'), root_path
        .tcell.t50  
          =image_tag 'basecontorno/home/lineas_footer.png', class: 'lines'
          %ul.social
            %li=link_to image_tag('basecontorno/home/fb.png'), 'https://www.facebook.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/tw.png'), 'https://twitter.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/yt.png'), 'http://www.youtube.com/SephoraMex', target: :blank
            %li=link_to image_tag('basecontorno/home/ig.png'), 'https://instagram.com/sephoramx/', target: :blank
