#basecontorno
  .wrap
    .header.table.full
      .tcell.t50
        =link_to image_tag('basecontorno/home/logo.png', class: 'logo'), root_path
      .tcell.t50
        %ul.menu
          %li=link_to "Foundation", basecontorno_foundation_path
          %li=link_to "Contour", basecontorno_contour_path
  .content.foundation
    .wrap
      .table.full
        .tcell.t50.first-content
          =image_tag 'basecontorno/foundation/foundation_titulo.png', class: 'inner-title'
          %h3 Fórmulas innovadoras para el lienzo perfecto
          %p
            Como una segunda piel, la base es el
            %b primer paso
            para lograr un look impecable.
          %p
            Oculta imperfecciones, empareja tu tono, matifica y protege tu piel, conoce nuestras
            %b fórmulas innovadoras
            y elige la ideal para ti.
          = image_tag 'basecontorno/foundation/foundation_mustave_txt.png', class: 'must'
          .table.full.products
            - ['3378872072713', '818015012921', '3548752030748'].each do |upc|
              - prod = Producto.find_by_upc(upc)
              .tcell.t33
                %a.prod{href: producto_path(prod)}
                  .img
                    =image_tag prod.foto.url(:chico)
                  %p
                    %b=prod.marca.marca
                  %p=prod.nombre
          .table.full
            =link_to "Explora Todas Nuestras Bases >", "http://www.sephora.com.mx/categoria/foundation?utm_source=SitioWeb&utm_medium=Micrositio&utm_campaign=Foundation", class: 'explore'
        .tcell.t50
          =image_tag 'basecontorno/foundation/foundation_modelo.png'
    .table.full.black
      =image_tag 'basecontorno/foundation/concerns_pleca.png'
    .concern.table.full
      .wrap
        .tcell.t30
        .tcell.t70.second-content
          %h3
            ¡CONOCEMOS TU PREOCUPACIÓN Y SABEMOS CÓMO SOLUCIONARLA!
          %h4 ¿Quieres lograr una base de maquillaje perfecta?
          %p
            ¡Identifica tu tipo de piel y descúbrelo
            %br
            con nuestros Beauty Experts!
          =link_to image_tag('basecontorno/foundation/comienza_btn.png'), basecontorno_foundation_concern_path, class: 'link'
    .table.full.brown
      =image_tag 'basecontorno/foundation/bff_pleca.png'
    .wrap
      .table.full.third-content
        .tcell.t50
          =image_tag 'basecontorno/foundation/brochas_txt.png', class: 'title'
          .table.full.products
            - ['3378872074830', '3548752061636', '713757273701'].each do |upc|
              - prod = Producto.find_by_upc(upc)
              .tcell.t33
                %a.prod{href: producto_path(prod)}
                  .img
                    =image_tag prod.foto.url(:chico)
                  %p
                    %b=prod.marca.marca
                  %p=prod.nombre
          .table.full.explorit
            =link_to "Explora Todas Nuestras Bases >", "http://www.sephora.com.mx/categoria/brochas-y-aplicadores-brochas?utm_source=SitioWeb&utm_medium=Micrositio&utm_campaign=Brochas", class: 'explore'
        .tcell.t50
          =image_tag 'basecontorno/foundation/prebases_txt.png', class: 'title'
          .table.full.products
            - ['3548752073233', '604214849600', '811999021217'].each do |upc|
              - prod = Producto.find_by_upc(upc)
              .tcell.t33
                %a.prod{href: producto_path(prod)}
                  .img
                    =image_tag prod.foto.url(:chico)
                  %p
                    %b=prod.marca.marca
                  %p=prod.nombre
          .table.full.explorit
            =link_to "Explora Todas Nuestras Bases >", "http://www.sephora.com.mx/categoria/primer?utm_source=SitioWeb&utm_medium=Micrositio&utm_campaign=Primer", class: 'explore'
    .table.full.black
      =image_tag 'basecontorno/foundation/protips_pleca.png'
    .wrap
      .table.full.fourth-section
        .tcell.t33
          =image_tag 'basecontorno/foundation/found_tip1.png'
        .tcell.t33
          =image_tag 'basecontorno/foundation/found_tip2.png', class: 'level'
        .tcell.t33
          =image_tag 'basecontorno/foundation/found_tip3.png'
  .footer
    .wrap
      .table.full
        .tcell.t50  
          =link_to image_tag('basecontorno/home/web_footer.png', class: 'footer-logo'), root_path
        .tcell.t50  
          =image_tag 'basecontorno/home/lineas_footer.png', class: 'lines'
          %ul.social
            %li=link_to image_tag('basecontorno/home/fb.png'), 'https://www.facebook.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/tw.png'), 'https://twitter.com/SephoraMX', target: :blank
            %li=link_to image_tag('basecontorno/home/yt.png'), 'http://www.youtube.com/SephoraMex', target: :blank
            %li=link_to image_tag('basecontorno/home/ig.png'), 'https://instagram.com/sephoramx/', target: :blank
