- provide :titulo, ''
%section#seccion-ver.consultores
  %h2{:style => 'text-transform: inherit !important'}
    Consultor Personal de Belleza
  .table.full
    .contizq.tcell.t25
      = render 'paginas/menu_tiendas'
    .contder.tcell.t75.ctr
      .consultor_head
        =image_tag 'tiendas/main_banner.jpg'
      .consultores_head.consultor_h
        .menu_tienda
          %a{:href=>'/tiendas'}  
            .btn_tienda.inner_m
          %a{:href=>'/lista_eventos'}  
            .btn_evento.inner_m
          %a{:href=>'/minimakeovers'}  
            .btn_beauty.inner_m
        %hr{:class=>'sub_menu_tiendas'}
        .txt_tienda_header
          = image_tag 'consultores/txt_header.jpg'
        .sub_menu_consultor 
          %a{:href=>'/minimakeovers'}         
            .btn_minimakeover.inner_menu_a
          %a{:href=>'/makeoverpersonalizado'} 
            .btn_makeoverp.inner_menu_b
          %a{:href=>'/beautyunoauno'} 
            .btn_beautyuno.inner_menu_c
          %a{:href=>'/consultapersonalizadabelleza'} 
            .btn_consulta.inner_menu_d
      %h4
        BEAUTY UNO A UNO
      %hr
      .consultorp_txt
        %p{:class=>'belleza_txt beauty'} 90 minutos. En la compra previa de una gift card de $1, 500 pesos (redimible por producto). Clase individual, ofrecida por un maquillista certificado, para conocer tu rostro y los básicos del maquillaje. Con previa cita.
      .consultor_container
        .img_unoauno
        .beauty_info
          .reserva_btn
            =image_tag 'consultores/btn_reserva.jpg'
          .consultor_sucursales
            %ul{:class=>'completos_table'}
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Satelite&field109=Servicio%20de%20Maquillaje%20Completo%20Satelite'}
                %li{:class=>'completos_opt'} Sephora Satélite
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Angelopolis&field109=Servicio%20de%20Maquillaje%20Completo%20Angelopolis'}
                %li{:class=>'completos_opt'} Sephora Angelópolis
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Interlomas&field109=Servicio%20de%20Maquillaje%20Completo%20Interlomas'}
                %li{:class=>'completos_opt'} Sephora Interlomas
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Antara&field109=Servicio%20de%20Maquillaje%20Completo%20Antara'}
                %li{:class=>'completos_opt'} Sephora Antara
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Andares&field109=Servicio%20de%20Maquillaje%20Completo%20Andares'}
                %li{:class=>'completos_opt'} Sephora Andares
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=GaleriasGuadalajara&field109=Servicio%20de%20Maquillaje%20Completo%20Galerias%20Guadalajara'}
                %li{:class=>'completos_opt'} Sephora Galerías Guadalajara
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Coyoacan&field109=Servicio%20de%20Maquillaje%20Completo%20Coyoacan'}
                %li{:class=>'completos_opt'} Sephora Coyoacán
              %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=SantaFe&field109=Servicio%20de%20Maquillaje%20Completo%20Santa%20Fe'}
                %li{:class=>'completos_opt'} Sephora Santa Fe
        




