#bloggers
  =image_tag 'bloggers/header.jpg'
  %a{:href=>'http://www.highonfashionblog.com/2012/12/sephora-holiday-top-picks.html'}
    =image_tag 'bloggers/1.jpg'
  %a{:href=>'http://mustwanted.mx/2012/12/09/te-recomendamos-10-holiday-sets-para-regalarte-esta-navidad/', :target => 'blank'}
    =image_tag 'bloggers/2.jpg'
  %a{:href=>'http://makeupholism.blogspot.mx/2012/12/holiday-gift-sets-2012.html', :target => 'blank'}
    =image_tag 'bloggers/3.jpg'
