- provide :titulo, 'Color Vision'
- provide :descripcion, ''
%section#categoria.colorvision
  .table.full
    .contizq.tcell.t25
      .barrita
    .contder.tcell.t75
      .contenedor
        =image_tag 'colorvision/header.jpg'
        =image_tag 'colorvision/1.jpg'
        =image_tag 'colorvision/2.jpg'
        =image_tag 'colorvision/3.jpg'
        =image_tag 'colorvision/4.jpg'
