%ul.personalidades
  %li=link_to '', colorful_show_path('hipster'), :class => 'hipster'
  %li=link_to '', colorful_show_path('chic'), :class => 'chic'
  %li=link_to '', colorful_show_path('junkie'), :class => 'junkie'
  %li=link_to '', colorful_show_path('rocker'), :class => 'rocker'
