%a{:name => 's1'}
  %p
  %br
  %br
    %b A todas nuestras querid@s adict@s a la belleza:
%p Ya estamos casi listos para abrir nuestra tienda en Centro Coyoacán, sólo faltan unos últimos detalles para que todo quede perfecto y recibirl@s como se merecen. Sabemos que la inauguración de nuestra primera tienda al sur de la Ciudad de México es esperada con emoción por ustedes, ¡¡muchas gracias!!
 
%p Para nosotros lo más importante son ustedes, por lo que preferimos abrir nuestras puertas hasta que todo esté perfecto y vivan la experiencia Sephora  que conocen: probando, sintiendo, jugando con nuestras más de ciento cuarenta marcas.
 
%p Les agradecemos su comprensión y paciencia. En unos días les informaremos la fecha definitiva para que nos acompañen en esta apertura donde tendremos eventos especiales y obsequios.
 
%p Te invitamos a escribirnos a sephora@oob.mx donde te registraremos en nuestra lista de invitadas para que conozcas antes que nadie Sephora Coyoacán.  
 
%p
  ¡Muchas gracias
  %br
  %br

%p
  =image_tag "firma_val.png"
  %br
  %b 
    Valeria Martínez
%p 
  Gerente de Mercadotecnia y Relaciones Públicas 
  %br Sephora México
  %br
  %br

%style
  a {color:black;}
  a[href] { text-decoration:underline; }
