#clinique-crayola
	.header=image_tag("paginas/clinique-crayola/logo-clinique-crayola.png", {class: "logo"})
	.mini-header
		.mini-title Mezcla, combina, experimenta, juega,
		.mini-subtitule con tonos súper nutritivos para labios.
	.crayola.right-side
		.crayola-header.animated.slideInLeft
			Clinique Crayola™ <br>
			Chubby Sticks™ for lips
		.crayola-text
			Clinique y los crayones Crayola™ <br>
			juegan juntos en una colorida <br>
			colección de edición limitada, <br>
			con una intensa dosis de manteca <br>
			de karité y mango.
		.crayola-imagen.animated.fadeIn
			=image_tag("paginas/clinique-crayola/foto-01.jpg")
	.crayola.crayola-dos
		.crayola-section-one
			.crayola-imagen.animated.fadeIn
				=image_tag("paginas/clinique-crayola/foto-02.jpg")
		.crayola-section-two
			.crayola-header.animated.slideInRight
				Diviértete con Color
			.crayola-text
				Atrévete a jugar con tonos que van <br>
				desde los más suaves hasta los más intensos.
		.clearfix
	.crayola.crayola-tres
		.crayola-section-one
			.crayola-header.animated.slideInLeft
				¿Cómo usarlos?
			.crayola-text
				Aplica directamente sobre los labios <br>
				Para una definición sutil <br>
				delinea tus labios, después rellénalos <br>
				con un color de apariencia natural <br>
		.crayola-section-two
			.crayola-imagen.animated.fadeIn
				=image_tag("paginas/clinique-crayola/foto-03.jpg")
	.footer
		%p
			¡VEN A CONOCERLOS YA <br>
			EN TODAS NUESTRAS TIENDAS! <br>
			%span
				EXCLUSIVOS DE SEPHORA MÉXICO
	.mini-footer
		%p
			Combínalos con tus sombras y mascaras favoritas de 
			%strong Clinique.
			%a{:href => "#"} Explora más
