.col-sm-12
  .page-header
    %h3 
      POLÍTICA DE DEVOLUCIONES
    %br
  .page-container
    %p En cumplimiento con lo establecido en  la Ley Federal del  Consumidor y su reglamento, Sephora México, S. de R.L. de C.V., acepta cambios en la mercancía exclusivamente por compras realizadas en Sephora México S. de R.L. de C.V.,  siempre que no se hubiese alterado el producto por culpa del consumidor  y contra la entrega del producto adquirido. La devolución deberá efectuarse dentro de un plazo máximo de 60 días, contados a partir de que se efectúo la compra y presentando el ticket de compra o certificado de regalo.
    %p Sephora México, S. de R.L. de C.V.,  efectuará la bonificación del monto del producto adquirido mediante la entrega  de una gift card, siempre y cuando se cumpla con lo siguiente:
    %p 
      %strong a)
      Que el contenido neto del producto o la cantidad entregada es menor a la indicada en el envase, recipiente, empaque.
    %p
      %strong b)
      Que el bien no corresponde a la calidad, marca, o especificaciones y demás elementos sustanciales bajo los cuales se haya ofrecido o no cumple con las normas oficiales mexicanas;
    %p Sephora México, S. de R.L. de C.V., deberá satisfacer la reclamación en un plazo que no excederá de quince días contados a partir de dicha reclamación. Sephora México, S. de R.L. de C.V., podrá negarse a satisfacer la reclamación si ésta es extemporánea, cuando el producto haya sido usado en condiciones distintas a las recomendadas o propias de su naturaleza o destino o si ha sufrido un deterioro esencial, irreparable y grave por causas imputables al consumidor. La bonificación no podrá ser menor al veinte por ciento del precio pagado.