#best-sellers
  %h3 MASCARILLAS HIDRATANTES
  #slider-wrap
    %ul.nobullet.nolist#lonuevo.jcarousel-skin-tango
      - @hidratantes.each do |producto|
        %li
          .imagen
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
          %h5.marca
            = producto.marca.marca.upcase
          %h5
            =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
#best-sellers
  %h3 MASCARILLAS ANTI-EDAD
  #slider-wrap
    %ul.nobullet.nolist#lonuevo.jcarousel-skin-tango
      - @antiedad.each do |producto|
        %li
          .imagen
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
          %h5.marca
            = producto.marca.marca.upcase
          %h5
            =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
#best-sellers
  %h3 MASCARILLAS MULTI BENEFICIOS
  #slider-wrap
    %ul.nobullet.nolist#lonuevo.jcarousel-skin-tango
      - @multibeneficios.each do |producto|
        %li
          .imagen
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
          %h5.marca
            = producto.marca.marca.upcase
          %h5
            =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
#best-sellers
  %h3 MASCARILLAS DE NOCHE
  #slider-wrap
    %ul.nobullet.nolist#lonuevo.jcarousel-skin-tango
      - @denoche.each do |producto|
        %li
          .imagen
            =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
          %h5.marca
            = producto.marca.marca.upcase
          %h5
            =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
