#holiday
  =image_tag 'holiday/1.jpg', :class=>'head'
  %a{:href=>'http://www.facebook.com/SephoraMX/app_383645428388122', :target =>'blank'}
    =image_tag 'holiday/2.jpg'
  %a{:href=>'#'}
    =image_tag 'holiday/3.jpg'
