#separador
#slider-home.full
  #producto.tcell.t20
    =image_tag "", :size => "192x400"
  #poster.tcell.t80
    =image_tag "", :size => "768x400"
#separador
  %p.linksrapidos
    LINKS RÁPIDOS:
    %span
      HOT NOW
    %span
      BEST SELLERS
    %span
      FAVORITES
#best-sellers
  %h3 BEST SELLERS
  #slider-wrap
    %ul.nobullet.nolist
      %li
        =image_tag ""
        %h4 1
        %p PRODUCTO 1
        %p Descripcion
        %p $Costo
      %li
        =image_tag ""
        %h4 2
        %p PRODUCTO 2
        %p Descripcion
        %p $Costo
      %li
        =image_tag ""
        %h4 3
        %p PRODUCTO 3
        %p Descripcion
        %p $Costo
      %li
        =image_tag ""
        %h4 4
        %p PRODUCTO 4
        %p Descripcion
        %p $Costo
#lo-nuevo
  %h3 LO NUEVO
#separador
  %h3 ESTA SEMANA
#esta-semana
