- provide :titulo, ''
%section#seccion-ver.consultores
  %h2{:style => 'text-transform: inherit !important'}
    Consultor Personal de Belleza
  .table.full
    .contizq.tcell.t25
      = render 'paginas/menu_tiendas'
    .contder.tcell.t75.ctr
      .consultor_head
        =image_tag 'tiendas/main_banner.jpg'
      .consultores_head.evento_h
        .menu_tienda
          %a{:href=>'/tiendas'}  
            .btn_tienda.inner_m
          %a{:href=>'/lista_eventos'}  
            .btn_evento.inner_m
          %a{:href=>'/minimakeovers'}  
            .btn_beauty.inner_m
        %hr{:class=>'sub_menu_tiendas'}
        .txt_tienda_header
          = image_tag 'eventos/txt_header_eventos.jpg'
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/mmo_cejas.png'
        .info_cont_evento
          .titulo_evento
            Mini makeover weekend: Cejas Perfectas
          .sub_evento
            Conoce cómo lograr unas cejas perfectas para definir tu mirada en minutos.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MiniMakeOverWeekendCejasPerfectas&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Cejas%20Perfectas&field108=Galerias'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Cejas%20Perfectas&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Cejas%20Perfectas&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Cejas%20Perfectas&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Cejas%20Perfectas&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Cejas%20Perfectas&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Cejas%20Perfectas&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Octubre 17, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Cejas%20Perfectas&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/mmo_duo.png'
        .info_cont_evento
          .titulo_evento
            Mini makeover weekend: Dúo Blush & Bronzer
          .sub_evento
            Aprende los consejos de los expertos para destacar tus facciones con el dúo perfecto: Blush y bronzer. 
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=Galerias'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20Make%20Over%20Weekend%20Duo%20Blush%20and%20Bronzer&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/esmaltados_fx.png'
        .info_cont_evento
          .titulo_evento
            Esmaltado con Formula X
          .sub_evento
            Conoce la nueva marca Formula X y prueba sus colores y efectos únicos en un exclusivo servicio de esmaltado.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 16, 17
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Esmaltado%20con%20Formula%20X&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 17, 18
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Esmaltado%20con%20Formula%20X&field108=Antara'}
              .reserva_evento
      %hr
      .eventos.e2
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/mc_lulu.png'
        .info_cont_evento
          .titulo_evento
            Master Class Lulú Rivera
          .sub_evento
            Conoce los Beauty Secrets de la experta en make up y resuelve todas tus dudas en esta exclusiva sesión.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Class%20Lulu&20Rivera&field108=Santa%20Fe'}
              .reserva_evento
      %hr
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/bareminerals.png'
        .info_cont_evento
          .titulo_evento
            BareSkin de BareMinerals
          .sub_evento
            Trata el pasado, el presente y el futuro de tu piel con el útimo lanzamiento de BareMinerals, BareSkin, y prepárate para lograr una piel increíblemente bella.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Galerias'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Octubre 25 y 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e5
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/tend_nars.png'
        .info_cont_evento
          .titulo_evento
            Tendencias de NARS
          .sub_evento
            Conoce las últimas tendencias de belleza con los expertos de NARS y logra el mejor look de la temporada
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 15, 28, 29, 30
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 14, 23, 24, 25
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Octubre 3, 4, 5
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Octubre 8, 9
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 10, 11, 21, 22
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Octubre 10, 11
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=Galerias%20Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Octubre 16, 17
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=Andares'}
              .reserva_evento
      %hr
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/halloween_sephora.png'
        .info_cont_evento
          .titulo_evento
            Halloween Sephora
          .sub_evento
            ¿En busca de inspiración para Halloween? Consigue el mejor look en tienda de mano de nuestros expertos.  
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 30, 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Octubre 30, 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 30, 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Octubre 30, 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 30, 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Octubre 30, 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Octubre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/mmo_delneado.png'
        .info_cont_evento
          .titulo_evento
            Mini makeover weekend: Delineado
          .sub_evento
            Aprende a definir tu mirada con el delineado ideal para ti y los consejos de los profesionales.  
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Octubre 31, 1 y 2 de noviembre
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20make%20over%20weekend%20Delineado&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Octubre 31, 1 y 2 de noviembre
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20make%20over%20weekend%20Delineado&field108=Galerias%20Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Octubre 31, 1 y 2 de noviembre
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20make%20over%20weekend%20Delineado&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 31, 1 y 2 de noviembre
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20make%20over%20weekend%20Delineado&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Octubre 31, 1 y 2 de noviembre
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20make%20over%20weekend%20Delineado&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 31, 1 y 2 de noviembre
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20make%20over%20weekend%20Delineado&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Octubre 31, 1 y 2 de noviembre
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20make%20over%20weekend%20Delineado&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Octubre 31, 1 y 2 de noviembre
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Mini%20make%20over%20weekend%20Delineado&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/flawlessface.png'
        .info_cont_evento
          .titulo_evento
            Flawless Face con Laura Mercier
          .sub_evento
            Conoce al especialista de la marca y descubre cómo lograr una Flawless Face, una piel libre de imperfecciones, con la línea de Laura Mercier.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 8
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 15
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Octubre 22
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Octubre 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 17
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Octubre 29
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Antea'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Octubre 10
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Octubre 30
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Galerias%20Guadalajara'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/tend_bb.png'
        .info_cont_evento
          .titulo_evento
            Tendencias de Bobbi Brown
          .sub_evento
            Conoce las tendencias de Bobbi Brown para esta temporada y luce Pretty Powerful.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 4, 5, 23, 24, 25, 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Octubre 29, 30, 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Octubre 3
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=Antea'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Octubre 8, 9, 10, 18, 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=Satelite'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/tend_ysl.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Yves Saint Laurent
          .sub_evento
            Descubre las últimas tendencias de Yves Saint Laurent para destacar al máximo tu belleza.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 9, 10, 11, 16, 17, 18, 23
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20YSL&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 3, 4, 16, 30
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20YSL&field108=Santa%20Fe'}
              .reserva_evento
      %hr
      .eventos.e2
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/gaz.png'
        .info_cont_evento
          .titulo_evento
            Beauty Talk con Gazó Studio
          .sub_evento
            ¡Gazó Studio te consiente en el Beauty Talk exclusivo en Sephora! Donde podrás aprender todo sobre diseño de ceja para complementar tu look. Además de recibir una gift card con valor de $250. 
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 23 10.00 A.M.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Beauty%20Talk%20Studio%20Gazofield108=Antara'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/octubre/nars.png'
        .info_cont_evento
          .titulo_evento
            Master Class con NARS
          .sub_evento
            Conoce a Miguel Manfredi, International Makeup Artist de NARS que ha trabajado en diferentes Fashion Weeks  y conoce sus secretos de belleza para lograr el mejor look con NARS.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Octubre 15 6.00 P.M.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Class&NARS&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 14 6.00 P.M.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Class&NARS&field108=Santa%20Fe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Octubre 15 12.00 P.M.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Class&NARS&field108=Santa%20Fe'}
              .reserva_evento
      










