- provide :titulo, ''
%section#seccion-ver.consultores
  %h2{:style => 'text-transform: inherit !important'}
    Consultor Personal de Belleza
  .table.full
    .contizq.tcell.t25
      = render 'paginas/menu_tiendas'
    .contder.tcell.t75.ctr
      .consultor_head
        =image_tag 'tiendas/main_banner.jpg'
      .consultores_head.evento_h
        .menu_tienda
          %a{:href=>'/tiendas'}  
            .btn_tienda.inner_m
          %a{:href=>'/lista_eventos'}  
            .btn_evento.inner_m
          %a{:href=>'/servicioexpress'}  
            .btn_beauty.inner_m
        %hr{:class=>'sub_menu_tiendas'}
        .txt_tienda_header
          = image_tag 'eventos/txt_header_eventos.jpg'
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/tendencias_nars.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Nars
          .sub_evento
            Descubre las últimas tendencias de belleza de otoño de mano de los expertos de NARS.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Septiembre 3, 4, 5
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías
            Septiembre 5, 6
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Galerias'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Septiembre 9, 10, 11, 19, 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Septiembre 10, 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Septiembre 11, 12
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 18, 19, 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Septiembre 24, 25, 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Septiembre 27, 28, 29
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Interlomas'}
              .reserva_evento
      %hr
      .eventos.e2
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/fall_nars.png'
        .info_cont_evento
          .titulo_evento
            Fall Collection de NARS
          .sub_evento
            Disfruta de una noche llena de tendencias y glamour con los expertos de NARS y su nueva colección de otoño en un evento especial.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 4 6.00 a 10.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FallCollectionNARS&field108=Antara'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/masterclass_bobbybrown.png'
        .info_cont_evento
          .titulo_evento
            Master Class con Bobby Brown
          .sub_evento
            Conoce con el Pretty Powerful Team las tendencias de Bobbi Brown para esta temporada y recibe un servicio de maquillaje exclusivo.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Septiembre 4 12.00 y 5.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassBobbyBrown&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Septiembre 5 1.00 y 5.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassBobbyBrown&field108=Angelopolis'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/tendencias_ysl.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Yves Saint Laurent
          .sub_evento
            Descubre las últimas tendencias de Yves Saint Laurent para destacar al máximo tu belleza.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Septiembre 4, 5, 6, 24, 25, 30
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasYSL&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Septiembre 11, 12, 13, 18, 19, 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasYSL&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 25, 26, 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasYSL&field108=Antara'}
              .reserva_evento
      %hr
      .eventos.e5
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/flawless_lauramercier.png'
        .info_cont_evento
          .titulo_evento
            Flawless Face con Laura Mercier
          .sub_evento
            Conoce al especialista de la marca y descubre cómo lograr una Flawless Face, una piel libre de imperfecciones, con la línea de Laura Mercier.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 5 12.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Septiembre 6 12.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Septiembre 12 12.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Septiembre 17 12.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Septiembre 19 12.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Septiembre 22, 23, 24 12.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Antea'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Septiembre 26 12.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FlawlessFaceLauraMercier&field108=Interlomas'}
              .reserva_evento
      %hr
      .eventos.e2
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/dream_marcjacobs.png'
        .info_cont_evento
          .titulo_evento
            Dream by Marc Jacobs
          .sub_evento
            Conoce el último lanzamiento de Marc Jacobs, Dream y déjate seducir por su fascinante aroma.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 5, 6, 7
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=DreamMarcJacobs&field108=Antara'}
              .reserva_evento
      %hr
      .eventos.e2
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/clarisonic.png'
        .info_cont_evento
          .titulo_evento
            Eleva tu belleza con Clarisonic
          .sub_evento
            Recibe un diagnóstico de piel y aprende a cuidarla con lo último en tecnología de Clarisonic.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Septiembre 12, 13, 14
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Clarisonic&field108=Andares'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/algenist.png'
        .info_cont_evento
          .titulo_evento
            Ilumina tu piel con Algenist
          .sub_evento
            Descubre la rutina ideal de Algenist para cuidar e iluminar tu piel.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 16
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Algenist&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Septiembre 18
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Algenist&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Septiembre 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Algenist&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Septiembre 17
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Algenist&field108=Antea'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Septiembre 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Algenist&field108=Satelite'}
              .reserva_evento
      %hr
      .eventos.e7
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/amika.png'
        .info_cont_evento
          .titulo_evento
            Cabello perfecto con Amika
          .sub_evento
            Conoce la línea que lo tiene todo para lucir un cabello suave y consigue el look que siempre soñaste.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 22
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Amika&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Septiembre 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Amika&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Septiembre 23
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Amika&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Septiembre 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Amika&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Septiembre 25
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Amika&field108=SantaFe'}
              .reserva_evento
      %hr
      .eventos.e6
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/tendencias_guerlain.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Guerlain
          .sub_evento
            Conoce las propuestas de la marca para lucir fabulosa esta temporada.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelopolis
            Septiembre 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasGuerlain&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasGuerlain&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Septiembre 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasGuerlain&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Septiembre 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasGuerlain&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/tendencias_stila.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Stila
          .sub_evento
            Conoce las últimas tendencias de Stila para destacar al máximo tu belleza.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelopolis
            Septiembre 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasStila&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Septiembre 25
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasStila&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Septiembre 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasStila&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 23
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasStila&field108=Antara'}
              .reserva_evento
      %hr
      .eventos.e11
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/fresh.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Fresh
          .sub_evento
            Descubre con los expertos de la marca el ritual de belleza ideal para la temporada.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 6
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasFresh&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Septiembre 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasFresh&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Septiembre 29
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasFresh&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías
            Septiembre 30
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasFresh&field108=Galerias'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Septiembre 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasFresh&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Septiembre 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasFresh&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Septiembre 9
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasFresh&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/masterclass_stila.png'
        .info_cont_evento
          .titulo_evento
            Master Class Stila
          .sub_evento
            Conoce la nueva propuesta de la marca para lucir hermosa esta temporada en una Master Class exclusiva.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelopolis
            Septiembre 24 5.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassStila&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Septiembre 25 10.00 a.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassStila&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Septiembre 26 6.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassStila&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 23 6.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassStila&field108=Antara'}
              .reserva_evento
      %hr
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/formula_x.png'
        .info_cont_evento
          .titulo_evento
            Esmaltados Formula X
          .sub_evento
            Conoce la nueva marca Formula X y prueba sus colores y efectos únicos en un exclusivo servicio de esmaltado.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Septiembre 19, 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías
            Septiembre 19, 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=Galerias'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Septiembre 19, 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Septiembre 19, 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Septiembre 19, 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Septiembre 19, 20, 26, 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Septiembre 19, 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Septiembre 19
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Septiembre 19, 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FormulaX&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/septiembre/masterclass_lulu.png'
        .info_cont_evento
          .titulo_evento
            Master Class con Lulú Rivera
          .sub_evento
            Conoce los Beauty Secrets de la experta en make up y resuelve todas tus dudas en esta exclusiva sesión.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Septiembre 29
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassLuluRivera&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Octubre 20
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassLuluRivera&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Septiembre 22
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassLuluRivera&field108=Satelite'}
              .reserva_evento











