- provide :titulo, ''
%section#seccion-ver.consultores
  %h2{:style => 'text-transform: inherit !important'}
    Consultor Personal de Belleza
  .table.full
    .contizq.tcell.t25
      = render 'paginas/menu_tiendas'
    .contder.tcell.t75.ctr
      .consultor_head
        =image_tag 'tiendas/main_banner.jpg'
      .consultores_head.evento_h
        .menu_tienda
          %a{:href=>'/tiendas'}  
            .btn_tienda.inner_m
          %a{:href=>'/lista_eventos'}  
            .btn_evento.inner_m
          %a{:href=>'/minimakeovers'}  
            .btn_beauty.inner_m
        %hr{:class=>'sub_menu_tiendas'}
        .txt_tienda_header
          = image_tag 'eventos/txt_header_eventos.jpg'
      .eventos.e2
        ¡Próximamente más eventos!
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/mc_lulu.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Master Class Lulú Rivera
      /     .sub_evento
      /       Conoce los Beauty Secrets de la experta en make up y resuelve todas tus dudas en esta exclusiva sesión.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Santa Fe
      /       Octubre 20
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Class%20Lulu&20Rivera&field108=Santa%20Fe'}
      /         .reserva_evento
      / %hr
      / .eventos.e12
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/bareminerals.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       BareSkin de BareMinerals
      /     .sub_evento
      /       Trata el pasado, el presente y el futuro de tu piel con el útimo lanzamiento de BareMinerals, BareSkin, y prepárate para lograr una piel increíblemente bella.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Satélite
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Satelite'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Galerias'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Andares
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Andares'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Coyoacán
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Coyoacan'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Angelópolis
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Angelopolis'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Antara'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Santa Fe
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=SantaFe'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Interlomas
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Interlomas'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antea
      /       Octubre 25 y 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=BareSkin%20de%20BareMinerals&field108=Antea'}
      /         .reserva_evento
      / %hr
      / .eventos.e3
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/tend_nars.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Tendencias de NARS
      /     .sub_evento
      /       Conoce las últimas tendencias de belleza con los expertos de NARS y logra el mejor look de la temporada
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 15, 28, 29, 30
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=Antara'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Santa Fe
      /       Octubre 14, 23, 24, 25
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20NARS&field108=SantaFe'}
      /         .reserva_evento
      / %hr
      / .eventos.e1
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/halloween_sephora.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Halloween Sephora
      /     .sub_evento
      /       ¿En busca de inspiración para Halloween? Consigue el mejor look en tienda de mano de nuestros expertos.  
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Satélite
      /       Octubre 10, 11, 12
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Satelite'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 30, 31
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Antara'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Andares
      /       Octubre 30, 31
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Andares'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Coyoacán
      /       Octubre 30, 31
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Coyoacan'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Angelópolis
      /       Octubre 30, 31
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Angelopolis'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Santa Fe
      /       Octubre 30, 31
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=SantaFe'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Interlomas
      /       Octubre 30, 31
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Interlomas'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antea
      /       Octubre 10, 11, 12
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Halloween%20Sephora&field108=Antea'}
      /         .reserva_evento
      / %hr
      / .eventos.e3
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/tend_bb.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Tendencias de Bobbi Brown
      /     .sub_evento
      /       Conoce las tendencias de Bobbi Brown para esta temporada y luce Pretty Powerful.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Coyoacán
      /       Octubre 4, 5, 23, 24, 25, 26
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=Coyoacan'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Santa Fe
      /       Octubre 11, 12
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=SantaFe'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Angelópolis
      /       Octubre 29, 30, 31
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=Angelopolis'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antea
      /       Octubre 3
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=Antea'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Satélite
      /       Octubre 8, 9, 10, 18, 19
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20de%20Bobbi%20Brown&field108=Satelite'}
      /         .reserva_evento
      / %hr
      / .eventos.e3
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/tend_ysl.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Tendencias Yves Saint Laurent
      /     .sub_evento
      /       Descubre las últimas tendencias de Yves Saint Laurent para destacar al máximo tu belleza.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 9, 10, 11, 16, 17, 18, 23
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20YSL&field108=Antara'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Santa Fe
      /       Octubre 3, 4, 16, 30
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Tendencias%20YSL&field108=Santa%20Fe'}
      /         .reserva_evento
      / %hr
      / .eventos.e2
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/gaz.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Beauty Talk con Gazó Studio
      /     .sub_evento
      /       ¡Gazó Studio te consiente en el Beauty Talk exclusivo en Sephora! Donde podrás aprender todo sobre diseño de ceja para complementar tu look. Además de recibir una gift card con valor de $250. 
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 23 10.00 A.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Beauty%20Talk%20Studio%20Gazo&field108=Antara'}
      /         .reserva_evento
      / %hr
      / .eventos.e3
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/ud.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Estudio Sephora: El efecto Naked de Urban Decay
      /     .sub_evento
      /       Aprende cómo lograr diferentes looks, acabados y efectos. ¡Aprovecha al máximo tus paletas Naked! *Es necesario adquirir una gift card de $500 para reservar tu lugar.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 31 6.00 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Estudio%20Sephora%20Urban%20Decay&field108=Antara'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Noviembre 1 y 2 6.00 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Estudio%20Sephora%20Urban%20Decay&field108=Antara'}
      /         .reserva_evento
      / %hr
      / .eventos.e3
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/popsc.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Estudio Sephora: Pop de color de Sephora Collection
      /     .sub_evento
      /       Descubre cómo convertir un look natural o uno lleno de color, enfocado en maquillaje de ojos. *Es necesario adquirir una gift card de $500 para reservar tu lugar.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 31 4.00 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Pop%20Sephora%20Collection&field108=Antara'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Noviembre 1 y 2 12.30 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Pop%20Sephora%20Collection&field108=Antara'}
      /         .reserva_evento
      / %hr
      / .eventos.e2
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/3dnars.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Estudio Sephora: Maquillaje tridimensional de NARS
      /     .sub_evento
      /       Aprende a contornear, perfilar e iluminar tu rostro con los consejos de los profesionales de NARS. *Es necesario adquirir una gift card de $500 para reservar tu lugar. 
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 31, 1 y 2 de noviembre 5.00 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Maquillaje%20Tridimensional%20NARS&field108=Antara'}
      /         .reserva_evento
      / %hr
      / .eventos.e3
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/smash.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Estudio Sephora: Lienzo perfecto de Smashbox
      /     .sub_evento
      /       Conoce los consejos de los expertos de Smashbox, encuentra tu primer ideal y crear un look único. *Es necesario adquirir una gift card de $500 para reservar tu lugar.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 31 7.00 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Lienzo%20Perfecto%20Smashbox&field108=Antara'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Noviembre 1 y 2 11.30 A.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Lienzo%20Perfecto%20Smashbox&field108=Antara'}
      /         .reserva_evento
      / %hr
      / .eventos.e2
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/sstila.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Estudio Sephora: Backstage Beauty de Stila
      /     .sub_evento
      /       Directo de las pasarelas, aprende los mejores tips de maquillaje para una piel y rostro de modelo con Sarah Lucero, Global Director of Education and Artistry de Stila.           
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 31 11.30 A.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Estudio%20Sephora%20Stila&field108=Antara'}
      /         .reserva_evento
      / %hr
      / .eventos.e2
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/sstila.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Estudio Sephora: Backstage Beauty de Stila
      /     .sub_evento
      /       Directo de las pasarelas, aprende los mejores tips de maquillaje para una piel y rostro de modelo.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Noviembre 1 y 2 4.00 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Estudio%20Sephora%20Stila&field108=Antara'}
      /         .reserva_evento
      / %hr
      / .eventos.e3
      /   .foto_evento
      /     =image_tag 'eventos/imgeventos/octubre/mc_sc.png'
      /   .info_cont_evento
      /     .titulo_evento
      /       Master Classes de Sephora Collection
      /     .sub_evento
      /       Aprende los consejos infalibles de belleza de nuestros expertos para complementar tu look.
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Coyoacán
      /       Octubre 28 6.30 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Classes%20de%20Sephora%20Collection&field108=Coyoacan'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Santa Fe
      /       Octubre 27 6.30 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Classes%20de%20Sephora%20Collection&field108=SantaFe'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Antara
      /       Octubre 29 6.30 P.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Classes%20de%20Sephora%20Collection&field108=Antara'}
      /         .reserva_evento
      /     .evento_cont
      /       %span{:class=>'evento_bold'} Sephora Interlomas
      /       Octubre 30 11.00 A.M.
      /       %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Master%20Classes%20de%20Sephora%20Collection&field108=Interlomas'}
      /         .reserva_evento










