- provide :titulo, ''
%section#seccion-ver.consultores
  %h2{:style => 'text-transform: inherit !important'}
    Consultor Personal de Belleza
  .table.full
    .contizq.tcell.t25
      = render 'paginas/menu_tiendas'
    .contder.tcell.t75.ctr
      .consultor_head
        =image_tag 'tiendas/main_banner.jpg'
      .consultores_head.evento_h
        .menu_tienda
          %a{:href=>'/tiendas'}  
            .btn_tienda.inner_m
          %a{:href=>'/lista_eventos'}  
            .btn_evento.inner_m
          %a{:href=>'/servicioexpress'}  
            .btn_beauty.inner_m
        %hr{:class=>'sub_menu_tiendas'}
        .txt_tienda_header
          = image_tag 'eventos/txt_header_eventos.jpg'
      .eventos.e1
        .foto_evento
          =image_tag 'eventos/imgeventos/fresh.png'
        .info_cont_evento
          .titulo_evento
            Lotus Youth Preserve
          .sub_evento
            Recibe una aplicación de mascarilla y un diagnóstico de piel para conocer tu régimen Fresh personalizado.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Agosto 23
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=LotusYouthPreserve&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Agosto 29
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=LotusYouthPreserve&field108=Antea'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Agosto 15
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=LotusYouthPreserve&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Agosto 21
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=LotusYouthPreserve&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Agosto 22
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=LotusYouthPreserve&field108=Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Agosto 14
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=LotusYouthPreserve&field108=Angelopolis'}
              .reserva_evento
      %hr
      .eventos.e2
        .foto_evento
          =image_tag 'eventos/imgeventos/benefit.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Benefit
          .sub_evento
            Conoce las últimas tendencias de Benefit para destacar al máximo tu belleza.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Agosto 15, 16 9.30 a.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasBenefit&field108=Antara'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/ysl.png'
        .info_cont_evento
          .titulo_evento
            Makeup Artists de Yves Saint Laurent
          .sub_evento
            Conoce las tendencias de Yves Saint Laurent junto con su Makeup Artist, y destaca al máximo tu belleza.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Agosto 14
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MakeupArtistsYSL&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Agosto 28
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MakeupArtistsYSL&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Agosto 21, 22, 23
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MakeupArtistsYSL&field108=Interlomas'}
              .reserva_evento
      %hr
      .eventos.e4
        .foto_evento
          =image_tag 'eventos/imgeventos/shiseido.png'
        .info_cont_evento
          .titulo_evento
            Rutina de skincare de Shiseido
          .sub_evento
            Descubre la rutina para limpiar, equilibrar e hidratar tu piel, de mano de los expertos de Shiseido.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Agosto 22
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Agosto 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Agosto 23
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Agosto 25
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Agosto 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Agosto 28
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Agosto 27
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Agosto 29
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Agosto 31
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Shiseido&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e5
        .foto_evento
          =image_tag 'eventos/imgeventos/bliss.png'
        .info_cont_evento
          .titulo_evento
            Piel perfecta con Bliss
          .sub_evento
            Conoce los musts haves de Bliss para lograr una piel y cuerpo radiantes.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Agosto 23, 24
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Bliss&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e6
        .foto_evento
          =image_tag 'eventos/imgeventos/nars.png'
        .info_cont_evento
          .titulo_evento
            Tendencias NARS
          .sub_evento
            Descubre las últimas tendencias de belleza con el lanzamiento de Dual-Intensity Eyeshadow, de mano de los expertos de NARS.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Agosto 27, 28, 29, 30, 31 12.00 p.m. a 8.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Agosto 26, 27 12.00 p.m. a 8.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Interlomas'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Agosto 19, 20, 21 12.00 p.m. a 8.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Andares
            Agosto 22, 23 12.00 p.m. a 8.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Andares'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Agosto 15, 16 12.00 p.m. a 8.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Agosto 22, 23 12.00 p.m. a 8.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Angelopolis'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Agosto 15, 16 12.00 p.m. a 8.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=NARS&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/forever.png'
        .info_cont_evento
          .titulo_evento
            Master Class con Make Up For Ever
          .sub_evento
            Conoce las últimas tendencias de belleza de la mano de uno de los mejores Makeup Artists de Make Up For Ever, Damian Castellanos.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Sante Fe
            Agosto 22 5.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassForEver&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Agosto 21 5.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassForEver&field108=Angelopolis'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/tend_forever.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Make Up For Ever
          .sub_evento
            Explora las tendencias que Make Up For Ever propone para la temporada junto con sus Makeup Artists.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Sante Fe
            Agosto 22 3.00 p.m. a 6.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasForEver&field108=SantaFe'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/1forever.png'
        .info_cont_evento
          .titulo_evento
            One on One con Make Up For Ever
          .sub_evento
            Responde todas tus dudas de belleza en esta One on One de Make Up for Ever.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadajalara
            Agosto 19 12.00 p.m. a 4.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=OneonOneForEver&field108=Guadalajara'}
              .reserva_evento
      %hr
      .eventos.e3
        .foto_evento
          =image_tag 'eventos/imgeventos/tend_stila.png'
        .info_cont_evento
          .titulo_evento
            Tendencias Stila
          .sub_evento
            Conoce las últimas tendencias de Stila para destacar al máximo tu belleza.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadajalara
            Agosto 26 12.00 p.m. a 5.00 p.m. 
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasStila&field108=Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Agosto 28 3.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=TendenciasStila&field108=Antea'}
              .reserva_evento
      %hr
      .eventos.e11
        .foto_evento
          =image_tag 'eventos/imgeventos/stila.png'
        .info_cont_evento
          .titulo_evento
            Master Class con Stila
          .sub_evento
            Conoce los mejores tips, tendencias y recomendaciones de belleza para esta temporada en exclusiva con los expertos de Stila.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadajalara
            Agosto 26 5.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassStila&field108=Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antea
            Agosto 28 5.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassStila&field108=Antea'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Agosto 29 5.00 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassStila&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Interlomas
            Agosto 30 11.00 a.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=MasterClassStila&field108=Interlomas'}
              .reserva_evento
      %hr
      .eventos.e12
        .foto_evento
          =image_tag 'eventos/imgeventos/laura.png'
        .info_cont_evento
          .titulo_evento
            Falwless Face con Laura Mercier
          .sub_evento
            Conoce a nuestro especialista y descubre cómo lograr una Falwless Face, una piel libre de imperfecciones, con la línea de Laura Mercier.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Agosto 21
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FalwlessFace&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Agosto 26
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FalwlessFace&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Satélite
            Agosto 15
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FalwlessFace&field108=Satelite'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Agosto 14
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FalwlessFace&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Agosto 29
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=FalwlessFace&field108=Angelopolis'}
              .reserva_evento
      %hr
      .eventos.e11
        .foto_evento
          =image_tag 'eventos/imgeventos/city.png'
        .info_cont_evento
          .titulo_evento
            El look perfecto de City Miracle
          .sub_evento
            Recibe una aplicación de maquillaje de parte de los expertos de la marca y conoce su último lanzamiento, City Miracle. Lograrás el look perfecto con la familia Miracle.
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Antara
            Agosto 22, 23,24 12:00 p.m. a 9 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=CityMiracle&field108=Antara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Santa Fe
            Agosto 15, 16, 17, 23, 24, 29, 30, 31 12:00 p.m. a 9 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=CityMiracle&field108=SantaFe'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Coyoacán
            Agosto 15, 16, 17, 23, 24, 30, 31 12:00 p.m. a 9 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=CityMiracle&field108=Coyoacan'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Galerías Guadalajara
            Agosto 17 12:00 p.m. a 9 p.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=CityMiracle&field108=Guadalajara'}
              .reserva_evento
          .evento_cont
            %span{:class=>'evento_bold'} Sephora Angelópolis
            Agosto 29 9.00 a.m.
            %a{href:'https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=CityMiracle&field108=Angelopolis'}
              .reserva_evento










