=image_tag("mascarillasnaturales/01.jpg", {width: "100%"});
.masca-content{style: "text-align: center;"}
	=link_to(image_tag("mascarillasnaturales/02.jpg", {width: "49%", style: "margin:auto; display: inline-block;"}), "/mascarillasflores");
	=link_to(image_tag("mascarillasnaturales/03.jpg", {width: "49%", style: "margin:auto; display: inline-block;"}), "/mascarillasplantas");
	=link_to(image_tag("mascarillasnaturales/04.jpg", {width: "49%", style: "margin:auto; display: inline-block;"}), "/mascarillasfrutas");
	=link_to(image_tag("mascarillasnaturales/05.jpg", {width: "49%", style: "margin:auto; display: inline-block;"}), "/mascarillasraices");
=link_to(image_tag("mascarillasnaturales/06.png", {width: "100%"}), "/beneficiosmascarillas");

