- provide :titulo, 'Mascarillas Face Mask'
- provide :descripcion, ''
%section#categoria.colorvision
  .table.full
    .contizq.tcell.t25
      .barrita
    .contder.tcell.t75
      .contenedor
        = render 'paginas/mascarillas_menu'
        .mascarillas
          %p.mascarilla-legend
            Cada una de estas mascarillas nocturnas con textura de <strong>crema-gel</strong> contiene un <strong>ingrediente activo</strong> para <strong>iluminar</strong> y <strong>revitalizar</strong> tu piel mientras duermes.
          .clearfix
          -@face_mask.each do |mask|
            .mascarilla=link_to image_tag(mask[:image]), mask[:link]
