- provide :titulo, 'Miracle Cushion'
- provide :descripcion, ''
%section#categoria.colorvision
  .table.full
    .contizq.tcell.t25
      .barrita
    .contder.tcell.t75
      .contenedor
        = image_tag 'miraclecushion/header_landing_v3.jpg'
        = link_to image_tag('miraclecushion/mc_landing_v3_r2_c1.jpg'), 'http://www.sephora.com.mx/producto/miracle-cushion-01-pure-porcelain-4935421601856?utm_source=LandingLancome&utm_medium=Producto&utm_campaign=MiracleCushion'
        = image_tag 'miraclecushion/mc_landing_v3_r3_c1.jpg'
        = image_tag 'miraclecushion/mc_landing_v3_r4_c1.jpg'
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "420", :src => "https://www.youtube.com/embed/ermWT-aQQ8U?rel=0&amp;showinfo=0", :width => "747"}
