.col-sm-12
  .page-header
    %h3 
      %i.glyphicon.glyphicon-lock
      Gracias por visitar Sephora.com.mx.
    %h4 Sephora está comprometida con la protección de tu privacidad.
    %br
  .page-container
    %p
      %b Temas cubiertos en esta política:
    %a{:href => "#s1"}
      %p
        %b Lo que cubre nuestra política de privacidad.
    %a{:href => "#s2"}
      %p
        %b Qué información personal es recolectada.
    %a{:href => "#s3"}
      %p
        %b Cuando es recolectada la información personal.
    %a{:href => "#s4"}
      %p
        %b Cómo Sephora protege tu información.
    %a{:href => "#s5"}
      %p
        %b Cómo usa Sephora tu información personal.
    %a{:href => "#s6"}
      %p
        %b Cómo evitar recibir Newsletters y otros materiales de Sephora.com.
    %a{:href => "#s7"}
      %p
        %b Quién ve tu información personal.
    %a{:href => "#s8"}
      %p
        %b Cookies.
    %a{:href => "#s9"}
      %p
        %b Comercio Social y de terceros.
    %a{:href => "#s10"}
      %p
        %b Preguntas acerca de esta política.
    %p
      %br/
    %a{:name => 's1'}
      %p
        %b Lo que cubre nuestra política de privacidad.
    %p Esta política de privacidad cubre cualquier información personal que Sephora obtiene cuando usas servicios de los sitios que controlamos. Nosotros podríamos adicionar más sitios en el tiempo de acuerdo con la expansión de nuestros servicios en productos de belleza, y esta política privará sobre estos nuevos sitios cuando sean añadidos. Puedes estar accediendo a nuestro sitio desde una computadora o dispositivo móvil (a través de iPhone, por ejemplo) y esta política aplica igualmente en estos casos, independientemente del dispositivo desde donde accedas. Sephora también interactúa contigo a través de otros sitios o terceros donde posteamos contenido o te invitamos a darnos tu feedback como en www.facebook.com/sephoramx, www.twitter.com/sephoramx y www.youtube.com/sephoramex. Esta política no cubre la privacidad de esos sitios pertenecientes a terceros, o de compañías que no son propiedad de Sephora o que no están bajo su control, o acciones de personas que no son empleadas de Sephora. Debes revisar las políticas de privacidad de esos sitios de terceros cuando provees tu información personal en los mismos. Nuestros términos de uso del sitio dan más información sobre como podemos interactuar contigo a través de terceros.
    %p Nuestra Política de Privacidad puede cambiar en un futuro. Te invitamos a revisar periódicamente esta política por futuros cambios en la misma. Si hacemos cambios en nuestro contenido, se posteará una notificación en nuestra página principal, y si este cambio afecta la forma cómo usamos la información personal que ya hemos recolectado de tu persona, obtendremos tu consentimiento antes de hacerlo. Al usar el sitio, tú estás de acuerdo con los términos de nuestra Política de Privacidad. Si estás en desacuerdo con los términos de nuestra Política de Privacidad, no debes usar nuestro sitio.
    %p
      %br/
    %a{:name => "s2"}  
      %p
        %b Qué información personal es recolectada.
    %p Dependiendo en cómo usas Sephora, nosotros podemos pedirte permiso para que nos compartas tu información personal. El que decidas compartir información con nosotros depende totalmente de ti, pero ten en mente que si no compartes tu información, es probable que no puedas usar algunos de nuestros servicios.
    %p
      %br/
    %a{:name => "s3"}  
      %p
        %b Cuándo es recolectada esta información personal.
    %p Sephora te pedirá información, incluyendo información personal, si usas alguno de los siguientes servicios:
    %p Registrarte como usuario. Para registrarte, necesitas compartir alguna información personal, como tu nombre y tu email. No tienes que estar registrado para navegar por el sitio. Pero, debes registrarte si deseas usar algunos de nuestros servicios. Una vez que te registras, tendrás una cuenta con Sephora y una clave para acceder a la cuenta. Nunca debes usar la cuenta de otra persona sin permiso y no debes usar la clave de nadie más. Debes mantener tu registro completo y al corriente. Tú eres responsable por mantener la confidencialidad de tu cuenta y de tu clave. Por favor haznos saber si hay algún uso no autorizado de tu cuenta o clave. Recomendamos que siempre te desloguees de tu cuenta al finalizar la sesión con nosotros para prevenir que otras personas accedan a tu cuenta si tu permiso.
    %p Sorteos, Concursos y Encuestas. SI entras a participar en un sorteo o concurso, o respondes una encuesta, te convertirás en usuario registrado (si aún no lo eres). Puede que también te pidamos información demográfica, como tu edad. Si eliges no responder, probablemente no podrás participar en los sorteos, concursos y encuestas.
    %p Nuestros servicios interactivos. Tenemos numerosas maneras de recibir tus opiniones y feedback. Nos gustaría responder tus preguntas. Ofrecemos varios servicios interactivos, incluyendo Beauty talk, Ratings & Reviews y Servicios de Preguntas y Respuestas. Podemos ofrecer otros servicios interactivos en un futuro y esta Política de Privacidad prevalecerá en el uso de esos servicios. Si deseas usar cualquiera de estos servicios interactivos, te convertirás en usuario registrado (si no eres uno ya) y cualquier información personal que suministres formará parte de tu perfil. Por favor revisa nuestros términos de uso del sitio porque estos explican con más detalle, la manera en que puedes participar en nuestros servicios interactivos
    %p Información Pública. Por favor observa que si eliges compartir información sobre ti de forma abierta, como en sitios de terceros tipo Facebook o Twitter, o nuestros sitios donde el contenido es generado por el usuario, consideramos esta información como pública – y no información personal.
    %p
      %br/
    %a{:name => "s4"}  
      %p
        %b Cómo protege Sephora tu información.
    %p Nosotros entendemos que nuestros clientes confían en nosotros para proteger su información personal. Nos tomamos muy en serio este tema, por lo que mantenemos salvaguardada tu información personal tanto de manera física como electrónica con procedimientos como los siguientes:
    %p Usamos autenticación Secure Sockets Layer (“SSL”) estándar en la industria, para garantizar la confidencialidad de las transacciones online hechas en nuestro sitio. La autenticación y encriptación SSL de la información que nos envías vía Internet ayuda a proteger de terceros la información de tus transacciones online
    %p Te instamos a que protejas tu privacidad. Recomendamos que no compartas tu clave con nadie, ni a través de llamadas telefónicas o e-mails que no hayas solicitado.
    %p Desafortunadamente, a pesar de todos nuestros esfuerzos, hay siempre un riesgo de que terceros infrinjan la ley e intercepten las transmisiones. Por ejemplo, no podemos asegurar la seguridad de tus datos cuando nos los transmites, o la seguridad de tus datos en un iPhone (u otro dispositivo telefónico que use aplicaciones de iPhone) o en tu página de Twitter o en otra computadora. Esta realidad ocurre en todos los procesos de transmisión de datos en Internet. Como resultado, no podemos asegurar la seguridad de ninguna información que transmitas, y por lo tanto la transmites bajo tu propio riesgo.
    %p
      %br/
    %a{:name => "s5"}  
      %p
        %b Cómo usa Sephora tu información personal.
    %p Sephora recolecta información personal principalmente para hacer nuestros servicios más reconfortantes para ti. Usualmente usamos esta información para propósitos internos, como estudios de las preferencias de nuestros consumidores. También puede que usemos tu información para contactarte con fines de tu cuenta y promocionales.
    %p En el momento en que otra empresa compre activos o acciones de Sephora.com.mx, tu información personal puede, en ese supuesto, pertenecer a otra entidad.
    %p
      %br/
    %a{:name => "s6"}  
      %p
        %b Cómo evitar recibir Newsletters y otros materiales de Sephora.com.mx.
    %p Nosotros usamos las direcciones de e-mail para enviar newsletters y otros anuncios con información sobre nuevos productos de Sephora.com.mx, regalos y ofertas especiales. Cuando te registras, puedes escoger no recibir estos anuncios seleccionado la opción de no recibirlos. Si recibes y deseas evadir próximos mensajes, localiza al final del e-mail las instrucciones de cómo removerte de la lista de correos. También puedes editar tus preferencias de e-mail en tu perfil en Sephora.com.mx.
    %p
      %br/
    %a{:name => "s7"}  
      %p
        %b Quién ve tu información personal.
    %p Sephora puede compartir tu información personal con compañías que nos prestan sus servicios, como completar las órdenes, entrega de paquetes, las oficinas postales y envío de e-mails, análisis de datos del consumidor, proveedores de asistencia de marketing, procesando los pagos de las tarjetas de crédito, investigación de actividades fraudulentas, realización de encuestas a clientes, y proveyendo servicios al consumidor. Ellos tienen acceso a la información personal necesaria para realizar sus funciones, pero no deben revelar ni usar su información de identificación personal para otros propósitos.
    %p Parte de la información personal es almacenada en servidores de otras compañías. Sólo Sephora tiene el derecho de acceder a esta información.
    %p Actualmente compartimos información general sobre nuestros consumidores con patrocinantes y socios de marketing. Esta información no identifica a los usuarios individuales.
    %p
      %br/
    %p Cualquier información personal que incluyas en tu perfil o en cualquier contenido ingresado al usar nuestros servicios interactivos será mostrado en nuestro sitio, así que es importante considerar esto antes de ingresar dicho contenido. Por favor, no ingrese información que no desea que todo el mundo sepa. La información personal debe ser revelada si así lo exige la ley.
    %p
      %br/
    %p Sephora actualmente no vende o negocia información personal de nuestros usuarios. Antes de vender o negociar tu información personal, se comunicará a través de una notificación en esta Política de privacidad y en nuestra página principal.
    %p
      %br/
    %p En este momento, Sephora no comparte ninguna información personal con sus afiliados. Es probable que esta política cambie en un futuro. Si decidimos compartir información con nuestros afiliados, publicaremos una notificación en esta Política de Privacidad y en nuestra página principal.
    %p
      %br/
    %a{:name => "s8"}  
      %p
        %b Cookies
    %p Sephora desea darte la mejor experiencia posible cada vez que visitas Sephora.com.mx. Nos agrada actualizarnos constantemente y probar nuevas herramientas en nuestros sitios, nos gusta personalizar tu experiencia y nos encanta reconocerte cada vez que regresas a Sephora.com.mx. Tenemos varias maneras de lograr esto.
    %p Colectamos información sobre cómo usas nuestro sitio configurando y accediendo a los cookies de tu computadora. Un cookie es un pequeño archivo de datos que identifica el explorador web en una computadora en particular. Ninguna información personal es almacenada en el cookie como tal. Cuando visitas unos de nuestros sitios, u cookie será enviado a tu explorador y luego almacenado en el disco duro de tu computadora. Nosotros usamos estos cookies para rastrear información sobre cuán seguido visitas nuestro sitio, qué páginas ves, y a dónde vas después que visitas nuestro sitio. También enlazamos el ID de visitante de tus cookies con el identificador de usuario de nuestra base de datos lo cual no ayuda a analizar estadísticas y tráfico web. Otras compañías nos ayudan en la investigación y análisis de datos, pero tienen prohibido el uso de los datos para otros propósitos. Los Cookies también nos ayudan a mejorar tu experiencia para, entre otras cosas, conocer tus preferencias, y reconocer si eres un usuario registrado en Sephora.com.mx. Si se debe acceder a cualquiera de tu información personal durante el proceso, necesitas loguearte o autentificarte como usuario. Si no te gustan los cookies, puedes configurar tu explorador para rechazarlos cookies o notificarte cuando se te envía uno, para darte el chance de decidir si aceptarlo o no. Para instrucciones, revisa el menú de ayuda de tu explorador. Ciertas características de Sephora.com.mx pueden no estar disponibles si borras o rechazas los cookies.
    %p
      %br/
    %a{:name => "s10"}  
      %p
        %b Preguntas sobre esta Política de Privacidad
    %p Si tienes alguna pregunta referente a esta Política de Privacidad, o del contenido y prácticas de nuestro sitio, puedes contactar a Sephora directamente en:
    %p www.sephora.com.mx
    %p
      %br/
    %p ESTA POLÍTICA DE PRIVACIDAD FUE ACTUALIZADA EN ABRIL DEL 2012.
    %p
      %br/
    %style
      a {color:black;}
      a[href] { text-decoration:underline; }
