- provide :titulo, 'Sephora México'
- provide :descripcion, ""
- provide :url, "http://sephora.com.mx/registro/qr"
- provide :imagen, ''
.right
  =image_tag 'mobile/lineas.png'
.left
  =image_tag 'mobile/llamita.png'
= form_for @registro_qr, :url => registro_qr_reg_path do |f|
  = f.labelbrtext 'MAIL:', :email
  = f.select :tienda, options_for_select([["Sephora Antara"],["Sephora Interlomas"],["Sephora Angelópolis (Puebla)"],["Sephora Satélite"],["Sephora Santa Fe"],["Sephora Andares (Guadalajara)"]])
  = f.submit 'Enviar'
// .success

