- provide :titulo, "Sephora Gifts"
- provide :url, "http://sephora.com.mx/sephoragifts"
- provide :imagen, "http://sephora.com.mx"+ image_path('sephoragifts/tab_icon.png')
- provide :descripcion, 'Descubre los fabulosos obsequios que tenemos para ti.'
#sephoragifts
  =image_tag 'sephoragifts/cabecera.jpg'
  =image_tag 'sephoragifts/instagram_1.jpg'
  = link_to image_tag('sephoragifts/share.png'), "http://sephora.com.mx/sephoragifts", :id => "share"
  =image_tag 'sephoragifts/sweet_treats_2.jpg'
  = link_to image_tag('sephoragifts/share.png'), "http://sephora.com.mx/sephoragifts", :id => "share"
  =image_tag 'sephoragifts/instaplace_3.jpg'
  = link_to image_tag('sephoragifts/share.png'), "http://sephora.com.mx/sephoragifts", :id => "share"
