.container#sitemap
  .row
    .col-md-4
      %h3=link_to("MAQUILLAJE", "/categoria/maquillaje")
      %h4=link_to("Rostro", "/categoria/rostro")
      %ul
        %li=link_to("Bronzer", "/categoria/bronzer")
        %li=link_to("Control de brillo", "/categoria/control-de-brillo")
        %li=link_to("Foundation", "/categoria/foundation")
        %li=link_to("Polvos", "/categoria/polvos")
        %li=link_to("Tinted Moisturizer", "/categoria/tinted-moisturizer")
        %li=link_to("Primer", "/categoria/primer")
        %li=link_to("Concealer", "/categoria/concealer")
        %li=link_to("Blush", "/categoria/blush")
        %li=link_to("Removedor de maquillaje", "/categoria/removedor-de-maquillaje")
        %li=link_to("Iluminadores", "/categoria/iluminadores")
        %li=link_to("Contorno", "/categoria/contorno")

      %h4=link_to("Brochas y aplicadores", "/categoria/brochas-y-aplicadores")
      %h4=link_to("Paletas y Sets", "/categoria/paletas-y-sets")

      %h3=link_to("SKINCARE", "/categoria/skincare")
      %h4=link_to("Ojos", "/categoria/ojos")
      %ul
        %li=link_to("Mascaras", "/categoria/mascaras")
        %li=link_to("Delineadores", "/categoria/delineadores")
        %li=link_to("Sombras", "/categoria/sombras")
        %li=link_to("Bases y primers", "/categoria/base-y-premiers")
        %li=link_to("Concealer", "/categoria/concealer")
        %li=link_to("Potenciador de cejas", "/categoria/potenciador-de-cejas")
        %li=link_to("Rizadores", "/categoria/rizadores")
        %li=link_to("Pestañas postizas", "/categoria/pestanas-postizas")
        %li=link_to("Removedor de maquillaje", "/categoria/removedor-de-maquillaje")
        %li=link_to("Potenciadores de pestañas", "/categoria/potenciadores-de-pestanas")

      %h4=link_to("Labios", "/categoria/labios")
      %ul
        %li=link_to("Lip Gloss", "/categoria/lip-gloss")
        %li=link_to("Lipstick", "/categoria/labiales")
        %li=link_to("Delineador de labios", "/categoria/delineador-de-labios")
        %li=link_to("Lip Plumper", "/categoria/lip-plumper")
        %li=link_to("Lip Stain", "/categoria/tintes-labiales")
        %li=link_to("Tratamientos y bálsamos", "/categoria/tratamientos-y-balsamos")

      %h4=link_to("Uñas", "/categoria/unas")
      %ul
        %li=link_to("Esmaltes", "/categoria/esmaltes")
        %li=link_to("Apliques", "/categoria/apliques")
        %li=link_to("Tratamientos", "/categoria/tratamientos")

      %h4=link_to("Cuerpo", "/categoria/cuerpo")

    .col-md-4
      %h3=link_to("FRAGANCIAS", "/categoria/fragancias")
      %ul
        %li=link_to("BB & CC Creams", "/categoria/bbcream")
        %li=link_to("Bálsamo labial y tratamientos", "/categoria/lip-balm-y-tratamientos")
        %li=link_to("Bronceadores y autobronceadores", "/categoria/bronceadores-y-autobronceadores")
        %li=link_to("Removedor de vellos", "/categoria/removedor-de-vellos")
        %li=link_to("Cremas para ojos", "/categoria/cremas-para-ojos")
        %li=link_to("Protector solar", "/categoria/protector-solar")
        %li=link_to("Tratamientos para el rostro", "/categoria/tratamientos-para-el-rostro")
        %li=link_to("Tónicos y rociadores", "/categoria/tonicos-y-rociadores")
        %li=link_to("Hidratantes", "/categoria/hidratantes")
        %li=link_to("Limpiadores", "/categoria/limpiadores")
        %li=link_to("Sets de inicio y regímenes", "/categoria/sets-de-inicio-y-regimenes")
        %li=link_to("Mascarillas y exfoliantes", "/categoria/mascarillas-y-exfoliantes")
        %li=link_to("Suplemento", "/categoria/suplementos")
        %li=link_to("Aceites", "/categoria/aceites")

      %h3=link_to("BAÑO Y CUERPO", "/categoria/bano-y-cuerpo")
      %ul
        %li=link_to("Exfoliantes", "/categoria/scrubs-y-exfolianes")
        %li=link_to("Obsequios y sets", "/categoria/obsequios-y-sets-6")
        %li=link_to("Manos y pies", "/categoria/manos-y-pies")
        %li=link_to("Celulitis y Estrías", "/categoria/celulitis-y-estrias")
        %li=link_to("Hidratantes", "/categoria/hidratantes-bano-cuerpo")
        %li=link_to("Limpiadores baño y cuerpo", "/categoria/limpiadores-bano-y-cuerpo")
      %h3=link_to("CABELLO","/categoria/cabello")
      %ul
        %li=link_to("Shampoo","/categoria/shampoo")
        %li=link_to("Acondicionador","/categoria/acondicionador")
        %li=link_to("Tratamientos para el cabello","/categoria/tratamientos-para-el-cabello")
        %li=link_to("Productos para styling","/categoria/productos-para-styling")
        %li=link_to("Herramientas","/categoria/herramientas")
        %li=link_to("Accesorios","/categoria/accesorios")
        %li=link_to("Cepillos y peines","/categoria/cepillos-y-peines")

      %h3=link_to("ACCESORIOS", "/categoria/categoria-general")
      %h4=link_to("Bolsos y Estuches","/categoria/bolsos-y-estuches")
      %ul
        %li=link_to("Contenedores","/categoria/contenedores")
        %li=link_to("Train Cases","/categoria/train-cases")
        %li=link_to("Bolsos de maquillaje","/categoria/bolsos-de-maquillaje")
        %li=link_to("Estuches de viaje","/categoria/estuches-de-viaje")

      %h4=link_to("Brochas y aplicadores","/categoria/brochas-y-aplicadores-maquillaje")
      %ul
        %li=link_to("Sets de brochas","/categoria/sets-de-brochas")
        %li=link_to("Brochas","/categoria/brochas-y-aplicadores-brochas")
        %li=link_to("Esponjas y aplicadores","/categoria/esponjas-y-aplicadores")
        %li=link_to("Limpiadores de brochas","/categoria/limpiadores-de-brochas")

      %h4=link_to("Herramientas de Spa","/categoria/herramientas-de-spa")
      %h4=link_to("Manicure y pedicure","/categoria/manicure-y-pedicure")
      %h4=link_to("Pinzas y accesorios de cejas","/categoria/pinzas-y-accesorios-de-cejas")
      %h4=link_to("Rizadores de pestañas","/categoria/rizadores-de-pestanas")
      %h4=link_to("Sacapuntas","/categoria/sacapuntas")
      %h4=link_to("Espejos","/categoria/espejos")

    .col-md-4
      %h3=link_to("HOMBRES", "/categoria/hombres")
      %ul
        %li=link_to("Obsequios y sets", "/categoria/obsequios-y-sets-5")
        %li=link_to("Afeitado", "/categoria/afeitado")
        %li=link_to("Humectantes y tratamientos", "/categoria/humectantes-y-tratamientos")
        %li=link_to("Cremas de ojos", "/categoria/cremas-de-ojos")
        %li=link_to("Cuerpo y ducha", "/categoria/cuerpo-y-ducha")
      %h3=link_to("OBSEQUIOS", "/obsequios")
      %ul
        %li=link_to("$500 o menos", "/obsequios?rango=500")
        %li=link_to("$500 a $1000", "/obsequios?rango=500-1000")
        %li=link_to("$1000 a $1500", "/obsequios?rango=1000-1500")
        %li=link_to("$1500 a $2000", "/obsequios?rango=1500-2000")
        %li=link_to("$2000 a más", "/obsequios?rango=2000")
      %h3=link_to("BLOG", "/posts")
      %h3=link_to("REBAJAS", "/rebajas")
      %h3 TIENDAS Y EVENTOS
      %h4=link_to("TIENDAS","/tiendas")
      %h4=link_to("EVENTOS","/lista_eventos")
      %h4=link_to("BEAUTY STUDIO","/minimakeovers")
      %ul
        %li=link_to("Mini makeovers","/minimakeovers")
        %li=link_to("Makeover personalizado","/makeoverpersonalizado")
        %li=link_to("Beauty uno a uno","/beautyunoauno")
        %li=link_to("Consulta personalizada de belleza","/consultapersonalizadabelleza")
      %h3=link_to "POLITICAS DE PRIVACIDAD", politicas_path
      %h3=link_to "POLITICAS DE DEVOLUCION", politicas_privacidad_path