- if flash[:suscripcion_exito]
  %h2 Gracias por contactarnos, te enviaremos un e-mail pronto.
- else
  = form_for @suscripcion, :url => "/suscripcion#suscripcion" do |f|
    %p
      = form_error @suscripcion, :email
      = f.email_field :email, :placeholder => "E-Mail", :class => "texto"
    %p
      = f.submit "Enviar", :class => "boton"
