%section#tiendas
  %h2
    nuestras tiendas
  .table.full
    .contizq.tcell.t25
      
    .contder.tcell.t75
      %h3 NUESTRAS TIENDAS
      %ul.nolist
        %li
          .table.full
            .tcell.t25
              =image_tag ('tiendas/1.png')
            .info.tcell.t75
              %h4 Sephora Antara
              %p Antara Fashion Hall
              %p Ejército Nacional #843-B,
              %p Col. Granada, Del. Miguel Hidalgo,
              %p Ciudad de México, C.P. 11520
              %p Tel. 5280•1485
        %li
          .table.full
            .tcell.t25
              =image_tag ('tiendas/2.png')
            .info.tcell.t75
              %h4 Sephora Interlomas
              %p Centro Comercial Paseo Interlomas
              %p Vialidad de la Barranca No. 6
              %p Col. Ex Hacienda Jesús del Monte,
              %p Municipio de Huixquilucan,
              %p Estado de México
              %p Tel. 5290•3731
        %li
          .table.full
            .tcell.t25
              =image_tag ('tiendas/4.png')
            .info.tcell.t75
              %h4 Sephora Puebla
              %p Centro Comercial Angelópolis
              %p Boulevard Niño Poblano 2510
              %p Col. Concepción de la Cruz
              %p Puebla/Puebla Centro Comercial Angelopolis,
              %p Luxury Hall, Local UP71-161
              %p 1er nivel
              %p Tel. 2222•251343
        %li
          .table.full
            .tcell.t25
              =image_tag ('tiendas/3.png')
            .info.tcell.t75
              %h4 Sephora Satélite
              %p Plaza Satélite
              %p Circuito Centro Comercial No. 2251,
              %p del Fraccionamiento de Cd. Satélite,
              %p Municipio de Naucalpan de Juárez,
              %p Estado de México
              %p Tel. 5374•0416
              %p Tel. 5393•4921          
        %li
          .table.full
            .tcell.t25
              =image_tag ('tiendas/5.png')
            .info.tcell.t75
              %h4 Sephora Guadalajara
              %p Plaza Andares
              %p Boulevard Puerta de Hierro,
              %p Fraccionamiento Plaza Andares,
              %p Guadalajara
              %p Tel. 3336•110199
              %p Tel. 3336•113842
