- provide :titulo, "Nuestras tiendas"
%section#tiendas
  %h2
    nuestras tiendas
  .table.full
    .contizq.tcell.t25
      
    .contder.tcell.t75
      %h3 NUESTRAS TIENDAS
      %ul.nolist
        %li
          .table.full
            .tcell.t25
              =link_to (image_tag ('tiendas/1.png')), 'https://maps.google.com/maps/place?ftid=0x85d2021ad7d389b3:0xb4b8b3901e4b81ce&q=Ej%C3%A9rcito+Nacional+843-+B+Col.+Granada,+M%C3%A9xico+D.F.&dtab=0&ie=UTF8&ll=19.445773,-99.207208&spn=0.00002,0.000021&t=m&z=16&vpsrc=0'
              %p.mapa
                =link_to "ver mapa", 'https://maps.google.com/maps/place?ftid=0x85d2021ad7d389b3:0xb4b8b3901e4b81ce&q=Ej%C3%A9rcito+Nacional+843-+B+Col.+Granada,+M%C3%A9xico+D.F.&dtab=0&ie=UTF8&ll=19.445773,-99.207208&spn=0.00002,0.000021&t=m&z=16&vpsrc=0'
            .info.tcell.t75
              %h4 Sephora Antara
              %p Antara Fashion Hall
              %p Ejército Nacional #843-B,
              %p Col. Granada, Del. Miguel Hidalgo,
              %p Ciudad de México, C.P. 11520
              %p Tel. 5280•1485
        %li
          .table.full
            .tcell.t25
              =link_to (image_tag ('tiendas/2.png')), 'https://plus.google.com/117678867482720972346/about?gl=US&hl=es'
              %p.mapa
                =link_to "ver mapa", 'https://plus.google.com/117678867482720972346/about?gl=US&hl=es'
            .info.tcell.t75
              %h4 Sephora Interlomas
              %p Centro Comercial Paseo Interlomas
              %p Vialidad de la Barranca No. 6
              %p Col. Ex Hacienda Jesús del Monte,
              %p Municipio de Huixquilucan,
              %p Estado de México
              %p Tel. 5290•3731
        %li
          .table.full
            .tcell.t25
              =link_to (image_tag ('tiendas/4.png')), 'https://maps.google.com.mx/maps?q=Centro+Comercial++Andares+Zapopan&hl=es&ll=20.714373,-103.397827&spn=0.04552,0.084543&sll=20.706826,-103.405981&sspn=0.022761,0.042272&hq=Centro+Comercial+Andares&hnear=Zapopan,+Jalisco&t=m&z=14&iwloc=B'
              %p.mapa
                =link_to "ver mapa", 'https://maps.google.com.mx/maps?q=Centro+Comercial++Andares+Zapopan&hl=es&ll=20.714373,-103.397827&spn=0.04552,0.084543&sll=20.706826,-103.405981&sspn=0.022761,0.042272&hq=Centro+Comercial+Andares&hnear=Zapopan,+Jalisco&t=m&z=14&iwloc=B'
            .info.tcell.t75
              %h4 Sephora Puebla
              %p Centro Comercial Angelópolis
              %p Boulevard Niño Poblano 2510
              %p Col. Concepción de la Cruz
              %p Puebla/Puebla Centro Comercial Angelopolis,
              %p Luxury Hall, Local UP71-161
              %p 1er nivel
              %p Tel. 2222•251343
        %li
          .table.full
            .tcell.t25
              =link_to (image_tag ('tiendas/3.png')), 'https://maps.google.com.mx/maps?q=Plaza+Sat%C3%A9lite,+Circuito+Centro+Comercial,+Ciudad+Sat%C3%A9lite,+Naucalpan+de+Ju%C3%A1rez&hl=es&ie=UTF8&ll=19.510205,-99.231176&spn=0.010254,0.021136&sll=23.625269,-102.540613&sspn=20.044674,43.286133&oq=plaza+satelite&hq=Plaza+Sat%C3%A9lite,+Circuito+Centro+Comercial,+Ciudad+Sat%C3%A9lite,+Naucalpan+de+Ju%C3%A1rez&t=m&z=16'
              %p.mapa
                =link_to "ver mapa", 'https://maps.google.com.mx/maps?q=Plaza+Sat%C3%A9lite,+Circuito+Centro+Comercial,+Ciudad+Sat%C3%A9lite,+Naucalpan+de+Ju%C3%A1rez&hl=es&ie=UTF8&ll=19.510205,-99.231176&spn=0.010254,0.021136&sll=23.625269,-102.540613&sspn=20.044674,43.286133&oq=plaza+satelite&hq=Plaza+Sat%C3%A9lite,+Circuito+Centro+Comercial,+Ciudad+Sat%C3%A9lite,+Naucalpan+de+Ju%C3%A1rez&t=m&z=16'
            .info.tcell.t75
              %h4 Sephora Satélite
              %p Plaza Satélite
              %p Circuito Centro Comercial No. 2251,
              %p del Fraccionamiento de Cd. Satélite,
              %p Municipio de Naucalpan de Juárez,
              %p Estado de México
              %p Tel. 5374•0416
              %p Tel. 5393•4921          
        %li
          .table.full
            .tcell.t25
              =link_to (image_tag ('tiendas/5.png')), 'https://maps.google.com.mx/maps?q=Centro+Comercial++Andares+Zapopan&hl=es&ll=20.714373,-103.397827&spn=0.04552,0.084543&sll=20.706826,-103.405981&sspn=0.022761,0.042272&hq=Centro+Comercial+Andares&hnear=Zapopan,+Jalisco&t=m&z=14&iwloc=B'
              %p.mapa
                =link_to "ver mapa", 'https://maps.google.com.mx/maps?q=Centro+Comercial++Andares+Zapopan&hl=es&ll=20.714373,-103.397827&spn=0.04552,0.084543&sll=20.706826,-103.405981&sspn=0.022761,0.042272&hq=Centro+Comercial+Andares&hnear=Zapopan,+Jalisco&t=m&z=14&iwloc=B'
            .info.tcell.t75
              %h4 Sephora Guadalajara
              %p Plaza Andares
              %p Boulevard Puerta de Hierro,
              %p Fraccionamiento Plaza Andares,
              %p Guadalajara
              %p Tel. 3336•110199
              %p Tel. 3336•113842
