#wallpapers
  .header
    =image_tag 'wallpapers/header.jpg'
  .instrucciones
    %p.linea
    %p Puedes descargar las imágenes de 3 formas:
    %p 1•Directo en tu computadora: dando clic en la opción deseada y guardando en el escritorio.
    %p 2•Decarga directa en smartphone o tableta: Selecciona el dispositivo que quieras y mantén presionada la imagen para descargarla.
    %p 3• Ingresa tu mail para recibirla por correo.
    %p.linea
