#wallpapers
  .swiper-container
    .swiper-wrapper
      .swiper-slide= image_tag("colorexplotion/wallpaper-01.jpg")
      .swiper-slide= image_tag("colorexplotion/wallpaper-02.jpg")
      .swiper-slide= image_tag("colorexplotion/wallpaper-03.jpg")

= render(:partial => "mobile/layouts/footer")
:javascript
  $(function(){
    var mySwiper = $('.swiper-container').swiper({
      mode:'horizontal',
      loop: false
    });
  })
