#wallpapers
  .swiper-container
    .swiper-wrapper
      .swiper-slide= image_tag("mobile/specials/wallpapers/holidays/wp_holidays_1.jpg")
      .swiper-slide= image_tag("mobile/specials/wallpapers/holidays/wp_holidays_2.jpg")
      .swiper-slide= image_tag("mobile/specials/wallpapers/holidays/wp_holidays_3.jpg")

= render(:partial => "mobile/layouts/footer")
:javascript
  $(function(){
    var mySwiper = $('.swiper-container').swiper({
      mode:'horizontal',
      loop: false
    });
  })
