#big-prices{
	max-width:1020px;
	width:1020px;
	margin:auto;
	display:block;
	h2{
		text-align:center;
		letter-spacing: -1px;
		font-weight: 400;
		display: block;
		margin:40px auto;
		&.strong{
			font-weight: 600;
		}
	}
	h3{
		letter-spacing: -1px;
	}
	.text-left{text-align:left;}
	.rojo{color:#E10602;}
	p{
		display:block;
		font-size: 16px;
		line-height: 1.3em;
		margin:0;
		padding: 5px 0;
	}
}