#seccion-2{
	background-color:white;
	background-image: image-url("aniversario-catorce/home/banner_luces.png");
	background-size:contain;
	background-repeat:no-repeat;
	display:block;
	padding-top:198px;
	text-align:center;
	#collage{
		max-width: 130*5px;
		display: inline-block;
		vertical-align: top;
		ul.collage_home{
			text-align: left;
			padding:0;
			margin:0;
			li{
				display: inline-block;
				width: 124px;
				margin: 5px auto;
				opacity: 0.4;
				transition: opacity 350ms;
				cursor: pointer;
				position: relative;
				&:hover{
					opacity: 1;
				}
				.proximamente{
					width: 100%;
					height: 100%;
					display: block;
					background-color: #000;
					width: 124px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					p{
						color:white;
						position: absolute;
						bottom:5px;
						left:15px;
					}
				}
			}
		}
		p{
			line-height: 1.2em;
			&.text-right{text-align:right;}
		}
	}
	#sidebar{
		width: 370px;
		display: inline-block;
		vertical-align: top;
		.side_banner{
			display: block;
			margin: 20px auto;
			&:nth-child(1){margin-top:0;}
		}
	}
}
#seccion-3{
	background-color:white;
	width:100%;
	display:block;
	text-align:center;
	padding:20px 0;
	.regalos{
		display: block;
		clear:both;
		img{width:auto; display:block; margin:auto;}
		padding-bottom: 40px;
	}
	.eventos{
		width:40%;
		display: inline-block;
		img{width:auto; display:block; margin:auto;}
	}
	.mapa{
		width:40%;
		display: inline-block;
		img{width:auto; display:block; margin:auto;}
	}
	.eventos, .mapa{
		opacity: 0.4;
		transition: opacity 450ms;
		cursor: pointer;
		&:hover{
			opacity: 1;
		}
	}
}
#seccion-4{
	display:block;
	background-color:white;
	position: relative;
	img{width:auto; display:block; margin:auto;}
	.marca_1, .marca_2, .marca_3, .marca_4, .marca_5, .marca_6{
		background-color: rgba(255, 255, 255, 0.8);
		transition: background-color 350ms;
		&:hover{
			background-color: transparent;
		}
	}
	.linea_1, .linea_2, .linea_3, .linea_4{
		width: 1020px;
		left: 100px;
	}
	.linea_1{
		position: absolute;
		top: 100px;
		height: 70px;
		display: block;
		.marca_1, .marca_2, .marca_3, .marca_4, .marca_5, .marca_6{
			display: block; 
			height: 40px; 
			width: 100px;
			cursor: pointer;
			position: absolute;
		}
		.marca_1{
			top: 17px;
			left: 60px;
			width: 150px;
		}
		.marca_2{
			top: 17px;
			left: 230px;
			width: 160px;
		}
		.marca_3{
			top: 17px;
			left: 420px;
			width: 122px;
			height: 48px;
		}
		.marca_4{
			top: 14px;
			left: 566px;
			width: 141px;
			height: 48px;
		}
		.marca_5{
			top: 10px;
			left: 735px;
			width: 126px;
			height: 48px;
		}
		.marca_6{
			top: 16px;
			left: 869px;
			width: 90px;
		}
	}
	.linea_2{
		position: absolute;
		top: 176px;
		height: 70px;
		display: block;
		.marca_1, .marca_2, .marca_3, .marca_4, .marca_5, .marca_6{
			display: block; 
			height: 40px; 
			width: 100px;
			cursor: pointer;
			position: absolute;
		}
		.marca_1{
			top: 14px;
			left: 34px;
			width: 200px;
		}
		.marca_2{
			top: 10px;
			left: 270px;
			width: 180px;
		}
		.marca_3{
			top: 4px;
			left: 474px;
			width: 96px;
			height: 55px;
		}
		.marca_4{
			top: 4px;
			left: 586px;
			width: 64px;
			height: 65px;
		}
		.marca_5{
			top: 10px;
			left: 665px;
			width: 126px;
			height: 60px;
		}
		.marca_6{
			top: 6px;
			left: 809px;
			width: 141px;
			height: 57px;
		}
	}
	.linea_3{
		position: absolute;
		top: 252px;
		height: 66px;
		display: block;
		.marca_1, .marca_2, .marca_3, .marca_4, .marca_5, .marca_6{
			display: block; 
			height: 40px; 
			width: 100px;
			cursor: pointer;
			position: absolute;
		}
		.marca_1{
			top: 18px;
			left: 45px;
			width: 160px;
		}
		.marca_2{
			top: 16px;
			left: 222px;
			width: 190px;
			height: 50px;
		}
		.marca_3{
			top: 15px;
			left: 424px;
			width: 155px;
			height: 46px;
		}
		.marca_4{
			top: 11px;
			left: 599px;
			width: 104px;
			height: 55px;
		}
		.marca_5{
			top: 20px;
			left: 715px;
			width: 246px;
			height: 40px;
		}
	}
	.linea_4{
		position: absolute;
		top: 323px;
		height: 66px;
		display: block;
		.marca_1, .marca_2, .marca_3, .marca_4, .marca_5, .marca_6{
			display: block; 
			height: 40px; 
			width: 100px;
			cursor: pointer;
			position: absolute;
		}
		.marca_1{
			top: 14px;
			left: 47px;
			width: 140px;
		}
		.marca_2{
			top: 14px;
			left: 202px;
			width: 140px;
			height: 40px;
		}
		.marca_3{
			top: 11px;
			left: 350px;
			width: 155px;
			height: 46px;
		}
		.marca_4{
			top: 12px;
			left: 519px;
			width: 116px;
			height: 45px;
		}
		.marca_5{
			top: 1px;
			left: 648px;
			width: 96px;
			height: 65px;
		}
		.marca_6{
			top: 14px;
			left: 757px;
			width: 206px;
			height: 40px;
		}
	}
}
