#seccion-2
  = image_tag("aniversario-catorce/home/header_txt_internas.png", {:class => "logo_beauty"})
  #beauty
    .beauty_informacion
      %h1
        BEAUTY
        %span.rojo 
          TRIP
      %a.bases{:href => "#"} BASES DEL CONCURSO
      %p
        %strong
          Ingresa tu número de
          %span.rojo ticket
        %strong de compra 
        y responde el cuestionario en el menor tiempo para ganar un BEAUTY TRIP a E.U.A. con nuestros expertos de belleza de Shiseido, Bliss, Stila y Sephora.
      %p
        %strong Una vez ingresado el número de ticket deberás responder de inmediato el cuestionario para participar.
        Si aún no deseas responder el cuestionario, no ingreses el número de ticket.
        %br
        Tienes hasta el 4 de noviembre de 2014 para ingresar el número de ticket y participar.
      %p
        En caso de ser ganadora es
        %strong
          indispensable mostrar tu ticket de compra.

      = form_tag aniversario_catorce_beauty_trip_init_path do |f|
        .form-group
          %label
            Nombre completo:
          %input{:type=>"text", :name => "usuario_trivia[nombre]", :class => "form-control"}
        .form-group
          %label
            ID de Ticket:
          %input{:type=>"text", :name => "usuario_trivia[ticket]", :class => "form-control"}
        .form-group
          %label
            Dirección Completa:
          %input{:type=>"text", :name => "usuario_trivia[direccion]", :class => "form-control"}
        .form-group
          %label
            E mail:
          %input{:type=>"text", :name => "usuario_trivia[correo]", :class => "form-control"}
        .form-group
          %label
            Teléfono:
          %input{:type=>"text", :name => "usuario_trivia[telefono]", :class => "form-control"}
        .checkbox
          %label
            Acepto términos legales y condiciones.
            %input{:type=>"checkbox"}
        %input{:type=>"submit", :class => "btn submit"}

