#seccion-2
  =image_tag("aniversario-catorce/prices/pleca_main.jpg")
  #big-prices
    %a.bases{:href => "#"} BASES DEL CONCURSO
    %h2
      Desde un 
      %strong
        kit de productos Sephora 
      con valor de $24,000 pesos hasta un
      %strong
        viaje a E.U.A.
      , gana por ser una
      %strong
        Sephora 
      %strong.rojo
        Lover.
    %h3
      INSTRUCCIONES
    %h3.rojo.text-left BEAUTY TRIP

    %p.text-left 1.- Compra $2,000 pesos o más durante nuestro Reto Makeover en Sephora Antara* y participa para ganar un Beauty Trip a E.U.A. con los expertos de belleza de Shiseido, Bliss, Stila y Sephora.
    %p.text-left 2.- Selecciona en esta página “¡Quiero mi makeover!” e ingresa tu ticket de compra.
    %p.text-left 3.- Responde correctamente el cuestionario en el menor tiempo posible y sé la ganadora del viaje.

    %h3.rojo.text-left GOLDEN CASE
    %p.text-left 1.- Compra $1,000 pesos o más durante nuestro Reto Makeover en Sephora Antara* y participa para ganar un kit de productos con un valor de $24,000 pesos de producto de Formula X, Sephora Collection, Benefit, entre otras marcas.** 
    %p.text-left 2.- Sube una foto a Instagram o Twitter mostrando tu mejor experiencia en el Reto Makeover en Sephora Antara*
    %p.text-left 3.- Agrega tu número de ticket y el hashtag oficial #RetoMakeover en la descripción de la foto. Si tu foto es la más popular***, serás la ganadora del kit.

    %h2.strong Participa del 31 de octubre al 3 de noviembre de 2014.

    %h3.text-center.rojo.strong ¡PRÓXIMAMENTE!

    %p
      %small
        *Compra exclusiva en Sephora Antara y en la carpa durante el Reto Makeover el 31 de octubre, 1 y 2 de noviembre de 2014.
        **Kit con un valor de $24,000 pesos de productos de NARS, Smashbox, Benefit, Fresh, Jack Black, Peter Thomas Roth, Formula X, Sephora Collection y Murad.
        ***La foto participante con mayores interacciones en Instagram o Twitter será la ganadora del kit.
        1 ganador por premio, 1 participación por ticket, no es acumulable.
#seccion-3
  .eventos.0
    = link_to image_tag("aniversario-catorce/prices/banner_viaje.jpg"), restricted("2014,10,31,08,00,00", aniversario_catorce_beauty_trip_path)
  .mapa
    = image_tag("aniversario-catorce/prices/banner_case.jpg")
    


