#vista{:vista=> "mapa"}
  #seccion-2
    = image_tag("aniversario-catorce/home/header_txt_internas.png", {:class => "logo_beauty"})
    =image_tag("aniversario-catorce/mapa/mapa1.jpg")
    =image_tag("aniversario-catorce/mapa/mapa2.jpg")