.txt-vip
	=image_tag "aniversario-catorce/vip/txt.png", { :class=> "" }
	=form_tag aniversario_catorce_vip_signin_path do |f|
		%input.codigo{:type => "password", :name => "codigo"}
		%input.submit{:type => "submit"}