%h3 ¡Precios descontinuados con éxito!
%table{:border => "1", :cellpadding => "3"}
  %thead
    %tr
      %th
        UPC
      %th
        Producto
      %th
        Publicado
  %tbody
  - @data.each do |d|
    %tr
      %td
        =d[:upc]
      %td 
        =d[:nombre]
      %td 
        -if d[:publicado]
          %p{:style=>"color:#00CC00"} 
            Publicado
        -else
          %p{:style=>"color:#CC0000"} 
            No Publicado