- if @data
  - if @actualizado
    %h3 ¡Precios actualizados con éxito!
  %table{:border => "1", :cellpadding => "3"}
    %thead
      %tr
        %th
          UPC
        %th
          Producto
        %th
          Publicado
    %tbody
    - @data.each do |d|
      %tr
        %td
          =d[:upc]
        %td 
          =d[:nombre]
        %td 
          -if d[:publicado]
            %p{:style=>"color:#00CC00"} 
              Publicado
          -else
            %p{:style=>"color:#CC0000"} 
              No Publicado
  - unless @actualizado
    .save
      =link_to "Descontinuar Productos", descontinuar_guardar_path, :class => 'actboton'
- else
  =form_tag(descontinuar_path, :enctype=>"multipart/form-data") do
    = file_field_tag :file
    = submit_tag
