#main{:vista=>"campaing_landings"}
  .bs-docs-section.col-12.col-md-12.col-lg-12{:role => "main"}
    .page-header
      %h2#btn-groups
        %i.glyphicon.glyphicon.glyphicon-images
        Campaing Landing
    .page-body
      = render 'form'

