=image_tag("mascarillasnaturales/mobile/01.jpg", {width: "100%"});
.masca-content{style: "text-align: center;"}
	=link_to(image_tag("mascarillasnaturales/mobile/02.jpg", {width: "100%"}), "/mascarillasflores");
	=link_to(image_tag("mascarillasnaturales/mobile/03.jpg", {width: "100%"}), "/mascarillasplantas");
	=link_to(image_tag("mascarillasnaturales/mobile/04.jpg", {width: "100%"}), "/mascarillasfrutas");
	=link_to(image_tag("mascarillasnaturales/mobile/05.jpg", {width: "100%"}), "/mascarillasraices");
=link_to(image_tag("mascarillasnaturales/mobile/06.png", {width: "100%"}), "/beneficiosmascarillas");

