#vista{:pagina => "inicio"}
  .box.participar
    .cerrar
    %h3.rosa CÓMO PARTICIPAR:  
    %p
      %strong - Ingresa a la app y añade la información solicitada: 
      %br
      E mail, nombre, tip de belleza y foto.
    %p
      %strong - Comparte tu mejor tip 
      de belleza en 140 caracteres, perfecto para iniciar un 2014 lleno de belleza y color.
    %p
      \- Añade una foto del tip
    %p
      %strong - Sé parte del primer Beauty Book 2014 de Sephora México
      %br
      que se compartirá en exclusiva con toda la comunidad de Sephora México en Enero 2014 y gana fabulosos obsequios.
    %p 
      \- Tienes hasta el 
      %strong 31 de Diciembre de 2013
      para participar.
  .box.premios
    .cerrar
    %h3.azul PREMIOS:  
    %p
      Los
      %strong 3 mejores tips
      ,seleccionados por un jurado especial de Sephora México ganarán un
      %strong Holiday Kit
      de nuestras
      %strong marcas exclusivas.
    %p 
      %small *El monto de los premios, dependerá de la cantidad de tips compartidos, entre mas tips, mas grandes seran los regalos.
  .bottones.howto
  .bottones.prices
  .formulario
    =form_for @tip, :url => post_sephora_tips_path do |f|
      =f.text_field :nombre, placeholder: "Tu nombre" 
      =f.text_field :correo, placeholder: "tucorreo@correo.com"
      =f.text_area :tip, placeholder: "Tu mejor tip para este 2014", :maxlenght => 140
      .fakeUploadFoto
        seleccionar imagen
      =f.file_field :foto
      =f.submit "" , :class => "submit"