=image_tag("holiday/frases/01.jpg")
.cards.text-center
 - [*1..9].each do |i|
  =image_tag("holiday/frases/frases/#{i}.png", {class: "phrase-card", width: "180px"})
:css
  .phrase-card{
    width: 180px;
    margin: 10px;
    cursor: pointer;
  }