%section.seccion-soluciones#seccion-ver
  %h2 Soluciones
  - if @subsecciones and @subsecciones.any?
    %ul
      - @subsecciones.each do |subseccion|
        %li
          = link_to subseccion.nombre, soluciones_path(subseccion.id)
