- provide :titulo, "Soluciones"
- provide :descripcion, 'Nuestro top de productos de gran performance resolverán tus dilemas de belleza.'
%section#soluciones
  %h2
    SOLUCIONES
    %span
      Nuestro top de productos de gran performance resolverán tus dilemas de belleza.
  %ul.nolist
    %li
      =link_to image_tag('soluciones/1.jpg'), soluciones_path(7)
    %li
      =link_to image_tag('soluciones/2.jpg'), soluciones_path(2)
    %li
      =link_to image_tag('soluciones/3.jpg'), soluciones_path(6)
    %li
      =link_to image_tag('soluciones/4.jpg'), soluciones_path(9)
    %li
      =link_to image_tag('soluciones/5.jpg'), soluciones_path(3)
    %li
      =link_to image_tag('soluciones/6.jpg'), soluciones_path(5)
    %li
      =link_to image_tag('soluciones/7.jpg'), soluciones_path(8)
    %li
      =link_to image_tag('soluciones/8.jpg'), soluciones_path(4)
    %li
      =link_to image_tag('soluciones/9.jpg'), soluciones_path(10)
