#main{:vista=>"beauty"}
  .beauty
    = image_tag 'mobile/home/beauty_studio_logo.jpg'
  .contendbeauty
    %ul#lista
      %li.cabecera
        %h5 
          MAKEOVER PERSONALIZADO
        %p
          45 minutos. En la compra previa de una gift card de $750 pesos (redimible por producto).
        %p
          Maquillajes completos. Con previa cita.
        %p
          Disponible en todas las tiendas de Sephora México.
      %li.cabecera
        %h5 
          BEAUTY UNO A UNO
        %ul.contenido
          %li
            %p
              90 minutos. En la compra previa de una gift card de $1, 500 pesos (redimible por producto).
            %p
              Clase individual, ofrecida por un maquillista certificado, para conocer tu rostro y los básicos del maquillaje. Con previa cita.
            %p
              Disponible en todas las tiendas de Sephora México.
      %li.cabecera
        %h5 
          CONSULTA PERSONALIZADA DE BELLEZA
        %ul.contenido
          %li
            %p 
              90 minutos.  En la compra previa de una gift card de $2, 500 pesos (redimible por producto).
            %p
              Sesión de belleza exclusiva, dirigida por un consultor especializado y certificado, que incluye un makeover personalizado.
              La Consulta Personalizada está enfocada en skincare, maquillaje, cabello y fragancia. Con previa cita.
              = link_to 'Aquí','http://sephora.com.mx/consultorpersonalbelleza'