#main{:vista=>"beauty"}
  .beauty
    = image_tag 'mobile/home/beauty_studio_logo.jpg'
  .contendbeauty
    %ul#lista
      %li.cabecera
        %h5 
          SERVICIO EXPRESS
        %ul.contenido
          %li Base Perfecta
          %li Piel Hermosa
          %li Trata y Oculta
          %li Blush y Bronze
          %li Look Diario
          %li Smoky Eyes
          %li Pestañas Postizas
          %li
            Labios Perfectos
      %li.cabecera
        %h5 
          SERVICIO COMPLETO DE BELLEZA
        %ul.contenido
          %li
            %p
              Logra el look que deseas para un evento especial, en una sesión completa de maquillaje de 45 minutos con un experto de belleza.
              Conoce las últimas tendencias y aprende los mejores tips y técnicas para recrearlo en casa.
              Previa cita necesaria.
            %p
              Para agendar el servicio adquiere una gift card de $750.
            %p
              Disponible en todas las tiendas Sephora México.
      %li.cabecera
        %h5 
          CONSULTOR PERSONAL DE BELLEZA
        %ul.contenido
          %li
            %p 
              En 90 minutos encontrarás cuáles son los productos ideales para ti y la mejor manera de utilizarlos de la mano del primer Consultor Personal de Belleza en México.
            %p
              Exclusivo de Sephora antara
              Agenda tu cita en tienda o al 5280 1485
              Conoce los detalles 
              = link_to 'Aquí','http://sephora.com.mx/consultorpersonalbelleza'
            %p 
              Realiza la compra de una gift card de $1,500 pesos redimible al final de tu experiencia por los productos que te recomiende nuestro consultor.
