%input{:type => "hidden" :id=>"unique" :value=>"#{@unique}"}/ 
#main{:vista=>"especialesmes"}
  .seccionesp
    %ul 
      %li
      	ALERT
        = image_tag('mobile/especiales/funda.png')
=:javascript
	$(document).ready(function()){
		uni = $("#unique").val();
		alert(uni);
		if(uni != null){
			alert(uni);
		}
	});
