#main{:vista=>"lonuevo"}
  .newproductos
    - if @lonuevo and (lonuevo_productos = @lonuevo.producto_seccion) and lonuevo_productos.any?
      .touchslider
        .touchslider-viewport
          %ul
            - lonuevo_productos.each do |lonuevo_producto|
             asd
        %div.flechas
          %span.touchslider-prev
            =image_tag "mobile/flecha_izq.png"
          %span.touchslider-next
            =image_tag "mobile/flecha_der.png"