%ul
  %li
    =link_to "nueva marca", new_marca_path
-if @marcas and @marcas.any?
  %h3 Nuestras Marcas
  %ul
    -@marcas.each do |marca|
      %li
        =link_to marca.marca, marca_ver_path(marca.slug)
        %small
          =button_to "borrar", marca, :method => :delete
          =link_to "editar", edit_marca_path(marca.id)

