.beauty
  = image_tag 'mobile/home/beauty_studio_logo.jpg'
.contendbeauty
  %ul
    %li
      %a{:href => "#"} serivicios express
    %li
      %a{:href => "#"} servicio completo de belleza
    %li
      %a{:href => "#"} consultor personalde belleza
