.beauty
  = image_tag 'mobile/home/beauty_studio_logo.jpg'
.contendbeauty
  %ul#lista
    %li SERVICIO EXPRESS
    %ul
      %li Base Perfecta
      %li Piel Hermosa
      %li Trata y Oculta
      %li Blush y Bronze
      %li Look Diario
      %li Smoky Eyes
      %li Pestañas Postizas
      %li
        Labios Perfectos
    %li SERVICIO COMPLETO DE BELLEZA
    %ul
      %li Logra el look que deseas para un evento especial, en una sesión completa de maquillaje de 45 minutos con un experto de belleza.
      %li
        Conoce las últimas tendencias y aprende los mejores tips y técnicas para recrearlo en casa.
        Previa cita necesaria. Para agandar el servicio adquiere una gift card de $750.
        Disponible en todas las tiendas Sephora México.
    %li CONSULTOR PERSONAL DE BELLEZA
    %ul
      %li En 90 minutos encontrarás cuáles son los productos ideales para ti y la mejor manera de utilizarlos de la mano del primer Consultor Personal de Belleza en México.
      %li
        Exclusivo de Sephora antara
        Agenda tu cita en tienda o al 5280 1485
        Conoce los detalles 
        = link_to 'Aquí','http://sephora.com.mx/consultorpersonalbelleza'
      %li Realiza la compra de una gift card de $1,500 pesos redimible al final de tu experiencia por los productos que te recomiende nuestro consultor.
