.fav
  .medcolumna
    .caja
      %h6.back mis favoritos
  .medcolumna
    .caja
      %h6 mi cosmetiquera
.cuerpo
  .medcolumna
    .raya
      =link_to image_tag"mobile/home/1.jpg"
      .texto
        %h5 titulo
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, non soluta ipsa minus necessitatibus nostrum ipsum sapiente expedita! Non nostrum ut quaerat repellendus velit sunt nulla id itaque libero blanditiis?
  .medcolumna
    =link_to image_tag"mobile/home/1.jpg"
    .texto
      %h5 titulo
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, non soluta ipsa minus necessitatibus nostrum ipsum sapiente expedita! Non nostrum ut quaerat repellendus velit sunt nulla id itaque libero blanditiis?
