%ul#submenu
	%li Maquillaje
	%li Skincare
	%li Fragancias
	%li.more
		%i.glyphicon.glyphicon-play{"aria-hidden" => "true"}
	.clearfix
#home
	%ul#home-blocks
		%li#marcas=image_tag("mobile/home/btn_marcas.png")
		%li#eventos=image_tag("mobile/home/btn_eventos.png")
		%li#tiendas=image_tag("mobile/home/btn_tiendas.png")
		%li#beauty-studio=image_tag("mobile/home/btn_beauty_studio.png")
		%li#blog=image_tag("mobile/home/btn_blog.png")
		%li#mobile-specials=image_tag("mobile/home/btn_specials.png")
	#home-links
		%h4 Links Rápidos
		%ul#quick-links
			%li
				HOT NOW
				.pull-right
					%i.glyphicon.glyphicon-play{"aria-hidden" => "true"}
			%li
				LO NUEVO
				.pull-right
					%i.glyphicon.glyphicon-play{"aria-hidden" => "true"}
			%li
				BEST SELLERS
				.pull-right
					%i.glyphicon.glyphicon-play{"aria-hidden" => "true"}
			%li
				FAVORITOS
				.pull-right
					%i.glyphicon.glyphicon-play{"aria-hidden" => "true"}
			%li
				SOLUCIONES
				.pull-right
					%i.glyphicon.glyphicon-play{"aria-hidden" => "true"}
	#home-banner
		=image_tag("mobile/home/ven_a_nuestros.png")
%ul#redes
	%li
		%a.yt{:href => "/"}
	%li
		%a.fb{:href => "/"}
	%li
		%a.tw{:href => "/"}
	%li
		%a.it{:href => "/"}
	%li
		%a.pi{:href => "/"}
%ul#subfooter
	%li.aviso Aviso privacidad
	%li Contacto
	%li Tiendas
	.clearfix

