.imagenes
  .columnas
    =link_to image_tag("mobile/home/1.png"), m_nuevo_path
  .columnas
    =link_to image_tag("mobile/home/2.png"),'mobile/hotnow/hotnow'
  .columnas
    =link_to image_tag("mobile/home/3.png"),m_especiales_path
.masimg
  .columnas
    =link_to image_tag("mobile/home/4.png"),m_beauty_path
  .columnas
    =link_to image_tag("mobile/home/5.png"),'#'
  .columnas
    =link_to image_tag("mobile/home/6.png"),m_tiendas_path
.video
  .columnas
    =link_to image_tag("mobile/home/7.png"),m_video_path
