#main{:vista=>"home"}
	.imagenes
		=link_to image_tag("mobile/home/1.png"), m_nuevo_path,{:class=>"columnas"}
		=link_to image_tag("mobile/home/2.png"),'/mobile/hotnow/hotnow',{:class=>"columnas"}
		=link_to image_tag("mobile/home/3.png"),m_especiales_path,{:class=>"columnas"}
	.masimg
		=link_to image_tag("mobile/home/4.png"),m_beauty_path,{:class=>"columnas"}
		=link_to image_tag("mobile/home/5.png"),m_lomas_path,{:class=>"columnas"}
		=link_to image_tag("mobile/home/6.png"),m_tiendas_path    ,{:class=>"columnas"}
	.video
		=link_to image_tag("mobile/home/7.png"),m_video_path,{:class=>"columnas"}