.busqueda
  = form_for :buscar, { :url => m_busqueda_path, :method => :get } do |f|
    %p.nowrap
      .table
        .tcell.t95
          = f.text_field :q, :class => 'input', :placeholder  => "BUSCAR", :value => "#{(params[:buscar][:q]) unless params[:buscar].nil?}"
  %a{ :href => "/" }
#main{:vista=>"home"}
  =link_to image_tag("mobile/home/1.png"), m_nuevo_path,{:class=>"columnas"}
  =link_to image_tag("mobile/home/2.png"),'/mobile/hotnow/hotnow',{:class=>"columnas"}
  =link_to image_tag("aniversario-catorce/mobile/specials_btn.png"), m_especiales_path, {:class=>"columnas"}
  =link_to image_tag("mobile/home/4.png"),m_beauty_path,{:class=>"columnas"}
  =link_to image_tag("mobile/home/5.png"),m_lomas_path,{:class=>"columnas"}
  =link_to image_tag("mobile/home/6.png"),m_tiendas_path    ,{:class=>"columnas"}
  =link_to image_tag("mobile/home/8.png"),m_eventos_path,{:class=>"columnas"}
  =link_to image_tag("mobile/home/7.png"),m_video_path,{:class=>"columnas"}
  .columnas
