.imagenes
  .columnas
    =link_to image_tag("mobile/home/1.jpg"), m_nuevo_path
  .columnas
    =link_to image_tag("mobile/home/2.jpg"),'mobile/hotnow/hotnow'
  .columnas
    =link_to image_tag("mobile/home/3.jpg"),m_especiales_path
.masimg
  .columnas
    =link_to image_tag("mobile/home/4.jpg"),m_beauty_path
  .columnas
    =link_to image_tag("mobile/home/5.jpg"),'#'
  .columnas
    =link_to image_tag("mobile/home/6.jpg"),m_tiendas_path
.video
  .columnas
    =link_to image_tag("mobile/home/7.jpg"),'#'
