.imagenes
  .columnas
    =link_to image_tag"mobile/home/1.jpg"
  .columnas
    =link_to image_tag"mobile/home/2.jpg"
  .columnas
    =link_to image_tag"mobile/home/3.jpg"
.masimg
  .columnas
    =link_to image_tag"mobile/home/4.jpg"
  .columnas
    =link_to image_tag"mobile/home/5.jpg"
  .columnas
    =link_to image_tag"mobile/home/6.jpg"
