#main{:vista=>"hotnow"}
  .hotnow
  - provide :titulo, @seccion.nombre.split(' ').map {|w| w.capitalize }.join(' ')
  .vethotnow{ :class => "seccion-#{@seccion.try(:nombre).try(:parameterize)}"}
    - if @contenido and (seccion_productos = @contenido.producto_seccion) and seccion_productos.any?
      - if @contenido.cover_file_name
        .cover
    .touchslider
      .touchslider-viewport
        %ul
          %li.touchslider-item
            .imagen
              = image_tag 'mobile/home/2.png'
            %h5
              LO MÁS NUEVO, LO MÁS HOT, DE LO QUE TODO EL MUNDO ESTÁ HABLANDO
            %p.text-center
              Acerca de la belleza seleccionado por nosotros para ti
          - seccion_productos.each_with_index do |seccion_producto, i|
            - producto = seccion_producto.producto
            %li.touchslider-item
              .imagen
                =link_to image_tag(producto.foto.url(:chico)), m_producto_path(producto.slug)
              %h5.marca
                = producto.marca.marca
              %h5
                =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), m_producto_path(producto.slug)
              %h5.precio
                $
                = producto.precio.to_i
              =link_to "", m_favorited_path(producto.slug), {:class=>"favorite"}
      %div.flechas
        %span.touchslider-prev=image_tag"mobile/flecha_izq.png"
        %span.touchslider-next=image_tag"mobile/flecha_der.png"
