.productos
- if @lonuevo and (lonuevo_productos = @lonuevo.producto_seccion) and lonuevo_productos.any?
  %ul#slider4.rslides
    - lonuevo_productos.each do |lonuevo_producto|
      - producto = lonuevo_producto.producto
      %li
        .imagen
          =link_to image_tag(producto.foto.url(:chico)), producto_ver_path(producto.slug)
        %h5.marca
          = producto.marca.marca.upcase
        %h5
          =link_to (producto.nombre_real.empty? ? producto.nombre : producto.nombre_real), producto_ver_path(producto.slug)
        - unless lonuevo_producto.descripcion.empty?
          %p
            = lonuevo_producto.descripcion
