- provide :title, "Búsqueda"
.categoria
  .filtros
    .medcolumna
      <strong>Filtrar por precio</strong>
      %li
        =link_to "Precio alto", request.parameters.merge({:precio => "alto"}), :"data-set" => 'alto'
      %li
        =link_to "Precio bajo", request.parameters.merge({:precio => "bajo"}), :"data-set" => 'bajo'
      %li
        =link_to "Marca", request.parameters.merge({:ordenar => "marca"}), :"data-set" => 'marca'
    .medcolumna    
      <strong>Filtrar por marca</strong>
      - if @marcas_para_categoria and @marcas_para_categoria.any?
        - @marcas_para_categoria.each do |r|
          - if r["id"].to_i.in? @marcas_seleccionadas || []
            %li.checked
              =link_to r["marca"], request.parameters.merge({ :page => nil, :marca => ((@marcas_seleccionadas || []) - [r["id"].to_i]).join(",") })
          - else  
            %li.unchecked
              =link_to r["marca"], request.parameters.merge({ :page => nil, :marca => ((@marcas_seleccionadas || []) + [r["id"].to_i]).join(",") })
    .productos
      - if @productos and @productos.any?
        %ul#slider4.rslides
          - @productos.each do |producto|
            %li
              = link_to image_tag(producto.foto.url(:normal)), m_producto_path(producto.slug)
              %h4 #{producto.marca.marca}
              %h4 #{link_to producto.nombre, m_producto_path(producto.slug)}
              %p #{number_to_currency producto.precio}

