#main{:vista=>"producto"}
  .marca
    - unless @producto.marca.logo_file_size.nil?
      = image_tag @producto.marca.logo.url(:grande),{:class =>"le_marca"}
      = image_tag @producto.foto.url(:normal), :id => "prod", :class => "le_producto", :itemprop => 'image'
    .info
      %span.precio{:itemprop => "price"}
        #{number_to_currency(@producto.precio, :precision => 0)}
      %span.marcab
        =@producto.marca.marca
      %span.producto
        %p{:itemprop => "name"}
          =@producto.nombre
    .contenidos
      - unless @producto.descripcion.nil? || @producto.descripcion.size < 5
        #tab3.tabdesc
          %div{:itemprop => "description"}
            =@producto.descripcion.html_safe