#main{:vista=>"retomakeover"}
  = image_tag "aniversario-catorce/mobile/header.png", {:class => "image-centered"}
  %ul.contengo-eventos
    - @catalogo_home.each_with_index do |m, i|
      - marca = m[1]
      - img = marca["imagen"]
      - nombre = marca["nombre"]
      - date = marca["fecha"]
      %li
        -if coming_soon?(date)
          .proximamente
            %p proximamente
        = link_to image_tag("aniversario-catorce/gallery/home/#{img}"), restricted(date, m_retomakeover_ver_path(nombre.parameterize))