#main{:vista=>"wallpaper"}
  .touchslider
    .touchslider-viewport
      %ul 
        %li.touchslider-item 
          = image_tag "mobile/wallpaper/eyeslashes/1.jpg",{:style => "width:310px"}
        %li.touchslider-item 
          = image_tag "mobile/wallpaper/eyeslashes/2.jpg", {:style => "width:310px"}
    %div.controllers.flechas
      %span.touchslider-prev
        %img{:alt => "Flecha_izq", :src => "/assets/mobile/flecha_izq.png"}
      %span.touchslider-nav-item.touchslider-nav-item-current 1
      %span.touchslider-nav-item 2
      %span.touchslider-nav-item 3
      %span.touchslider-next 
        %img{:alt => "Flecha_der", :src => "/assets/mobile/flecha_der.png"}
