- provide :titulo, @categoria.nombre
%section#categoria
  %h2
    = @categoria.nombre
  .table.full
    .contizq.tcell.t25
      %ul
        %li.first
          = @categoria.nombre
        - if @categoria.productos and @categoria.productos.any?
          - @categoria.productos.each do |producto|
            %li
              = producto.nombre
    .contder.tcell.t75
      .contenedor
        %div{:style=>"width: 768px; height: 250px; border: 1px solid red;"}
      .catalogo
        %ul.nobullet.nolist
          %li
            %div{:style=>"width: 125px; height: 165px; border: 1px solid red; margin: 0 auto;"}
            %h4 PRODUCTO 1
            %p Descripcion
            %p $Costo
          %li
            %div{:style=>"width: 125px; height: 165px; border: 1px solid red; margin: 0 auto;"}
            %h4 PRODUCTO 2
            %p Descripcion
            %p $Costo
          %li
            %div{:style=>"width: 125px; height: 165px; border: 1px solid red; margin: 0 auto;"}
            %h4 PRODUCTO 3
            %p Descripcion
            %p $Costo
          %li
            %div{:style=>"width: 125px; height: 165px; border: 1px solid red; margin: 0 auto;"}
            %h4 PRODUCTO 4
            %p Descripcion
            %p $Costo
        .navegacion
          %span ver
          %select
            %option 20 por página
          %span acomodar por:
          %select
            %option más vendidos
          .numeros
            %span 1 2 ...7
            %p 379 artículos
  .table.full
    .tcell.t20
    .masproducto.tcell.80
      %h3 MÁS FRAGANCIAS
      %ul.nobullet
        %li
          %div{:style=>"width: 225px; height: 210px; border: 1px solid red; margin: 0 auto;"}
          %h4 PRODUCTO NUMERO UNO
          %p Lorem ipsum dolor sit amet, nulla dui pharetra dignissim tempus mauris. Varius proin elit tincidunt quam, in amet et magni leo.
        %li
          %div{:style=>"width: 225px; height: 210px; border: 1px solid red; margin: 0 auto;"}
          %h4 PRODUCTO NUMERO UNO
          %p Lorem ipsum dolor sit amet, nulla dui pharetra dignissim tempus mauris. Varius proin elit tincidunt quam, in amet et magni leo.
        %li
          %div{:style=>"width: 225px; height: 210px; border: 1px solid red; margin: 0 auto;"}
          %h4 PRODUCTO NUMERO UNO
          %p Lorem ipsum dolor sit amet, nulla dui pharetra dignissim tempus mauris. Varius proin elit tincidunt quam, in amet et magni leo.
