#descarga
	%a.link{:target => "_blank", :href => @link}
		DESCARGA AQUÍ TU CODIGO DE DESCUENTO
:javascript
	$(".link").click(function(ev){
		location = "#{friendsandfamily_gracias_path(@redemption.id)}/"
	})