#entrada
	%form#codigo_entrada{:method => "post", :action => friendsandfamily_code_path}
		%p
			%strong
				INGRESA TU CONTRASEÑA
		%input{:type => "password", :name => "codigo", :id => "codigo"}
		%input{:type => "submit", :name => "enviar", :id => "enviar", :value => ""}