#entrada
	%form#codigo_entrada{:method => "post", :action => friendsandfamily_code_path}
		%p
			RECIBE UN CUPÓN CON UN
			%strong
				20% DE DESCUENTO 
			EN NUESTRA 
			%strong
				VENTA ESPECIAL DEL 24 AL 30 DE NOVIEMBRE 
			POR SER PARTE DE LA FAMILIA SEPHORA.
		%p
			%strong
				INGRESA TU CONTRASEÑA
		%input{:type => "password", :name => "codigo", :id => "codigo"}
		%input{:type => "submit", :name => "enviar", :id => "enviar", :value => ""}