#main{:vista=>"popups"}
  .bs-docs-section.col-12.col-md-12.col-lg-12{:role => "main"}
    .page-header
      .pull-right=link_to("Nuevo Popup", new_admin_popup_path({popup_class: "one_attribute"}), {class: "btn btn-info"})
      %h2#btn-groups
        Popups
      .clearfix
    .page-body
      - @popups.each do |popup|
        .index-popup.col-md-3
          .alert.alert-info
            %p=popup.campaing
          .imagen=link_to image_tag(popup.image(:thumb)), admin_popup_path(popup)
          %span.badge.valid-date=popup.valid_from.to_s
          %span.badge.valid-date=popup.valid_to.to_s