-provide :title, 'Editar Producto'
%h2 Editar Producto
=form_for @producto do |f|
  %p
    =form_error @producto, :nombre
    =f.labelbrtext "Nombre", :nombre, :class => "big full"
  %p
    =form_error @producto, :precio
    =f.labelbrtext "Precio", :precio
  %p
    =form_error @producto, :descripcion
    =f.labelbrtextarea "Descripción", :descripcion, :class => "full"
  %p
    =form_error @producto, :ingredientes
    =f.labelbrtextarea "Ingredientes", :ingredientes, :class => "full"
  %p
    =form_error @producto, :usos
    =f.labelbrtextarea "Forma de uso", :usos, :class => "full"
  %p.rgt
    =f.submit "Editar"
