%ul
  %li
    =link_to "nuevo producto", new_producto_path
-if @productos and @productos.any?
  %h3 Nuestros Productos
  %ul
    -@productos.each do |producto|
      %li
        =link_to producto.nombre, producto_ver_path(producto.slug)
        %small
          =button_to "borrar", producto, :method => :delete
          =link_to "editar", edit_producto_path(producto.id)
