-provide :title, 'Registrar Producto'
%h2 Registrar producto
=form_for @producto do |f|
  %p
    =form_error @producto, :nombre
    =f.labelbrtext "Nombre", :nombre, :class => "big full"
  %p
    =form_error @producto, :nombre_real
    =f.labelbrtext "Nombre real", :nombre_real, :class => "big full"
  %p
    .table.full
      .tcell.t33
        =f.check_box :publicado
        =f.label :publicado, "Publicado"
      .tcell.t33
        =form_error @producto, :sku
        =f.labelbrtext "SKU", :sku
      .tcell.t33
        =form_error @producto, :precio
        =f.labelbrtext "Precio", :precio
  %p
    =form_error @producto, :descripcion
    =f.labelbrtextarea "Descripción", :descripcion, :class => "full"
  %p
    =form_error @producto, :ingredientes
    =f.labelbrtextarea "Ingredientes", :ingredientes, :class => "full"
  %p
    =form_error @producto, :usos
    =f.labelbrtextarea "Forma de uso", :usos, :class => "full"
  %p
    =f.select :marca_id, Marca.all.map{|m|[m.marca, m.id]}
  %p
    =f.select :categoria_id, Categoria.all.map{|m|[m.marca, m.id]}
  %p
    =form_error @producto, :foto
    =f.label :foto, "Foto:"
    =f.file_field :foto
  %p.rgt
    =f.submit! "Registrar"
