-provide :title, @producto.nombre
%section#producto
  .table.full
    .tcell.t35
      =image_tag @producto.foto.url(:normal)
    .tcell.t65
      .marca
        =image_tag "", :size => "260x30"
      .info
        %span
          =@producto.marca.marca
        %span.precio
          =@producto.precio
      =@producto.nombre
      .descripcion
        =@producto.descripcion
        %p.mas
          ver más
          %span
            ▼
      .interesar
        %ul.nobullet
          %li
            =image_tag "", :size => "145x165"
            %h4 Producto
            %p Descripcion
            %p $Costo
          %li
            =image_tag "", :size => "145x165"
            %h4 Producto
            %p Descripcion
            %p $Costo
          %li
            =image_tag "", :size => "145x165"
            %h4 Producto
            %p Descripcion
            %p $Costo
          %li
            =image_tag "", :size => "145x165"
            %h4 Producto
            %p Descripcion
            %p $Costo
