#animacion
  #animacion-left
    %a{href: "/beachgetaway", class: "animacion-module"}
      =image_tag("animacion/junio/landing/landing-01.jpg")
    %a{href: "#", class: "animacion-module no-glow"}
      =image_tag("animacion/junio/landing/landing-03.jpg")
    %a{href: "#", class: "animacion-module no-glow"}
      =image_tag("animacion/junio/landing/landing-04.jpg")
    %a{href: "/cityescape", class: "animacion-module"}
      =image_tag("animacion/junio/landing/landing-06.jpg")
  #animacion-right
    %a{href: "#", class: "animacion-module no-glow"}
      =image_tag("animacion/junio/landing/landing-02.jpg")
    %a{href: "/outdoorsadventure", class: "animacion-module"}
      =image_tag("animacion/junio/landing/landing-05.jpg")
  #animacion-bottom
    %a{href: "/travelbasics", class: "animacion-module"}
      =image_tag("animacion/junio/landing/landing-07.jpg")