#beautystudio
  .beauty
    = image_tag 'mobile/titulos/minimakeovers.jpg'
  .contendbeauty
    %ul#lista
      %li#minimakeovers.cabecera.animated
        %h5
          MINI MAKEOVERS
        %ul.contenido.animated
          %li 
            %p 15 minutos. Gratuito. Looks individuales. Sin previa cita.
            %p Base Perfecta
            %p Piel Hermosa
            %p Trata y Oculta
            %p Blush y Bronzer
            %p Look Diario
            %p Smoky Eyes
            %p Pestañas Postizas
            %p Labios Perfectos
            %p Cejas Definidas
            %p Disponible en todas las tiendas de Sephora México.
      %li#makeoverpersonalizado.cabecera.animated
        %h5 
          MAKEOVER PERSONALIZADO
        %ul.contenido.animated
          %li
            %p 45 minutos. En la compra previa de una gift card de $750 pesos (redimible por producto).
            %p Maquillajes completos. Con previa cita.
            %p Disponible en todas las tiendas de Sephora México.
            %p
              %strong Reserva ahora:
              %ul
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Satelite&field109=Servicio%20de%20Maquillaje%20Completo%20Satelite"}
                    %strong Sephora Satélite
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Angelopolis&field109=Servicio%20de%20Maquillaje%20Completo%20Angelopolis"}
                    %strong Sephora Angelópolis
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Interlomas&field109=Servicio%20de%20Maquillaje%20Completo%20Interlomas"}
                    %strong Sephora Interlomas
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Antara&field109=Servicio%20de%20Maquillaje%20Completo%20Antara"}
                    %strong Sephora Antara
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Andares&field109=Servicio%20de%20Maquillaje%20Completo%20Andares"}
                    %strong Sephora Andares
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=GaleriasGuadalajara&field109=Servicio%20de%20Maquillaje%20Completo%20Galerias%20Guadalajara"}
                    %strong Sephora Galerías Guadalajara
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Coyoacan&field109=Servicio%20de%20Maquillaje%20Completo%20Coyoacan"}
                    %strong Sephora Coyoacán
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=SantaFe&field109=Servicio%20de%20Maquillaje%20Completo%20Santa%20Fe"}
                    %strong Sephora Santa Fe
      %li#beautyunoauno.cabecera.animated
        %h5 
          BEAUTY UNO A UNO
        %ul.contenido.animated
          %li
            %p 90 minutos. En la compra previa de una gift card de $1, 500 pesos (redimible por producto).
            %p Clase individual, ofrecida por un maquillista certificado, para conocer tu rostro y los básicos del maquillaje. Con previa cita.
            %p Disponible en todas las tiendas de Sephora México.
            %p
              %strong Reserva ahora:
              %ul
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Satelite&field109=Beauty%20Uno%20a%20Uno"}
                    %strong Sephora Satélite
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Angelopolis&field109=Beauty%20Uno%20a%20Uno"}
                    %strong Sephora Angelópolis
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Interlomas&field109=Beauty%20Uno%20a%20Uno"}
                    %strong Sephora Interlomas
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Antara&field109=Beauty%20Uno%20a%20Uno"}
                    %strong Sephora Antara
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Andares&field109=Beauty%20Uno%20a%20Uno"}
                    %strong Sephora Andares
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=GaleriasGuadalajara&field109=Beauty%20Uno%20a%20Uno"}
                    %strong Sephora Galerías Guadalajara
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=Coyoacan&field109=Beauty%20Uno%20a%20Uno"}
                    %strong Sephora Coyoacán
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field108=SantaFe&field109=Beauty%20Uno%20a%20Uno"}
                    %strong Sephora Santa Fe

      %li#consultapersonalizadabelleza.cabecera.animated
        %h5 
          CONSULTA PERSONALIZADA DE BELLEZA
        %ul.contenido.animated
          %li
            %p 90 minutos.  En la compra previa de una gift card de $2, 500 pesos (redimible por producto).
            %p Sesión de belleza exclusiva, dirigida por un consultor especializado y certificado, que incluye un makeover personalizado.
            %p La Consulta Personalizada está enfocada en skincare, maquillaje, cabello y fragancia. Con previa cita.
            %p
              %strong Reserva ahora:
              %ul
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Consultor%20Personal%20de%20Belleza&field108=Antara"}
                    %strong Sephora Antara
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Consultor%20Personal%20de%20Belleza&field108=Puebla"}
                    %strong Sephora Puebla
                %li
                  %a{:href => "https://outoftheboxmx.wufoo.com/forms/eventos-sephora/def/field109=Consultor%20Personal%20de%20Belleza&field108=Andares"}
                    %strong Sephora Andares
:coffee
  $ ->
    list_id = window.location.pathname.replace("/mobile/", '')


    $("li.cabecera").click ->
      $cabecera = $(this);
      $contenido = $cabecera.find("ul.contenido")
      $contenido_abierto = $("ul.contenido.fadeIn")
      $contenido.removeClass("open").removeClass("fadeOut").addClass("open").removeClass("fadeIn").addClass("fadeIn")
      $contenido_abierto.removeClass("fadeIn").addClass("fadeOut").delay(1000).queue (m) ->
        $(this).removeClass("open")
        m()

    $("#"+list_id).click()