.logo
  =image_tag 'sephoralabios/logo_kiss.jpg'
.banner
  =image_tag 'sephoralabios/banner_superior.jpg'
.texto
  =image_tag 'sephoralabios/texto.png'
%ul.media-list
  - @images.each do |image|
    %li
      =link_to image.instagram_link, target: :blank do
        .username
          %span="@#{image.username}"
        = image_tag('//data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', class: 'lazy', :'data-original' => image.thumb_url, width: 180, height: 180)
  
