#main{:vista=>"banners"}
  .bs-docs-section.col-12.col-md-12.col-lg-12{:role => "main"}
    .page-header
      %h2#btn-groups
        %i.glyphicon.glyphicon.glyphicon-plus
        Nuevo Banner
    .page-body
      = render 'form'
