// Place all the styles related to the animacion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lateral-1{
  background: image-url("animacion/noviembre/lado-izquierdo.png") repeat;
  position: absolute;
  top: 70px;
  left: -50px;
  width: 150px;
  height: 2327px;
  display: block;
  z-index: 0;
  background-size: cover;
}
.lateral-2{
  background: image-url("animacion/noviembre/lado-derecho.png") repeat;
  position: absolute;
  top: 70px;
  right: -50px;
  width: 150px;
  height: 2327px;
  display: block;
  z-index: 0;
  background-size: cover;
}

#header-animacion{
	padding-top: 34px;
  height: 102px;
  display: block;
  position: relative;
  z-index: 2;
  img{
  	width: 100%;
  }
}

.animacion-must-have{
	margin-bottom: 60px;
}

#beautyclasses{
  display: block;
  margin: auto;
}

#animacion{
	#animacion-left{
		width: 656px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    margin-right: 6px;
	}
	#animacion-right{
		width: 254px;
		display: inline-block;
		vertical-align: top;
		margin: auto;
		text-align: center;
	}
	.animacion-module{
		display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: opacity 250ms;
    &:hover{
			opacity: 0.8;
			cursor: pointer;
    }
    &.no-glow{
    	opacity: 1;
    	cursor: default;
    }
	}
}