// = require reset
// = require eses
// = require_self
// = require widgets
// = require secciones
// = require jquery.ui.all
@media screen and (max-width: 1180px) {
  .flame-left {
    display:none;
  }
}
@font-face {
    font-family: 'Avant';
    src: url('/fuentes/ag-extralight-webfont-webfont.eot');
    src: url('/fuentes/ag-extralight-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fuentes/ag-extralight-webfont-webfont.woff') format('woff'),
         url('/fuentes/ag-extralight-webfont-webfont.ttf') format('truetype'),
         url('/fuentes/ag-extralight-webfont-webfont.svg#itc_avant_garde_gothic_extrRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin transition($duracion, $propiedad, $estilo) {
  transition: $duracion $propiedad $estilo;
  -o-transition: $duracion $propiedad $estilo;
  -ms-transition: $duracion $propiedad $estilo;
  -moz-transition: $duracion $propiedad $estilo;
  -webkit-transition: $duracion $propiedad $estilo;
}
@mixin inlineblock{
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
ul.seplist > li + li:before, ol.seplist > li + li:before{
  content: '|';
  color: #000;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

ul.breadcrumbs{
  padding-left: 10px;
  padding-top: 5px;
  li {
    font-size: 0.8em;
  }
  li + li:before{
    content: ">";
    font-size: 1em;
  }
  li.highlighted{
    a{
      color: #f00;
    }
  }
}
// BANDA NEGRA SUPERIOR
#head-sup {
  background: #231F20;
  height: 34px;
  .infologin {
    width: 960px;
    span, a {
      color: white;
      font-size: 0.8em;
      padding-left: 15px;
      line-height: 32px;
    }
  }
}

// CONTENEDOR PRINCIPAL
#wrap {
  position:relative;
  margin: 0 auto;
  width: 960px;

// fondo sephora
.flame-left{
  position:fixed;
  margin-left: -107px;
  margin-top: 113px;
}

#separador {
  border-bottom: 2px solid #C1C1C1;
  height: 35px;
}
// HEADER SUPERIOR
  header#encabezado {
    height: 140px;
    margin: 0 auto;
    border-bottom: 1px solid #C1C1C1;
    #contenme {
      height: auto;
      padding-top: 30px;
      position: relative;
      #search {
        position: absolute;
        margin: 0 10px 0;
          input[type=text] {
            margin:0;
            padding: 0;
            height: 22px;
            border: 1px solid black;
            border-radius: 0;
            font-size: 0.8em;
            padding: 2px;
          }
          .submit{
            border:1px solid #000000!important;
            background: #000 image-url('buscar.png') no-repeat -3px 0;
            width: 26px;
            height: 22px;
            margin-left: -5px;
            padding: 0;
            border-radius: 0;
            border: none;
          }
      }
      #logo {
        width: 300px;
        height: 32px;
        background: image-url('logo.png');
        margin: 0 auto;
      }
    }
    nav#menu {
      font-size: 8pt;
      text-align: center;
      padding-top: 50px;
      font-weight: bold; 
      li {
        padding: 0 0.4em;
      }
      a{
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
      }
    }
    .select{
      cursor: pointer;
      position:absolute;
      right:-4px;
      width: 80px;
      overflow: hidden;
      height: 20px;
      margin-top:-2px;
      .trigger{
        font-weight: bold;
        background: white;
        height: 18px;
        position: relative;
        cursor: pointer;
        padding-left: 5px;
        line-height: 18px;
        border-top: 1px solid #858585;
        border-bottom: 1px solid #E2E2E2;
        border-left: 1px solid #C1C1C1;
        border-right: 0;
        text-align:left!important;
        .icon{
          background: image-url('flecha_marca.png') no-repeat 0 0;
          width: 26px;
          height: 20px;
          position: absolute;
          right: 0;
          top: -1px;
        }
        .active{
          background: image-url('flecha_gris_marca.png') no-repeat 0 0;
        }
      }
      select {
        cursor: pointer;
        border: 0;
        padding: 0;
        background: white;
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 20px;
        display: inline;
        opacity: 0;
      }
    }      
  }
  #footer {
    border-top: 3px solid #2c2728;
    font-size: 8pt;
    #social {
      width: 815px;
      height: auto;
      margin: 0 auto;
      padding-top: 10px;
      ul {
        width: auto;
        height: 50px;
        padding: 0;
      }
      .noborder { border: none; }
      li {
          display: -moz-inline-stack;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          *display: inline;
        width: 178px; padding-left: 20px; border-left: 1px solid black;
        #fb, #tw, #pn, #yt, #bg, #gp {
          background: url('footer/social.png');
          width: 31px; height: 31px;
          float: left;
          margin-top: 11px;
        }
        #fb {
          background-position: 0px 0px;
        }
        #tw {
          background-position: 0px -62px;
        }
        #pn {
          background-position: 0px -31px;
        }
        #yt {
          background-position: 0px -93px;
        }
        .social {
        }
        p {
          padding: 0;
          margin: 0;
          margin-top: -4px;
          margin-left: 35px;
          }

          .leyenda {
            font-weight: bold;
          }
          .leyenda2 {

          }
          .leyenda3 {

          }
      }
    }
  }

#registrar, #descargar {
  background:url(footer/botones.png);
  height: 21px;
}
#registrar {
  background-position: -239px 0px;
  width: 93px;
  float: right;
  margin-top: 10px;
  margin-right: 50px;
}
#internacional {
  background:#000000;
  height: 23px;
  width: 146px;
  position:relative;
  a{
    color:#ffffff;
    position:absolute;
    height:20px;
    font-size:13px;
    top:2px;
    padding-left:10px;
    width:130px;
  }
  .icon{
    background: image-url('flecha_internacional.png') no-repeat 0 0;
    width: 20px;
    height: 23px;
    position: absolute;
    right: 0;
  }
}
#descargar {
  margin-top: 10px;
  background-position: 0px 0px;
  width: 93px;
  float: right;
}
.footer-boton{
  margin-top:12px;
  a{
    color:#ffffff!important;
    text-decoration:none;
    background-color:#000000;
    padding:5px 10px;
  }
}
#sus-cata {
  width: 100%;
  border-top: 1px solid #C7C7C7;
  border-bottom: 4px solid #2c2728;
  height: 55px;
  padding-top: 15px;
  p{
    font-weight: bold;
  }
  .pad {
    padding-left: 50px;
  }
  .pad2 {
    padding-top: 5px;
    padding-left: 15px;
  }

  #suscribete {
    width: 300px;
    float: left;
    #mail {
      background: url('footer/mail.png');
      width: 17px; height: 11px;
      float: left;
      margin: 15px 5px 5px;
    }
  }
  #cata-online {
    width: 275px;
    float: right;
  }

  p { width: 175px; float: left; }
}

#sephora-en {
  text-align: right;
  width: 100%;
  margin-top: 10px;
  p {
    margin-right: 5px;
    display: inline-block;
  }
  #bg, #gp {
    background: url('footer/social.png');
    width: 26px; height: 26px;
    display: inline-block;
  }
  #bg {
    background-position: 0px -124px;

  }
  #gp {
    width: 26px; height: 26px;
    background-position: 0px -150px;
  }
}


#footin {
  width: 100%;
  border-top: 1px solid #B2B2B2;
  height: 50px;
  padding-top: 15px; 
  #links {
    float: left;
    padding-top: 10px;
  }

  #internacional {
    float: right;
  }
}


// HOME
  #slider-home {
    height: auto;
    border-top: 1px solid #B2B2B2;
    border-bottom: 5px solid black;
    #producto {
      height: auto;
      .producto-imagen{
        text-align:center;
        img{
          margin:0;
          padding:0;
        }
      }
      .producto-info{
        font-size: 1em;
        h4{
          color:gray;
          font-weight: 100;
        }
        .producto-p{
          border-top:5px solid #918F90;
          p{
            font-size:1em;
          }
        }
      }
    }
    #poster {
      height: auto;
      .contenedor {
          width: 760px;
          overflow: hidden;
          position: relative;
        .slider {
            width: 1520px;
            font-size: 0;
          .diapositiva {
            display: inline;
          }
        }
      }
    }
  }

  .linksrapidos {
    font-size: 10pt;
    margin-left: 200px;
    margin-top: 15px;
    color: red;
    font-weight: bold;
    span {
      color: black;
      padding-left: 40px;
    }
    span:hover {
      text-decoration: underline;
    }
  }

  #best-sellers, #lo-nuevo {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    h3 {
      text-transform: uppercase;
      font-weight: 100 !important;
      font-family: 'Avant', Helvetica, Arial;
      letter-spacing: 1px;
      font-size: 2.5em;
    }
    h5 a{
      font-weight: lighter;
      font-family: "Avant", Arial, sans-serif;
      font-size: 1.2em;
      letter-spacing: 1px;
    }
    p{
      small{
        font-weight: bold;
        font-family: "Avant", Arial, sans-serif;
        font-size: 1em;
        letter-spacing: 1px;
      }
    }

    #slider-wrap {
      // border: 1px solid red;
      height: auto;
      overflow: hidden;

      ul {
        padding-bottom: 5px;
        li:hover a, li:hover p {
          text-decoration: underline;
        }
        li {
          @include inlineblock;
          width: 15%;
          margin: 0 12px 0 12px;
          img {
            width: 120px;
          }
          h6.number {
            font-family: "Avant", Arial, sans-serif;
            font-size: 2em;
          }
          h5, p {
            font-size: 0.8em;
            margin: 0;
            padding: 0;
          }
          h5, p {
            padding-top: 5px;
          }
          h5.marca {
            font-family: "Avant", Arial, sans-serif;
            font-size: 0.9em;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  #esta-semana {
    text-align: center;
    border-top: 3px solid #231F20;
    h3 {
      border-bottom: 1px solid #918F90;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 1.3em;
      letter-spacing: 7px;
      margin-bottom: 15px;
    }
    ul {
      height: 390px;
      li {
        width: 30%;
        display: inline-block;
        height:350px;
        .semana-banner{
          width: 265px; 
          height: 275px; 
          border-bottom: 5px solid  #231F20;
          img {
            margin:0;
            padding:0;
          }
        }
        h4 {
          font-size: 1em;
          letter-spacing: 3px;
          font-weight: bold;
        }
        p {
          padding-top: 15px;
          font-size: 0.8em;
          font-style: italic;
          color: gray;
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }

  #categoria {
    h2 {
      font-size: 11pt;
      text-transform: lowercase;
      padding: 7px 0 0 10px;
    }
    .contizq {
      font-size: 11pt;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 2px;
      h3 {
        border-top: 3px solid #231F20;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
        padding: 5px 0 2px 0;
      }
      ul {
        border-bottom: 3px solid #231F20;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 2px 0 2px 0;
          font-size: 0.8em;       
        }
        .first {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
    .contder {
      border-left: 8px solid #EBEBEB;
      padding-bottom: 20px;
      .contenedor {
        img {
          border-bottom: 5px solid #231F20;
          padding: 0;
          margin: 0;
        }
        
      }
    }
    .catalogo {
      margin-top: 15px;
      border-top: 30px solid #D6D6D8;
      padding-bottom: 30px;
      ul.catalogin {
        text-align: center;
        border-bottom: 1px solid #D6D6D8;
        width: 730px;
        margin: 0 auto;
        padding-bottom: 50px;
        li:hover a {
          text-decoration: underline;
        }
        li {
          display: inline-block;
          width: 150px;
          margin: 10px;
          vertical-align: top;
          height: 200px;
          img {
            margin-bottom: 10px;
          }
          h4, p {
            font-family: "Helvetica Neue", Helvetica, Arial;
            margin:0;
            padding:0;
            line-height: 1em;
          }
          h4 {
            font-size: 0.8em;
          }
          p {
            font-size: 0.8em;
          }
        }
      }
      .navegacion {
        text-align: right;
        font-size: 0.7em;
        margin-top: 10px;
        margin-right: 20px;
        span {
          font-weight: bold;
        }
        .numeros {
          color: #918F90;
          width: 100px;
          height: 12px;
          line-height: 10px;
          display: inline-block;
          p {
          line-height: 10px;
          }
        }
        select {
          border: 2px solid #918F90;
          color: #C7C7C7;
          background: transparent;
          width: auto;
          height: 20px;
          display: inline;
        }
      }
    }
    .masproducto {
      h3 {
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: uppercase;
        font-weight: 600 !important;
        font-family: 'Avant', Helvetica, Arial;
        letter-spacing: 10px;
        font-size: 1.5em;
        text-align: center;
        border-bottom: 1px solid #D2D2D2;
        border-top: 5px solid #000;
        width: 94%;
        float:right;
      }
      ul {
        text-align: center;
        li {
          font-size: 12pt;
          display: inline-block;
          width: 30%;
          margin: 10px;
          vertical-align: top;
          h4 {
            font-size: 12pt;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 30px;
            letter-spacing: 5px;
          }
          p {
            font-size: 9pt;
            color: gray;
            font-style: italic;
          }
          img {
            padding-bottom: 20px;
            border-bottom: 5px solid black;
          }
        }
      }
    }
  }

  #marca {
    border-top: 1px solid #C1C1C1;
    .title {
      font-size: 1em;
      text-transform: lowercase;
      padding: 10px;
    }
    .first {
      font-weight: bold;
      text-transform: uppercase;
    }
    .contizq {
        padding-left: 10px;
        padding-right: 10px;
      ul {
        border-top: 3px solid #231F20;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          font-size: 0.8em;
          padding-top: 2px;
          padding-bottom: 2px;
        }
        .behindbutton {
          cursor: pointer;
        }
      }
    }
    .contder {
      border-left: 7px solid #D6D6D8;
      padding-bottom: 20px;
      h2 {
      padding-left: 10px;
        margin-bottom: 20px;
      }
      p {
      padding-left: 10px;
        font-size: 0.8em;
      }
      .mas {
        color: gray;
        span {
          color: black;
        }
      }
      h3 {
        font-size: 0.8em;
        letter-spacing: 1px;
        padding: 9px;
        padding-left: 20px;
        font-weight: bold;
        color: white;
        background: black;
      }
      .catalogo {
        margin-top: 15px;
        padding-bottom: 30px;
        .title {
          text-transform: uppercase;
          font-weight: 100 !important;
          font-family: 'Avant', Helvetica, Arial;
          letter-spacing: 1px;
          font-size: 3em;
          text-align: center;
        }
        ul {
          text-align: center;
          border-bottom: 1px solid #D6D6D8;
          width: 730px;
          margin: 0 auto;
          padding-bottom: 50px;
        }
        li:hover a {
          text-decoration: underline;
        }
        li {
          display: inline-block;
          vertical-align: top;
          width: 200px;
          height: 200px;
          padding-bottom: 50px;
          img {
            margin-bottom: 10px;
            width: 150px;
          }
          h4, p {
            font-family: "Helvetica Neue", Helvetica, Arial;
            margin:0;
            padding:0;
            line-height: 1em;
          }
          h4 {
            font-size: 0.8em;
          }
          p {
            font-size: 0.8em;
          }
        }
      }
      .behindbutton {
        cursor: pointer;
        text-align: right;
      }
      .behindthebrand {
        display: none;
        width: 750px;
        p {
          padding: 10px;
        }
      }
    }
  }
  section#producto {
    border-top: 1px solid #C1C1C1;
    padding-bottom: 25px;
    .marca {
      border-bottom: 5px solid #231F20;
      img {
        padding: 0;
        margin: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      }
    }
    .derecha {
      border-left: 1px solid #d2d2d2;
      padding-left: 20px;
    }
    .product {
      text-align: center;
      .vistagrande {
        color: gray;
        font-size: 0.8em;
      }
      .vistagrande:hover {
        text-decoration: underline;
      }
    }
    .info {
      margin-top: 10px;
      font-size: 12pt;
      font-weight: bold;
      .marcab {
        text-transform: uppercase;
      }
      .precio {
        padding-left: 75px;
      }
    }
    .producto {
      font-size: 11pt;
      color: gray;
      text-align: left;
    }
    .presentaciones {
      font-size: 0.2em;
      width: 100%;
      margin-top: 15px;
      li img:hover {
        outline: 2px solid #b2b2b2;
      }
      li {
        display: inline-block;
        cursor: pointer;
        img {
          width: 70px;
          border: 1px solid #b2b2b2;
        }
      }
    }
    .descripcion {
      font-size: 0;
      margin-top: 15px;
      h3 {
        border-top: 1px solid #838383;
        border-left: 1px solid #838383;
        border-right: 1px solid #838383;
        width: 150px;
        font-size: 12pt;
        color: red;
        padding: 10px 10px 0 7px;
        display: inline-block;
      }
      .borde {
        border-bottom: 1px solid #838383;
        width: 420px;
        font-size: 12pt;
        display: inline-block;
      }
      p {
        font-size: 10pt;
        &.mas {
          margin-top: 30px;
          font-size: 10pt;
          color: gray;
          span  {
            color: black;
            font-size: 8pt;
          }
        }
      }
    }
    .interesar {
      border-top: 5px solid #231F20;
      padding-top: 5px;
      padding-bottom: 50px;
      h3 {
        font-size: 16pt;
      }
      ul {
        text-align: center;
        border-bottom: 1px solid #D6D6D8;
        width: 600px;
        margin: 0 auto;
        padding-bottom: 50px;
      }
      li:hover a {
        text-decoration: underline;
      }
      li {
        display: inline-block;
        width: 150px;
        margin: 10px;
        vertical-align: top;
        height: 200px;
        img {
          margin-bottom: 10px;
        }
        h4, p {
          font-family: "Helvetica Neue", Helvetica, Arial;
          margin:0;
          padding:0;
          line-height: 1em;
        }
        h4 {
          font-size: 0.8em;
        }
        p {
          font-size: 0.8em;
        }
      }
    }
  }
  .outline {
    outline: 2px solid black;
  }
}
section#seccion-ver {
  h2 {
    font-size: 1em;
    text-transform: lowercase;
    padding-left: 10px;
  }
  .cover {
    img {
      margin: 0;
      padding: 0;
    }
  }
  .contizq {
    ul {
      border-top: 5px solid #231F20;
      width: 90%;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        font-size: 0.8em;
        padding: 10px;
      }
    }
  }
  .contder {
    border-left: 7px solid #D6D6D8;
    padding-bottom: 20px;
    h2 {
    padding-left: 10px;
    margin-bottom: 20px;
    }
    p {
    padding-left: 10px;
      font-size: 0.8em;
    }
    h3 {
      font-size: 0.8em;
      letter-spacing: 1px;
      padding: 9px;
      padding-left: 20px;
      font-weight: bold;
      color: white;
      background: black;
    }
    ul, li {
      margin: 0;
      padding: 0;
    }
    ul {

      li {
        display: block;
        width: 100%;
        .info {
          padding-top: 10px;
        }
        h4 {
          text-transform: uppercase;
          font-size: 1em;
        }
        h4, h5, p {
          padding: 0;
          margin: 0;
        }
        h2 {
          margin: 0;
          padding: 0;
          padding-top: 2px;
          text-transform: uppercase;
          font-weight: bold;
        }
        p {
          color: #454545;
        }
      }
    }
  }
}
section#tiendas {
  h2 {
    font-size: 1em;
    text-transform: lowercase;
  }
  .contizq {
    border-top: 5px solid #231F20;
  }
  .contder {
    border-left: 7px solid #D6D6D8;
    padding-bottom: 20px;
    h3 {
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 2.5em;
    border-bottom: 5px solid #231F20;
    font-family: "Avant", Arial, sans-serif;
    letter-spacing: 0.1em;
    }
    ul, li, h4, p {
      margin: 0;
      padding: 0;
    }
    ul {

      li {
        img {
          padding: 30px 0 30px 30px;
        }
        .info {
          padding: 30px 0 30px 20px;
          font-size: 0.9em;
          h4 {
            font-weight: bold;
          }
        }
      }
    }
  }
}
section#soluciones {
  h2 {
    padding-left: 15px;
    font-size: 2.5em;
    font-family: "Avant", Arial, sans-serif;
    letter-spacing: 5px;
    padding-bottom: 25px;
    border-top: 1px solid gray;
    padding: 25px;
    border-bottom: 3px solid black;
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {
    text-align: center;
    li {
      display: inline-block;
      width: 30%;
      padding-right: 25px;
    }
  }
}
section#solucionesver {
  .title {
    font-size: 0.8em;
    text-transform: lowercase;
    padding-left: 5px;
  }
  .contizq {
    font-size: 11pt;
    border-top: 5px solid #231F20;
    h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11pt;
      padding: 5px 0 5px 10px;
    }
    ul {
      border-bottom: 5px solid #231F20;
      list-style: none;
      padding: 0;
      padding-left: 10px;
      margin: 0;
      li {
        padding: 5px 0 5px 0;
        font-size: 0.8em;
      }
    }
  }
  .contder {
    border-left: 7px solid #D6D6D8;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
    ul, li, img {
      margin: 0;
      padding: 0;
    }
    h4, a, p {
      font-size: 1em;
    }
    .borde {
      margin-top: 25px;
      margin-bottom: 25px;
    }
    ul {
      border-top: 5px solid black;
      padding-top: 25px;
      p {
        margin:0; padding: 0;
      }
      li {
        font-size: 0.8em;
        .prod {
          text-align: center;
          text-transform: capitalize;
          p {
            width: 150px;
            margin: 0 auto;
          }
          .marca {
            text-transform: uppercase;
          }
        }
        .info {
          padding-left: 50px;
          p {
            padding-top: 15px;
          }
          .black {
            padding: 0;
            font-weight: bold;
          }
          .markdown {
            h2, p {
              margin:0;
              padding:0;
            }
            h2 {
            padding-top: 15px;
              font-size: 1em;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
section#eventos{
  .img-eventos{
    width:795px;
    margin:0 auto;
  }
}
section#obsequios {
  text-align: center;
  border-top: 1px solid #C1C1C1;
}
.compartir {
  width: 95%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 5px;
  img, iframe {
    margin: 0;
    padding: 0;
  }
  p {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
  }
}

#modalbox {
  display: none;
  background-color: #fff;
  width: 900px;
  height: 500px;
  position: absolute;
  top: 160px;
  left: 50%;
  margin-left: -450px;
  border: 1px solid #d2d2d2;
  .cerrar {
    border: 1px solid black;
    color: black;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    font-size: 0.8em;
    cursor: pointer;
    text-align: center;
    background: white;
  }
  p, img {
    margin: 0;
    padding: 0;
  }
  .pro img {
    height: 450px;
    margin-top: 25px;
    display: inline-block;
  }
  .infor {
    margin-top: 10px;
    border-top: 5px solid #b2b2b2;
    border-bottom: 5px solid #b2b2b2;
    height: 400px;
    width: 400px;
    font-size: 0.8em;
    span.marcab {
      font-weight: bold;
    }
  }
  ul {
    li {
      margin-right: 5px;
    }
  }
}
.imgloading {
  opacity: 0.3;
}
.imgproducto {
  @include transition(0.5s, opacity, ease);
}
p.selected {
  color: red;
  margin: 0;
  padding: 0;
}
.navegaciones {
  width: 100px;
  display: inline-block;
  .activo{
    display:none;
  }
  p, ul, li {
    text-align: left;
  }
  p#trigger, p#trigger2 {
    cursor: pointer;
    border: 2px solid #918F90;
    color: #C7C7C7;
    background: transparent;
    width: 90px;
    height: 15px;
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0;
    span {
      color: black;
      padding-left: 7px;
    }
  }
  ul {
    background: #f6f6f6;
    width: 90px;
    border: 2px solid gray;
    border-top: none;
    position: absolute;
  }
  li:hover {
    background: gray;
    cursor: pointer;
  }
  li {
    color: red;
    a {
      display: block;
    }
  }
}
li.checked:before {
  content: '\2611';
}
li.unchecked:before {
  content: '\2610';
}
.save {
  padding: 10px;
  text-align: right;
  a.actboton {
    padding: 10px;
    background: black;
    color: white;
    width: 50px;
  }
}
