// Place all the styles related to the beautyfair controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// = require bootstrap
// = require animate


html { 
  background: image-url('landings/beautyfair/fondo.jpg') no-repeat 0 0 fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body{ 
  background-color: transparent; 
  // overflow: hidden; 
  height: 100%;
}

@font-face {
    font-family: 'Rounded Elegance';
    src: url('/fuentes/roundedelegance.otf');
    font-weight: normal;
    font-style: normal;
}

.chica-sephora{
  background: image-url("landings/beautyfair/chica-sephora.png") no-repeat left center fixed;
  min-height: 100%;
  display: block;
  background-size: contain;
  position: static;
  width: 50%;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

#menu{
  position: absolute;
  top:0;
  right: 0;
  z-index: 2;
  ul.nav{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      font-family: 'Rounded Elegance';
      a{color: #333;}
    }
  }
}

#main{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: block;
  width: 50%;
  height: 100%;
  z-index: 1;
  #letras-home{
    height: 100%;
    .letras-sephora{
      top: 54px;
      position: relative;
      height: 50px;
      margin: auto;
      display: block;
    }
    .letras-beautyfair{
      top: 115px;
      position: relative;
      height: 50px;
      margin: auto;
      display: block;
    }
    .letras-tour{
      top: 173px;
      position: relative;
      height: 50px;
      margin: auto;
      display: block;
    }
    .boton-comienza{
      top: 243px;
      position: relative;
      height: 30px;
      margin: auto;
      display: block;
      cursor: pointer;
    }
    .letras-cinco{
      bottom: 35px;
      position: absolute;
      height: 30px;
      margin: auto;
      display: block;
      left: 50px;
    }
  }
  #letras-tour{
    width: 100%;
    .display-ad{
      position: relative;
      margin: 22% auto 0 auto;
      display: block;
      max-width: 100%;
      width: 75%;
      &.small{
        margin: 37% auto 0 auto;
      }
    }
  }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #menu{
      font-size: 25px;
      background-color: white;
      width: 100%;
      ul.nav{
        margin: 0;
        padding: 0;
        list-style: none;
        height: 100px;
        background: white;
        display: block;
        position: relative;
        line-height: 100px;
        left: 0px;
        width: 100%;
        li{
          height: 100px;
          width: 25%;
          text-align: center;
          a{
            word-spacing: 100px;
            line-height: 1.1em;
            padding-top: 20px;
          }
        }
      }
    }
    .chica-sephora{
      background: image-url("landings/beautyfair/chica-sephora.png") no-repeat -460px 100px;
      min-height: 100%;
      display: block;
      background-size: cover;
      position: static;
      width: auto;
      height: 100%;
    }
    .contengo-dos{
      position: relative;
      height: 100%;
    }
    #main{
      width: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      img.letras-home {
        width: 100%;
        position: absolute;
        top: 30%;
        opacity: 0.8;
      }
      #letras-home{
        .boton-comienza {
          bottom: -510px;
          position: absolute;
          height: 30px;
          margin: auto;
          display: block;
          cursor: pointer;
          left: 340px;
        }
      }
      #letras-tour .display-ad {
        position: relative;
        margin: 50% auto 0 auto;
        display: block;
        max-width: 100%;
        width: 95%;
      }
    }
}

/* Beautyfair 2016 */

@media only screen 
and (min-width: 1400px){
  #main {
    #letras-home{
      .letras-sephora { top: 65px; }
      .letras-beautyfair { top: 139px; }
      .letras-tour{ top: 211px; }
      .boton-comienza{ top: 289px; height: 40px; }
      .letras-cinco{ top: 675px; height: 30px; right: 60px; left: none;}
    }
  }
}



@media only screen 
and (min-width: 1500px){
  #menu{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    background: white;
  }
  .overlay{
    min-width: 1500px;
    width: 100%;
    display: none;
  }
  .chica-sephora{
    z-index: 3;
    position: relative;
  }
  #main {
    #letras-home{
      .letras-sephora { top: 105px; }
      .letras-beautyfair { top: 232px; }
      .letras-tour{ top: 373px; }
      .boton-comienza{ top: 503px; height: 40px; }
      .letras-cinco{ top: 705px; height: 30px; right: 60px; left: none;}
    }
  }
}

