// Place all the styles related to the friendsandfamily controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: sans-serif;
}

#gracias{
	margin:auto;
	display: block;
	width: 960px;
	min-height: 824px;
	background-image: image-url("friends/gracias.jpg");
	position: relative;
}

#ya_descargaste{
	margin:auto;
	display: block;
	width: 960px;
	min-height: 860px;
	background-image: image-url("friends/ya_descargaste.jpg");
	position: relative;
}

#descarga{
	margin:auto;
	display: block;
	width: 960px;
	min-height: 824px;
	background-image: image-url("friends/descarga.jpg");
	position: relative;
	.link{
		text-decoration: none !important;
		position: absolute;
		background-color: #000;
		width: 362px;
		height: 34px;
		display: block;
		border: none;
		opacity: 1;
		transition: 350ms opacity;
		cursor: pointer;
		color: white;
		font-family: sans-serif;
		line-height: 34px;
		padding: 3px 20px;
		position: absolute;
		top: 560px;
		left: 270px;
		&:hover{
			opacity: 0.8;
		}
	}
}

#entrada{
	margin:auto;
	display: block;
	width: 960px;
	min-height: 540px;
	background-image: image-url("friends/entrada.jpg");
	background-position: -10px center;
	position: relative;
	form#codigo_entrada {
		position: absolute;
		top: 500px;
		width: 960px;
		display: block;
		min-height: 50px;
		p{
			max-width: 690px;
			display: block;
			margin:auto;
			text-align: center;
			line-height: 1.2em;
			margin-bottom: 10px;
		}
		input{
			display: block;
			width: auto;
			margin:10px auto;
			&[type="password"]{
				min-width: 200px;
				background: #000;
				border:0;
				height: 30px;
				color: white;
				font-size: 18px;
				font-weight: 600;
				text-align: center;
			}
			&[type="submit"]{
				background-image: image-url("friends/enviar_btn.jpg");
				width: 138px;
				height: 34px;
				display: block;
				border:none;
				opacity: 1;
				transition: 350ms opacity;
				cursor: pointer;
				&:hover{
					opacity: 0.8;
				}
			}
		}
	}
}