// = require eses

#footer{
  height:100px;
  width:100%;
  background:#000;
  .foot{
    .lado{
      text-align:center;
    }
    .otro{
      text-align:center;
    }
    a{
      color:#fff;
      text-align:center;
    }
  }
}

