* { margin: 0; padding: 0; }
#mobile {
  border: 1px solid red;
  width: 480px;
  margin: 0 auto;
  height: 780px;
  position: relative;

  .left {
    float: left;
    margin-top: 10px;
    margin-left: 35px;
  }
  .right {
    float: right;
    margin-top: 35px;
  }
  form {
    clear: both;
  }
  .success {
    width: 480px;
    height: 341px;
    background-image: image-url('mobile/polvos.png');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
