section#tu-lista{
  img{
    margin: 0;
    padding: 0;
  }
  hr.sep{
    border: 0;
  }
  ol{
    font-size: 0.9em;
  }
  .caja{
    border: 1px solid #666;
    margin-right: 10px;
    .header{
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid #666;
      strong{
        display: block;
      }
    }
    &.hotnow{
      clear: both;
    }
    &.top-10{
      position: relative;
      padding-left: 315px;
      min-height: 292px;
      img.foto{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .makeup{
    text-align:center;
  }
  .top-content{
    margin-top:20px;
  }
  .size {
    text-align: center;
    img {
      width: 200px;
    }
  }
}
