// Place all the styles related to the usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Avant';
  src: url('/fuentes/ag-extralight-webfont-webfont.eot');
  src: url('/fuentes/ag-extralight-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fuentes/ag-extralight-webfont-webfont.woff') format('woff'),
       url('/fuentes/ag-extralight-webfont-webfont.ttf') format('truetype'),
       url('/fuentes/ag-extralight-webfont-webfont.svg#itc_avant_garde_gothic_extrRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sephora';
  src: url('/fuentes/Sephora.eot');
  src: url('/fuentes/Sephora.eot?#iefix') format('embedded-opentype'),
       url('/fuentes/Sephora.woff') format('woff'),
       url('/fuentes/Sephora.ttf') format('truetype'),
       url('/fuentes/Sephora.svg#Sephora') format('svg');
  font-weight: normal;
  font-style: normal;
}

#modal {
  background: rgba(0, 0, 0, 0.9);
  display: table;
  padding: 30px;
  border-radius: 0px !important;
  border: none;
  position: absolute;
  box-shadow: 0px 0px 23px 1px #333 !important;
}

#usuario_wishlist{
	width:100%;
	margin:auto;
	font-family: 'Avant', Helvetica, Tahoma !important;
	.banner-regalos{
		width: 500px;
		height: 1;
		display: block;
		margin-bottom: 30px;
	}
	.slider_items{
		position:relative;
		overflow:hidden;
		font-size: 14px;
		left: 0;
		width: 100%;
		height: 220px;
		display: block;
		margin-bottom: 10px;
		&.wishlist{
			#wishlist{
				.producto-agregar{
					display: none !important;
				}
				.remover{
					display: none !important;
				}
			}
		}
		&.userlist{
			min-height: 350px;
			height: auto;
		}
		li{
			display: inline-block;
			vertical-align: top;
			width: 160px;
			height: 266px;
			text-align:center;
			overflow:hidden;
			padding:0;
			margin:0;
			position:relative;
			&:hover{
				.producto-nombre{text-decoration: underline;}
				cursor: pointer;
			}
			.remover{
				height: 20px;
				width: 20px;
				background-color:black;
				position:absolute;
				right: 18px;
				top: 1px;
				color:white;
				font-size: 14px;
				line-height: 20px;
				cursor:pointer;
			}
			.producto-nombre{
				height: 30px;
				min-height: 35px;
				display: block;
				margin: 0;
				margin-bottom: 5px;
				line-height: 1.1em;
				font-size: 9pt;
				padding: 0;
			}
			.producto-marca{
				font-family: Arial, sans-serif;
				font-size: 8pt;
				font-weight: bold;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
			.producto-imagen{
				width: 120px;
				min-height: 122px;
				border:1px solid #ccc;
				box-shadow:0px 0px 10px -2px #333;
				display: block;
				margin: 0 auto 10px auto;
				background: white;
			}
			.producto-imagen img{
				width: 120px;
				margin:auto;
				display: block;
				max-height: 122px;
				vertical-align: middle;
			}
			.producto-agregar{
				position: absolute;
				bottom: 29px;
				left: 60px;
				font-size: 10px;
			}
			.producto-compartir{
				position: absolute;
				width: 82px;
				height: 18px;
				background-image: url("wishlist/comparte.jpg");
				background-repeat:no-repeat;
				bottom: 8px;
				left: 35px;
				font-size: 10px;
				cursor: pointer;
			}
		}
	}
	.left, .right{
		background-color:transparent;
		display: block;
		height: 53px;
		width: 23px;
		position:absolute;
		z-index: 2;
		cursor: pointer;
		border:0;
	}
	.left{
		left: 20px;
		background-image: url("wishlist/flecha_left.png");
		background-size: cover;
		top: 50px;
	}
	.right{
		right: 20px;
		background-image: url("wishlist/flecha_right.png");
		background-size: cover;
		top: 50px;
	}
	#userlist{
		width: 930px;
		overflow: auto;
		margin-left: 30px;
		display: block;
		border-top: 1px solid #000;
		margin-top:30px;
		padding-top:30px;
		h1{padding:0; margin: 0 0 10px 0; text-transform: uppercase; font-weight: 600; font-size: 24px; font-family: "Sephora", Helvetica, Tahoma !important;}
		h3{padding:0; margin: 0 0 30px 0; font-size: 20px; font-weight: 400; font-family: "Sephora", Helvetica, Tahoma !important;}
		h4{
			padding: 0 0 30px 0; 
			margin: 0 0 30px 0; 
			text-transform: uppercase; 
			font-size: 14px;
			border-bottom: 1px solid #ccc;
		}
		.agrega_favs{
			background-color: #F9F5F5;
			border-radius: 10px;
			padding: 30px;
		}
	}
	#wishlist{
		overflow: hidden;
		width: 830px;
		margin: auto;
		padding: 0;
		position: relative;
		height: 250px;
		#wishlist_cont{
			margin:0;
			padding:0;
			width: 3800px;
			height: 266px;
			position:absolute;
			top:0;
			left:0;
			transition: left 350ms;
		}
	}
	.bought_me{
		width: 960px;
		height: 288px;
		margin: auto;
		display: block;
		position: relative;
		&.preguntas_frecuentes{
			display: block;
			cursor: pointer;
		}
	}
}
