/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 960.css.scss
 *= require_self
 */

 

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: none;
  }
}

q {
  &:before, &:after {
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 760px;
  display: block;
}


@font-face {
  font-family: 'Avant';
  src: url('/fuentes/ag-extralight-webfont-webfont.eot');
  src: url('/fuentes/ag-extralight-webfont-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fuentes/ag-extralight-webfont-webfont.woff') format('woff'),
       url('/fuentes/ag-extralight-webfont-webfont.ttf') format('truetype'),
       url('/fuentes/ag-extralight-webfont-webfont.svg#itc_avant_garde_gothic_extrRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

 body{
 	background-repeat:repeat;
	font-family: 'Avant', Helvetica, Tahoma;
 }


#wrapper{
	background-image: url("sephora_tips/whitenoise.png") !important;
	background-color:white;
	width: 760px;
	display: block;
	margin:0;
}

#contenido{
	width: 760px;
	display: block;
	margin:auto;
}

#vista{
	width:100%;
	height: 1534px;
	display: block;
	position:relative;
	&[pagina="admin"]{
		table.admin_table {
			font-family:"Avant";
		  margin: 0px;
		  padding: 0px;
		  width: 100%;
		  box-shadow: 0px 0px 4px #888888;
		  border: 1px solid #000000;
		  -moz-border-radius-bottomleft: 5px;
		  -webkit-border-bottom-left-radius: 5px;
		  border-bottom-left-radius: 5px;
		  -moz-border-radius-bottomright: 5px;
		  -webkit-border-bottom-right-radius: 5px;
		  border-bottom-right-radius: 5px;
		  -moz-border-radius-topright: 5px;
		  -webkit-border-top-right-radius: 5px;
		  border-top-right-radius: 5px;
		  -moz-border-radius-topleft: 5px;
		  -webkit-border-top-left-radius: 5px;
		  border-top-left-radius: 5px;
		  table {
		    border-collapse: collapse;
		    border-spacing: 0;
		    width: 100%;
		    height: 100%;
		    margin: 0px;
		    padding: 0px;
		  }
		  tr:last-child td:last-child {
		    -moz-border-radius-bottomright: 5px;
		    -webkit-border-bottom-right-radius: 5px;
		    border-bottom-right-radius: 5px;
		  }
		  table tr:first-child td {
		    &:first-child {
		      -moz-border-radius-topleft: 5px;
		      -webkit-border-top-left-radius: 5px;
		      border-top-left-radius: 5px;
		    }
		    &:last-child {
		      -moz-border-radius-topright: 5px;
		      -webkit-border-top-right-radius: 5px;
		      border-top-right-radius: 5px;
		    }
		  }
		  tr {
		    &:last-child td:first-child {
		      -moz-border-radius-bottomleft: 5px;
		      -webkit-border-bottom-left-radius: 5px;
		      border-bottom-left-radius: 5px;
		    }
		    &:hover! td {}
		    &:nth-child(odd) {
		      background-color: #ff5656;
		    }
		    &:nth-child(even) {
		      background-color: #ffffff;
		    }
		  }
		  td {
		    vertical-align: middle;
		    border: 1px solid #000000;
		    border-width: 0px 1px 1px 0px;
		    text-align: center;
		    padding: 11px;
		    font-size: 14px;
		    font-weight: normal;
		    color: #000000;
		  }
		  tr {
		    &:last-child td {
		      border-width: 0px 1px 0px 0px;
		    }
		    td:last-child {
		      border-width: 0px 0px 1px 0px;
		    }
		    &:last-child td:last-child {
		      border-width: 0px 0px 0px 0px;
		    }
		    &:first-child {
		      td {
		        background: -o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);
		        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000));
		        background: -moz-linear-gradient(center top, #ff5656 5%, #7f0000 100%);
		        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");
		        background: -o-linear-gradient(top, #ff5656, 7f 0);
		        background-color: #ff5656;
		        border: 0px solid #000000;
		        text-align: center;
		        border-width: 0px 0px 1px 1px;
		        font-size: 16px;
		        font-weight: bold;
		        color: #ffffff;
		      }
		      &:hover td {
		        background: -o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);
		        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000));
		        background: -moz-linear-gradient(center top, #ff5656 5%, #7f0000 100%);
		        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");
		        background: -o-linear-gradient(top, #ff5656, 7f 0);
		        background-color: #ff5656;
		      }
		      td {
		        &:first-child {
		          border-width: 0px 0px 1px 0px;
		        }
		        &:last-child {
		          border-width: 0px 0px 1px 1px;
		        }
		      }
		    }
		  }
		}
	}

	&[pagina="lista"]{
		background-image: url("wishlist/index.png");
		background-color: #FFFFFF;
	}

	&[pagina="nuevo"]{
		background-image: url("wishlist/nuevo.png");
		background-color: #FFFFFF;
		height: 856px !important;
		#box{
			height: 856px
		}
		.box{
			top:100px;
		}
		.slider_items{
			&.wishlist{
				top: 370px;
				#wishlist{
					.producto-agregar{
						display: none !important;
					}
					.remover{
						display: none !important;
					}
				}
			}
		}
		.comparto_wishlist{
			display: block;
			position: absolute;
			top: 580px;
			left: 320px;
			background-color: black;
			height: 25px;
			width: 120px;
			color: #FFF;
			cursor: pointer;
			box-shadow:3px 2px 0px rgb(10, 182, 175);
			font-family: "Avant";
			font-size:14px;
			line-height: 25px;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	#box{
		background-color:rgba(0,0,0,0.8);
		width: 100%;
		height: 1858px;
		position:absolute;
		z-index: 6;
		top:0;
		left:0;
		display: none;
		opacity: 0;
		transition: opacity 800ms;
		&.visible{
			display: block;
			opacity: 1;
			transition: opacity 800ms;
		}
	}
	.box{
		display: none;
		opacity: 0;
		transition: opacity 800ms;
		&.full{
			transition: opacity 800ms;
			height: 140px;
			overflow: hidden;
			min-height: 140px;
		}
		&.premios{
			top:100px;
		}
		&.error{
			top:100px;
			min-height: 141px !important;
			height: 141px !important;
		}
		&.visible{
			display: block;
			opacity: 1;
			transition: opacity 800ms;
		}
		.cerrar{
			position:absolute;
			top:2px;
			right:2px;
			color:white;
			display: block;
			min-height: 41px;
			min-width: 36px;
			text-align:center;
			cursor: pointer;
			background-image:url("sephora_tips/close_icon.png");
			background-size:cover;
			background-position:0 0;
		}
		background-color:#000000;
		background-color:rgba(0,0,0,0.9);
		font-family: "Avant", Tahoma;
		font-size:12px;
		color:white;
		position:absolute;
		width: 450px;
		min-height: 375px;
		top:350px;
		z-index: 4;
		margin:auto;
		left:150px;
		text-align: center;
		h3{
			color: rgb(114, 211, 219);
			font-size: 14px;
			line-height: 1.2em;
			font-weight: bold;
			letter-spacing: 1px;
			border-bottom:1px solid white;
			width: 80%;
			padding-bottom: 10px;
			margin:40px auto 5px auto;
		}
		p{
			width: 400px;
			font-size: 12px;
			line-height: 1.6em;
			color:#ccc;
			margin:20px auto;
			letter-spacing: 1px;
			strong{
				font-weight: bold;
				color:white;
			}
			small{
				font-size: 10px;
			}
		}
	}
	.bottones{
		display: block;
		position: absolute;
		height: 30px;
		width: 133px;
		cursor: pointer;
		z-index: 2;
		&.howto{
			top: 278px;
			left: 455px;
		}
		&.prices{
			top: 278px;
			left: 612px;
		}
		&.add_wish{
			top: 241px;
			left: 36px;
			height: 20px;
			width: 100px;
		}
	}
	.slider_items{
		position:relative;
		width: 404px;
		overflow:hidden;
		left:0px;
		font-size: 14px;
		position: absolute;
		&.wishlist{
			top: 330px;
			left: 0;
			width: 100%;
			height: 213px;
		}
		&.holiday{
			.left{}
			.right{}
			top: 590px;
			left:0;
			width: 100%;
		}
		&.roller{
			.left{}
			.right{}
			top: 902px;
			left: 0;
		}
		&.maquillaje{
			.left{
				left:6px;
			}
			.right{
				right:3px;
			}
			width:356px;
			top: 902px;
			left: 404px;
		}
		&.skincare{
			.left{}
			.right{}
			top:1230px;
			left:0;
		}
		&.cabello{
			.left{
				left:6px;
			}
			.right{
				right:3px;
			}
			width:356px;
			top:1230px;
			left:404px;
		}
		&.fra_mujer{
			.left{}
			.right{}
			top:1540px;
			left:0;
		}
		&.fra_hombre{
			.left{
				left:6px;
			}
			.right{
				right:3px;
			}
			width:356px;
			top:1540px;
			left:404px;
		}
		li{
			display: inline-block;
			vertical-align: top;
			width: 160px;
			height: 266px;
			text-align:center;
			overflow:hidden;
			padding:0;
			margin:0;
			position:relative;
			.remover{
				height: 20px;
				width: 20px;
				background-color:black;
				position:absolute;
				right: 10px;
				top: 1px;
				color:white;
				font-size: 14px;
				line-height: 20px;
				cursor:pointer;
				display: none;
			}
			.producto-p{
				height: 30px;
				min-height: 45px;
				display: block;
				margin-bottom: 5px;
				p{
					width: 100%;
					height: 100%;
					font-size: 12px;
					line-height: 15px;
				}
			}
			.producto-imagen{
				width: 120px;
				min-height: 122px;
				border:1px solid #ccc;
				box-shadow:0px 0px 10px -2px #333;
				display: block;
				margin: 0 auto 10px auto;
				background: white;
			}
			.producto-imagen img{
				width: 120px;
				margin:auto;
				display: block;
				max-height: 122px;
				vertical-align: middle;
			}
			.producto-agregar{
				position: absolute;
				bottom: 29px;
				left: 60px;
				font-size: 10px;
			}
			.producto-compartir{
				position: absolute;
				width: 82px;
				height: 18px;
				background-image: url("wishlist/comparte.jpg");
				background-repeat:no-repeat;
				bottom: 8px;
				left: 35px;
				font-size: 10px;
				cursor: pointer;
			}
		}
	}
	#roller, #maquillaje, #skincare, #cabello, #fra_mujer, #fra_hombre{
		width: 320px;
		height: 266px;
		color: black;
		margin:auto;
		position:relative;
		overflow:hidden;
		#roller_cont, #maquillaje_cont, #skincare_cont, #cabello_cont, #fra_mujer_cont, #fra_hombre_cont{
			width: 1650px;
			height: 100%;
			position:relative;
			top:0;
			left:0;
			transition: left 350ms;
		}
	}
	#wishlist{
		height: 215px;
		width: 716px;
		color: black;
		margin:auto;
		position:relative;
		overflow:hidden;
		background-image:url("wishlist/corazones.png");
		background-repeat: no-repeat;
		background-position-x: -24px;
		background-position-y: -09px;
		#wishlist_cont{
			width: 100%;
			height: 215px;
			position:relative;
			top:0;
			left:0;
			transition: left 350ms;
			li {
				&.fade-out{
					opacity: 0 !important;
					height: 0;
					width: 0;
					overflow:hidden;
					transition: opacity 450ms, height 450ms, width 450ms !important;
				}
				&.visible{
					opacity: 1;
					transition: opacity 350ms;
				}
				display: inline-block;
				vertical-align: top;
				width: 140px;
				position: relative;
				height: 215px;
				opacity: 0;
				transition: opacity 450ms, height 450ms ,width 450ms !important;
				.producto-agregar{
					display: none;
				}
				.producto-compartir{
					display: none;
				}
				.remover{
					display: block;
				}
			}
		}
	}
	#holiday{
		width: 640px;
		height: 266px;
		color: black;
		margin:auto;
		position:relative;
		overflow:hidden;
		#holiday_cont{
			width: 1650px;
			height: 266px;
			position:relative;
			top:0;
			left:0;
			transition: left 350ms;
		}
	}
	.left, .right{
		background-color:transparent;
		display: block;
		height: 53px;
		width: 23px;
		position:absolute;
		z-index: 2;
		cursor: pointer;
		border:0;
	}
	.left{
		left: 20px;
		background-image: url("wishlist/flecha_left.png");
		background-size: cover;
		top: 50px;
	}
	.right{
		right: 20px;
		background-image: url("wishlist/flecha_right.png");
		background-size: cover;
		top: 50px;
	}
}