.col-md-12
  =image_tag("animacion/agosto/landings/landing_01.jpg", {class: "fadeIn", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_02.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_03.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_04.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_05.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_06.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_07.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_08.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_09.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_10.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_11.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_12.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_13.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_14.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_15.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_16.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_17.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_18.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_19.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_20.jpg", {class: "", :alt => "", :width => "100%"})
  =image_tag("animacion/agosto/landings/landing_21.jpg", {class: "", :alt => "", :width => "100%"})
  //-- minimakes
  %a{:href => "/minimakeovers?utm_source=SitioWeb&utm_medium=LandingBC&utm_campaign=MiniMakeovers"}
    =image_tag("animacion/agosto/landings/landing_22.jpg", {class: "", :alt => "", :width => "32%"})
  %a{:href => "/makeoverpersonalizado?utm_source=SitioWeb&utm_medium=LandingBC&utm_campaign=MakeoverPersonalizado"}
    =image_tag("animacion/agosto/landings/landing_24.jpg", {class: "", :alt => "", :width => "32%"})
  %a{:href => "/consultapersonalizadabelleza?utm_source=SitioWeb&utm_medium=LandingBC&utm_campaign=ConsultaPersonalizadadeBelleza "}
    =image_tag("animacion/agosto/landings/landing_26.jpg", {class: "", :alt => "", :width => "32%"})
