%a{href: "/beachgetaway", class: "animation-block"}
  =image_tag("animacion/junio/mobile/landing/banner-01.jpg", width: "100%")
%a{href: "/cityescape", class: "animation-block"}
  =image_tag("animacion/junio/mobile/landing/banner-02.jpg", width: "100%")
%a{href: "/outdoorsadventure", class: "animation-block"}
  =image_tag("animacion/junio/mobile/landing/banner-03.jpg", width: "100%")
%a{href: "/travelbasics", class: "animation-block"}
  =image_tag("animacion/junio/mobile/landing/banner-04.jpg", width: "100%")