- provide :titulo, 'opening'
%section#opening.mobile
  #timer
    #pageTimer
      %strong 10
      %strong 10
      %strong 10
      %strong 10
:coffee
  $ ->
    opening = new Paginas.Opening
    timer = opening.init_timer()