- tip = get_tips(2)
- must = get_musts(2)
- texture = get_texture
#square-sec-1{:collection => @collection}
  .square
    =link_to image_tag(@productos[0].foto.url(:mediano)), producto_ver_path(@productos[0].slug)
  .square.tip
    .hover.must
    .outerContainer
      .innerContainer
        %p
          =must[0]
  .square
    =link_to image_tag(@productos[1].foto.url(:mediano)), producto_ver_path(@productos[1].slug)
  .square.tip
    .hover.tip
    .outerContainer
      .innerContainer
        %p
          =tip[0]
  .square
    =image_tag(texture)
  .square.tip
    .hover.must
    .outerContainer
      .innerContainer
        %p
          =must[1]
  .square
    =link_to image_tag(@productos[3].foto.url(:mediano)), producto_ver_path(@productos[3].slug)
  .square.tip
    .hover.tip
    .outerContainer
      .innerContainer
        %p
          =tip[1]
  .square
    =link_to image_tag(@productos[4].foto.url(:mediano)), producto_ver_path(@productos[4].slug)