#vista{:vista=>"foundation-land"}
  #section-head
  #section-1
    .asset-1.animate.rouge_animation
      =image_tag("sephora_collection/foundation_land/ps_foundation.png");
    .asset-2.animate.circle_animation
      =image_tag("sephora_collection/foundation_land/circle.png");
  #section-2
    .more-info
  #section-3
    %h3.protip
    %ul#pro-tip
      %li{:class => "tips_1"}
        %figure
          =image_tag("sephora_collection/foundation_land/tip1.jpg")
        %p{:class => "flyout_1 oculto"}
          %strong
            1
          %br
          Aplica antes un primer y después aplica tu base sobre la frente, mejillas y mentón y difumínala con una brocha del centro hacia afuera.
      %li{:class => "tips_2"}
        %figure
          =image_tag("sephora_collection/foundation_land/tip2.jpg")
        %p{:class => "flyout_2 oculto"}
          %strong
            2
          %br
          Para lograr un tono homogéneo no olvides difuminar también alrededor de la nariz, labios y cuello para lograr el terminado ideal.
      %li{:class => "tips_3"}
        %figure
          =image_tag("sephora_collection/foundation_land/tip3.jpg")
        %p{:class => "flyout_3 oculto"}
          %strong
            3
          %br
          Para una cobertura total aplica con brocha y para una cobertura más natural puedes usar tus dedos.
    %h3.atrevete
    #section-4
      #atrevete
        .asset-3
          =link_to image_tag("sephora_collection/foundation_land/explora1.jpg"), "http://sephora.com.mx/producto/perfecting-cover-foundation-05-porcelaine-porcelain-1296326"
        .asset-4
          =link_to image_tag("sephora_collection/foundation_land/explora2.jpg"), "http://sephora.com.mx/producto/8-hr-mattifying-compact-foundation-10-light-ivory-3378872070412"
