#vista{:vista=>"index"}
  #section-head
  #box-holder
    #box-wrapper
      .box.lip.animate.box-animation.box-1
        %a{:href => sephora_collection_rouge_land_path}
          .hover
          =image_tag("sephora_collection/home/lip_1.jpg")
      .box.mascara.animate.box-animation.box-2
        %a{:href => sephora_collection_outrageus_land_path}
          .hover
          =image_tag("sephora_collection/home/mascara_1.jpg")
      .box.foundation.animate.box-animation.box-3
        %a{:href => sephora_collection_foundation_land_path}
          .hover
          =image_tag("sephora_collection/home/foundation_1.jpg")
      .box.lip.animate.box-animation.box-1
        %a{:href => sephora_collection_rouge_land_path}
          .hover
          =image_tag("sephora_collection/home/lip_2.jpg")
      .box.mascara.animate.box-animation.box-2
        %a{:href => sephora_collection_outrageus_land_path}
          .hover
          =image_tag("sephora_collection/home/mascara_2.jpg")
      .box.foundation.animate.box-animation.box-3
        %a{:href => sephora_collection_foundation_land_path}
          .hover
          =image_tag("sephora_collection/home/foundation_2.jpg")
  #cta-holder
    .cta.eventos
      %a{:href => "/tiendas"}
        =image_tag("sephora_collection/home/banner_eventos.png");
    .cta.promociones
      %a{:href => sephora_collection_promociones_path}
        =image_tag("sephora_collection/home/promos_banner.png");