#vista{:vista=>"index"}
  #section-head
  #box-holder
    .box.lip.box-animation.box-1
      %a{:href => "#"}
        .hover
        =image_tag("sephora_collection/home/lip_1.jpg")
    .box.mascara.box-animation.box-2
      %a{:href => "#"}
        .hover
        =image_tag("sephora_collection/home/mascara_1.jpg")
    .box.foundation.box-animation.box-3
      %a{:href => "#"}
        .hover
        =image_tag("sephora_collection/home/foundation_1.jpg")
  #cta-holder
    .cta.eventos
      =image_tag("sephora_collection/home/banner_eventos.png");
    .cta.promociones
      =image_tag("sephora_collection/home/promos_banner.png");