#vista{:vista=>"maquillaje"}
  #section-head
  #banner-holder
    .banner
  #square-holder
    #square-sec-1
      .square
        .hover
      .square
        .hover
      .square
        .hover
      .square
        .hover
      .square
        .hover
      .square
        .hover
    #square-sec-2
      .square.big
        .hover
      .square
        .hover
