#vista{:vista=>"outrageous-land"}
  #section-head
  #section-1
    .asset-2.animate.circle_animation
      =image_tag("sephora_collection/outrageous_land/circle.png");
    .asset-1.animate.outrageous_animation
      =image_tag("sephora_collection/outrageous_land/ps_outrageous.png");
  #section-2
    .more-info
  #section-3
    %h3.protip
    %ul#pro-tip
      %li{:class => "tips_1"}
        %figure
          =image_tag("sephora_collection/outrageous_land/tip1.jpg")
        %p{:class => "flyout_1 oculto"}
          %strong
            1
          %br
          Para intensificarlas: jala con uno de los lados de la brocha hacia arriba, de la raíz a la punta.
      %li{:class => "tips_2"}
        %figure
          =image_tag("sephora_collection/outrageous_land/tip2.jpg")
        %p{:class => "flyout_2 oculto"}
          %strong
            2
          %br
          Para separarlas: hazlo con la punta de la brocha, su forma ayudará a crear pestañas definidas.
      %li{:class => "tips_3"}
        %figure
          =image_tag("sephora_collection/outrageous_land/tip3.jpg")
        %p{:class => "flyout_3 oculto"}
          %strong
            3
          %br
          Para un efecto curvo: presiona la brocha suavemente en la punta de las pestañas por unos segundos.
    %h3.atrevete
    #section-4
      #atrevete
        .asset-3
          = link_to image_tag("sephora_collection/outrageous_land/explora1.jpg"), "http://sephora.com.mx/producto/outrageous-volume-mascara-blue-3378872076094"
          .asset_title
            Outrageous Volume Mascara Blue
        .asset-4
          = link_to image_tag("sephora_collection/outrageous_land/explora2.jpg"), "http://sephora.com.mx/producto/p-l-masc-trpact-blk-1228048"
          .asset_title
            Full Action Extreme Effect Mascara- Black