#vista{:vista => "promociones", :class => @collection}
  #section-head{:class => "promo_head"}
  #box-holder
    #imagen_izq{:class => "b"}
      = image_tag ('sephora_collection/promociones/banner_diva_promos.png')
    #imagen_der
      = image_tag ('sephora_collection/promociones/banner_sc_promos.png')
    = image_tag ('sephora_collection/promociones/banner_regalos.png')
