#vista{:vista=>"rouge-land"}
  #section-1
    .asset-1.animate.rouge_animation
      =image_tag("sephora_collection/rouge_land/ps_rouge.png");
    .asset-2.animate.circle_animation
      =image_tag("sephora_collection/rouge_land/circle.png");
  #section-2
    .more-info
      %h3 ¿Quieres Más?
      %p
        Logra una cobertura construible para un look natural, sofisticado o glamoroso,
        %br
        %strong
          ¡Tu decides!
  #section-3
    %h3
      PRO
      %strong
        TIP
    %ul#pro-tip
      %li
        %figure
          =image_tag("sephora_collection/rouge_land/tip1.jpg")
        %p
          %strong
            1
          %br
          Comienza en el centro de los labios y suavemente extiendelo hacia los bordes de los labios.
      %li
        %figure
          =image_tag("sephora_collection/rouge_land/tip2.jpg")
        %p
          %strong
            2
          %br
          Para evitar qe se extienda más allá de los bordes de los labios, delinealos antes de aplicar tu Rouge Infusion Lip Ink.
      %li
        %figure
          =image_tag("sephora_collection/rouge_land/tip3.jpg")
        %p
          %strong
            3
          %br
          Para un color más intenso, aplica más capas de Rouge Infusion, espera un par de segundos entre cada aplicación y para un acabado suave con una aplicación es suficiente.
    #video
