#vista{:vista=>"rouge-land"}
  #section-head
  #section-1
    .asset-1.animate.rouge_animation
      =image_tag("sephora_collection/rouge_land/ps_rouge.png");
    .asset-2.animate.circle_animation
      =image_tag("sephora_collection/rouge_land/circle.png");
  #section-2
    .more-info
  #section-3
    %h3.protip
    %ul#pro-tip
      %li{:class => "tips_1"}
        %figure
          =image_tag("sephora_collection/rouge_land/tip1.jpg")
        %p{:class => "flyout_1 oculto"}
          %strong
            1
          %br
          Comienza en el centro de los labios y suavemente extiendelo hacia los bordes de los labios.
      %li{:class => "tips_2"}
        %figure
          =image_tag("sephora_collection/rouge_land/tip2.jpg")
        %p{:class => "flyout_2 oculto"}
          %strong
            2
          %br
          Para evitar qe se extienda más allá de los bordes de los labios, delinealos antes de aplicar tu Rouge Infusion Lip Ink.
      %li{:class => "tips_3"}
        %figure
          =image_tag("sephora_collection/rouge_land/tip3.jpg")
        %p{:class => "flyout_3 oculto"}
          %strong
            3
          %br
          Para un color más intenso, aplica más capas de Rouge Infusion, espera un par de segundos entre cada aplicación y para un acabado suave con una aplicación es suficiente.
    #video
      %h3.video
      %object{data: "http://vimeo.com/moogaloop.swf?clip_id=99481468&server=vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=00adef&fullscreen=1", type: "application/x-shockwave-flash"}
        %param{name: "wmode", value: "transparent"}
        %param{name: "allowFullScreen", value: "true"}
        %param{name: "portrait", value:"false"}
        %param{name: "title", value:"false"}
        %param{name: "byline", value:"false"}
        %param{name: "badge", value:"false"}