#footer
  #footin
    #links
      %ul.nobullet.nolist.seplist
        %li 
          =link_to "Contacto",  "mailto:atencion@sephora.com", :target => "_blank"
        %li Mapa del sitio
        %li
          =link_to "Poĺítica de privacidad", politicas_path
        %li
          =link_to "Politica de devoluciones", politicas_privacidad_path
        %li
          =link_to "Empleo",  "mailto:talento@sephora.com", :target => "_blank"
    #internacional
      %a.middle{:href => 'http://www.sephora.com/international/international.jsp', :target => '_blank'} Internacional
      %span.icon
    #registro_popup.animated.fadeIn
      .texto-gracias
        ¡GRACIAS!
      .txt_registro_popup
  -if @popup.present?
    #btn_mail_enviar.animated.slideInUp
      =image_tag 'registro_btn.png'