=image_tag("landings/beautyfair/5.png", {class: "letras-sephora-antara cinco"})
=image_tag("landings/beautyfair/message-1.jpg", {class: "letras-sephora-antara message-1"})
=image_tag("landings/beautyfair/message-2.jpg", {class: "letras-sephora-antara message-2"})
=image_tag("landings/beautyfair/message-3.jpg", {class: "letras-sephora-antara message-3"})
=image_tag("landings/beautyfair/message-4.jpg", {class: "letras-sephora-antara message-4"})
#letras-tour
  .antara=image_tag("landings/beautyfair/antara.png", {class: "letras-sephora-antara antara"})
:scss
  .letras-sephora-antara{
    &.antara {
      position: absolute;
      top: 60%;
      right: 5%;
    }
    &.message-1{
      position: absolute;
      top: 15.6%;
      right: 0;
    }
    &.message-2{
      position: absolute;
      top: 24%;
      right: 0;
    }
    &.message-3{
      position: absolute;
      top: 31.9%;
      right: 0;
    }
    &.message-4{
      position: absolute;
      top: 40.6%;
      right: 0;
    }
    &.cinco{
      position: absolute;
      top: 14%;
      right: 410px;
    }
  }