#letras-tour
  .antea
    .display-ad
      =link_to("", "https://www.facebook.com/sephoramexico/?brand_redir=16453004404", {class: "rs facebook", target: "_blank"})
      =link_to("", "https://twitter.com/SephoraMX?lang=en", {class: "rs twitter", target: "_blank"})
      =link_to("", "https://www.instagram.com/sephoramx/", {class: "rs instagram", target: "_blank"})
