#letras-home
  .hidden-sm
    =image_tag("landings/beautyfair/letras-sephora.png", {class: "letras-sephora"})
    =image_tag("landings/beautyfair/letras-beautyfair.png", {class: "letras-beautyfair"})
    =image_tag("landings/beautyfair/letras-tour.png", {class: "letras-tour"})
    =link_to image_tag("landings/beautyfair/boton-comienza.jpg", {class: "boton-comienza"}), beautyfair_tour_path
    =image_tag("landings/beautyfair/letras-cinco.png", {class: "letras-cinco"})
    .clearfix
  .hidden-md.hidden-lg
    =image_tag("landings/beautyfair/letras-home.png", {class: "letras-home"})
    =link_to image_tag("landings/beautyfair/boton-comienza.jpg"), beautyfair_tour_path, {class: "boton-comienza"}